<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/assets/images/favicon_dark.svg" type="image/x-icon">
   <title><%= title %></title>
   <meta name="keywords" content="creative, agency, portfolio">
   <meta name="description" content="Scalelot - Treat With Technologies">
   <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/assets/vendor/glyyphter/css/scalelot.css">
   <link rel="stylesheet" href="/assets/vendor/font-awesome/css/all.css">
   <link rel="stylesheet" href="/assets/vendor/nice-select/css/nice-select.css">
   <link rel="stylesheet" href="/assets/vendor/magnific-popup/css/magnific-popup.css">
   <link rel="stylesheet" href="/assets/vendor/slick/css/slick.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
   <link rel="stylesheet" href="/assets/css/main.min.css">
   <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
   <script src="/angular/angular.min.js"></script>
   <script src="/javascripts/constants.js"></script>
   <script src="/javascripts/filters.js"></script>
   <script src="/javascripts/services.js"></script>
   <script src="/javascripts/directives.js"></script>
   <script src="/intl-tel-input/dist/ng-intl-tel-input.min.js" ></script>
   <script src="/intl-tel-input/ng-intl-tel-input.module.js" ></script>
   <script src="/intl-tel-input/ng-intl-tel-input.provider.js" ></script>
   <script src="/intl-tel-input/ng-intl-tel-input.directive.js" ></script>
   <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="javascripts/controllers/career.controller.js"></script>
</head>