<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/assets/images/favicon_dark.svg" type="image/x-icon">
   <%if (page == 'aboutus') { %>
      
   <% } else if(page == 'blog') {%>

   <% } else if(page == 'career') {%>

   <% } else if(page == 'contactus') {%>

   <% } else if(page == 'faq') {%>

   <% } else if(page == 'feedback') {%>

   <% } else if(page == 'home') {%>
      <title>Mobile App | UI UX | Web Development | Graphic Design | Scalelot</title>
      <meta name="title" content=" Mobile App | UI UX | Web Development | Graphic Design | Scalelot Scalelot">
      <meta name="description" content="Scalelot Technologies, a leading IT solutions provider, offers mobile app, UI\UX, web design & development, graphic design, and digital marketing services.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Mobile App Development Company, Website Development Company, Scalelot">
   <% } else if(page == 'portfolio') {%>

   <% } else if(page == 'services') {%>

   <% } else if(page == 'services') {%>

   <% } else if(page == 'web_dev_service') {%>

   <% } else if(page == 'app_dev_service') {%>

   <% } else if(page == 'uiux_service') {%>

   <% } else if(page == 'digital_service') {%>

   <% } else if(page == 'content_service') {%>
                     
   <% } else if(page == 'team') {%>

   <% } else { %>
      <title><%= title %></title>
   <% } %>
   <meta name="keywords" content="creative, agency, portfolio">
   <meta name="description" content="Scalelot - Treat With Technologies">
   <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/assets/vendor/glyyphter/css/scalelot.css">
   <link rel="stylesheet" href="/assets/vendor/font-awesome/css/all.css">
   <link rel="stylesheet" href="/assets/vendor/nice-select/css/nice-select.css">
   <link rel="stylesheet" href="/assets/vendor/magnific-popup/css/magnific-popup.css">
   <link rel="stylesheet" href="/assets/vendor/slick/css/slick.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
   <link rel="stylesheet" href="/assets/css/main.min.css">
   <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
   <script src="/angular/angular.min.js"></script>
   <script src="/javascripts/constants.js"></script>
   <script src="/javascripts/filters.js"></script>
   <script src="/javascripts/services.js"></script>
   <script src="/javascripts/directives.js"></script>
   <script src="/intl-tel-input/dist/ng-intl-tel-input.min.js" ></script>
   <script src="/intl-tel-input/ng-intl-tel-input.module.js" ></script>
   <script src="/intl-tel-input/ng-intl-tel-input.provider.js" ></script>
   <script src="/intl-tel-input/ng-intl-tel-input.directive.js" ></script>
   <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="javascripts/controllers/career.controller.js"></script>
</head>