<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/assets/images/favicon_dark.svg" type="image/x-icon">
   <%if (page == 'aboutus') { %>
      <title>IT Solutions Provider | UI UX | App & Web Development | Scalelot</title>
      <meta name="title" content="IT Solutions Provider | UI UX | App & Web Development | Scalelot">
      <meta name="description" content="About Scalelot Technologies is a software development company in India that specializes in app design, web design, UI/UX design, and digital marketing services.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="App Design, Web Design">
      <!-- Og tag  -->
      <meta property="og:title" content="IT Solutions Provider | UI UX | App & Web Development | Scalelot">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/aboutus">
      <meta property="og:description" content="We offer the best services for your growth in Website design & development, App development, UX/UI, Digital marketing, and Content creation | Scalelot">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="IT Solutions Provider | UI UX | App & Web Development | Scalelot">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="We offer the best services for your growth in Website design & development, App development, UX/UI, Digital marketing, and Content creation | Scalelot">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="IT Solutions Provider | UI UX | App & Web Development | Scalelot">
      <!-- links  -->
      <link rel="alternate" hreflang="en-IN" href="https://scalelot.com/in/about-us"/>
      <link rel="alternate" hreflang="en-US" href="https://scalelot.com/us/about-us"/>
      <link rel="alternate" hreflang="en-CA" href="https://scalelot.com/ca/about-us"/>
      <link rel="alternate" hreflang="fr-FR" href="https://scalelot.com/fr/about-us"/>
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/aboutus" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "About Us",
             "item": "https://scalelot.com/aboutus"  
           }]
         }
      </script>
   <% } else if(page == 'blog') {%>
      <title>Blogs To Help Improve Your Knowledge About New Technologies</title>
      <meta name="title" content=" Blogs To Help Improve Your Knowledge About New Technologies">
      <meta name="description" content="Reading interesting blogs helps improve your knowledge about new technologies with the latest updates on what is happening in the real world.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Blogs, Improve Your Knowledge, New Technologies">
      <!-- Og tag  -->
      <meta property="og:title" content="Blogs To Help Improve Your Knowledge About New Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/blog">
      <meta property="og:description" content=" Reading interesting blogs helps improve your knowledge about new technologies with the latest updates on what is happening in the real world.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Blogs To Help Improve Your Knowledge About New Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Reading interesting blogs helps improve your knowledge about new technologies with the latest updates on what is happening in the real world.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Blogs To Help Improve Your Knowledge About New Technologies">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/blog" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Blog",
             "item": "https://www.scalelot.com/blog"  
           }]
         }
      </script>
   <% } else if(page == 'career') {%>
      <title>Career | Job Vacancies | Job Openings at Scalelot Technologies</title>
      <meta name="title" content=" Career | Job Vacancies | Job Openings at Scalelot Technologies">
      <meta name="description" content="Visit our careers page to discover the latest job vacancies at Scalelot Technologies in Surat, India across departments. Apply to build your career with us.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Career, Job Vacancies">
      <!-- Og Tag  -->
      <meta property="og:title" content="Career | Job Vacancies | Job Openings at Scalelot Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/career">
      <meta property="og:description" content="Visit our careers page to discover the latest job vacancies at Scalelot Technologies in Surat, India across departments. Apply to build your career with us.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Career | Job Vacancies | Job Openings at Scalelot Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Visit our careers page to discover the latest job vacancies at Scalelot Technologies in Surat, India across departments. Apply to build your career with us.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Career,Scalelot Technologies">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/career" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Career",
             "item": "https://www.scalelot.com/career"  
           }]
         }
      </script>
   <% } else if(page == 'contactus') {%>
      <title>Contact Us | Get in Touch with Scalelot Technologies | IT Solutions</title>
      <meta name="title" content=" Contact Us | Get in Touch with Scalelot Technologies | IT Solutions">
      <meta name="description" content="Get in Touch with Scalelot Technologies to get custom software solutions that can supersede your existing solutions for mobile and website. Contact Us !!!">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Contact Us, Get in Touch, +91 87803 33608">
      <!-- Og tag -->
      <meta property="og:title" content="Contact Us | Get in Touch with Scalelot Technologies | IT Solutions">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/contactus">
      <meta property="og:description" content="Get in Touch with Scalelot Technologies to get custom software solutions that can supersede your existing solutions for mobile and website. Contact Us !!!">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Contact Us | Get in Touch with Scalelot Technologies | IT Solutions">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Get in Touch with Scalelot Technologies to get custom software solutions that can supersede your existing solutions for mobile and website. Contact Us !!!">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Contact Us">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/contactus" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Contact Us",
             "item": "https://www.scalelot.com/contactus"  
           }]
         }
      </script>
   <% } else if(page == 'faq') {%>
      <title>FAQs | Frequently Asked Questions | Scalelot Technologies</title>
      <meta name="title" content=" FAQ | Frequently Asked Question | Scalelot Technologies">
      <meta name="description" content="Frequently Asked Questions - FAQs about Scalelot Technologies and our IT solutions & digital marketing services. Find out who we are and what we offer. ">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="FAQ, Frequently Asked Question">
      <!-- Og tag  -->
      <meta property="og:title" content="FAQs | Frequently Asked Questions | Scalelot Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/faq">
      <meta property="og:description" content="Frequently Asked Questions - FAQs about Scalelot Technologies and our IT solutions & digital marketing services. Find out who we are and what we offer. ">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="FAQs | Frequently Asked Questions | Scalelot Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Frequently Asked Questions - FAQs about Scalelot Technologies and our IT solutions & digital marketing services. Find out who we are and what we offer.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Frequently Asked Question - FAQ">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/faq" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "FAQ",
             "item": "https://www.scalelot.com/faq"  
           }]
         }
      </script>
   <% } else if(page == 'feedback') {%>
      <title>Client Testimonials | App & Web Services | Scalelot Technologies</title>
      <meta name="title" content=" Client Testimonials | App & Web Services | Scalelot Technologies">
      <meta name="description" content="Read Client testimonials, feedback, reviews, and recommendations to learn about the experiences they have had with our services | Scalelot Technologies">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Client Testimonials, App Services, Web Services">
      <!-- og tag   -->
      <meta property="og:title" content="Client Testimonials | App & Web Services | Scalelot Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/feedback">
      <meta property="og:description" content="Read Client testimonials, feedback, reviews, and recommendations to learn about the experiences they have had with our services | Scalelot Technologies. ">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Client Testimonials | App & Web Services | Scalelot Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Read Client testimonials, feedback, reviews, and recommendations to learn about the experiences they have had with our services | Scalelot Technologies.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Client Testimonials">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/feedback" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Testimonials",
             "item": "https://www.scalelot.com/feedback"  
           }]
         }
      </script>
   <% } else if(page == 'home') {%>
      <title>Mobile App | UI UX | Web Development | Graphic Design | Scalelot</title>
      <meta name="title" content=" Mobile App | UI UX | Web Development | Graphic Design | Scalelot Scalelot">
      <meta name="description" content="Scalelot Technologies, a leading IT solutions provider, offers mobile app, UI\UX, web design & development, graphic design, and digital marketing services.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Mobile App Development Company, Website Development Company, Scalelot">
      <!-- ogtag -->
      <meta property="og:type" content="website">
      <meta property="og:title" content="Mobile App | UI UX | Web Development | Graphic Design | Scalelot">
      <meta property="og:url" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image" content="https://www.scalelot.com/">
      <meta property="og:description" content="Scalelot Technologies, a leading IT solutions provider, offers mobile app, UI\UX, web design & development, graphic design, and digital marketing services">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Mobile App | UI UX | Web Development | Graphic Design | Scalelot">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Scalelot Technologies, a leading IT solutions provider, offers mobile app, UI\UX, web design & development, graphic design, and digital marketing services.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Mobile App | UI UX | Web Development | Graphic Design | Scalelot">
      <!-- links  -->
      <link rel="alternate" hreflang="en-IN" href="https://scalelot.com/in/"/>
      <link rel="alternate" hreflang="en-US" href="https://scalelot.com/us/"/>
      <link rel="alternate" hreflang="en-CA" href="https://scalelot.com/ca/"/>
      <link rel="alternate" hreflang="fr-FR" href="https://scalelot.com/fr/"/>
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://scalelot.com/"  
           }
           ]
         }
      </script>
     
   <% } else if(page == 'portfolio') {%>
      <title>App Development, Web Design & Development Portfolio | Scalelot </title>
      <meta name="title" content=" App Development, Web Design & Development Portfolio | Scalelot"> 
      <meta name="description" content="You can see our portfolio consists of customized mobile app development, website development, web app development, graphics design, and UI UX design.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="App Development Portfolio, Web Development Portfolio, Scalelot Technologies">
      <!-- Og tag  -->
      <meta property="og:title" content="App Development, Web Design & Development Portfolio | Scalelot ">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/portfolio">
      <meta property="og:description" content="Check out our portfolio of varied customized mobile applications, websites, and UI/UX designs crafted by our expert team members for our valuable clients.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="App Development, Web Design & Development Portfolio | Scalelot">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Check out our portfolio of varied customized mobile applications, websites, and UI/UX designs crafted by our expert team members for our valuable clients.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="App & Web Development Portfolio">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/portfolio" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Portfolio",
             "item": "https://www.scalelot.com/portfolio"  
           }]
         }
      </script>
   <% } else if(page == 'services') {%>
      <title>Website & Mobile App Development Services In India | Scalelot</title>
      <meta name="title" content=" Website & Mobile App Development Services In India | Scalelot">
      <meta name="description" content="Scalelot Technologies offers a full range of advanced website development services and mobile app development services providers in India.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Website Development Services, Mobile App Development Services">
      <!-- Og Tag  -->
      <meta property="og:title" content="UI UX design, App & Web Development, Digital Marketing, Scalelot">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://scalelot.com/services">
      <meta property="og:description" content="Our services include Website design & development, Application development, UX/UI design, Digital marketing, and Content writing & creation | Scalelot">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="UI UX design, App & Web Development, Digital Marketing, Scalelot">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Our services include Website design & development, Application development, UX/UI design, Digital marketing, and Content writing & creation | Scalelot">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="UI UX design, App & Web Development, Digital Marketing, Scalelot ">
      <!-- links  -->
      <link rel="alternate" hreflang="en-IN" href="https://scalelot.com/in/services"/>
      <link rel="alternate" hreflang="en-US" href="https://scalelot.com/us/services"/>
      <link rel="alternate" hreflang="en-CA" href="https://scalelot.com/ca/services"/>
      <link rel="alternate" hreflang="fr-FR" href="https://scalelot.com/fr/services"/>
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/services" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Services",
             "item": "https://scalelot.com/services"  
           }]
         }
      </script>
   <% } else if(page == 'web_dev_service') {%>
      <title>Website Design and Development Services | Scalelot Technologies</title>
      <meta name="title" content="Website Design and Development Services | Scalelot Technologies">
      <meta name="description" content="Take your business to the next level with our premium website design and development services. Choose Scalelot Technologies as your partner in growth.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Website Design, Development Services ,Scalelot Technologies">
      <!-- Ogtag  -->
      <meta property="og:title" content="Website Design and Development Services | Scalelot Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/services/webdevelopment">
      <meta property="og:description" content="Take your business to the next level with our premium website design and development services. Choose Scalelot Technologies as your partner in growth.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Website Design and Development Services | Scalelot Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Take your business to the next level with our premium website design and development services. Choose Scalelot Technologies as your partner in growth.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Website Design and Development Services | Scalelot Technologies">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/services/webdevelopment" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "About Us",
             "item": "https://scalelot.com/services"  
           },{
             "@type": "ListItem", 
             "position": 3, 
             "name": "Webdevelopment",
             "item": "https://scalelot.com/services/webdevelopment"  
           }]
         }
      </script>
   <% } else if(page == 'app_dev_service') {%>
      <title>Mobile App Development Company In India | Scalelot Technologies</title>
      <meta name="title" content=" Superior Application Design & Development | Scalelot Technologies">
      <meta name="description" content="Build an interactive and easy-to-use mobile application with our app development and design services. Innovate and succeed with Scalelot Technologies.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Mobile App Development Company In India">
      <!-- Og Tag  -->
      <meta property="og:title" content="Superior Application Design & Development | Scalelot Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/services/applicationdevelopment">
      <meta property="og:description" content="Build an interactive and easy-to-use mobile application with our app development and design services. Innovate and succeed with Scalelot Technologies. ">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Superior Application Design & Development | Scalelot Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Build an interactive and easy-to-use mobile application with our app development and design services. Innovate and succeed with Scalelot Technologies.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content=" App Development Company In India">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/services/applicationdevelopment" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "About Us",
             "item": "https://scalelot.com/services"  
           },{
             "@type": "ListItem", 
             "position": 3, 
             "name": "Applicationdevelopment",
             "item": "https://scalelot.com/services/applicationdevelopment"  
           }]
         }
      </script>
   <% } else if(page == 'uiux_service') {%>
      <title>Get Superior UI and UX Design Services at Scalelot Technologies</title>
      <meta name="title" content="Get Superior UI and UX Design Services at Scalelot Technologies">
      <meta name="description" content="Build attractive and easy-to-understand user interfaces and user experience with our UI/UX design services. Innovate and Grow with Scalelot Technologies.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Best UI & UX Design Company, Scalelot Technologies">
      <!-- og Tag  -->
      <meta property="og:title" content="Get Superior UI and UX Design Services at Scalelot Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/services/uiuxdesign">
      <meta property="og:description" content="Build attractive and easy-to-understand user interfaces and user experience with our UI/UX design services. Innovate and Grow with Scalelot Technologies.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Get Superior UI and UX Design Services at Scalelot Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Build attractive and easy-to-understand user interfaces and user experience with our UI/UX design services. Innovate and Grow with Scalelot Technologies.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Best UI & UX Design Company In India">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/services/uiuxdesign" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "About Us",
             "item": "https://scalelot.com/services"  
           },{
             "@type": "ListItem", 
             "position": 3, 
             "name": "Ui/ux Design",
             "item": "https://scalelot.com/services/uiuxdesign"  
           }]
         }
      </script>
   <% } else if(page == 'digital_service') {%>
      <title>Get Effective Digital Marketing Services at Scalelot Technologies</title>
      <meta name="title" content="Get Effective Digital Marketing Services at Scalelot Technologies">
      <meta name="description" content="Scalelot offers excellent digital marketing services for high-ROI. Pay-per-click ads, Social Media Marketing, Branding, SEO, Email, and Message Marketing.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Digital Marketing Services, Scalelot Technologies">
      <!-- Og tag  -->
      <meta property="og:title" content="Get Effective Digital Marketing Services at Scalelot Technologies">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/services/digitalmarketing">
      <meta property="og:description" content="Scalelot offers excellent digital marketing services for high-ROI. Pay-per-click ads, Social Media Marketing, Branding, SEO, Email, and Message Marketing.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter tag -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Get Effective Digital Marketing Services at Scalelot Technologies">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Scalelot offers excellent digital marketing services for high-ROI. Pay-per-click ads, Social Media Marketing, Branding, SEO, Email, and Message Marketing.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Digital Marketing Services at Scalelot Technologies">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/services/digitalmarketing" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Services",
             "item": "https://www.scalelot.com/services"  
           },{
             "@type": "ListItem", 
             "position": 3, 
             "name": "Digitalmarketing",
             "item": "https://www.scalelot.com/services/digitalmarketing"  
           }]
         }
      </script>
   <% } else if(page == 'content_service') {%>
      <title>Outstanding Content Writing & Content Creation Services | Scalelot</title>
      <meta name="title" content="Outstanding Content Writing & Content Creation Services | Scalelot">
      <meta name="description" content="Acquire exceptional content creation services for blogs, articles, product descriptions, social media, brochures, websites, apps, YouTube, posts, and reels.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Outstanding Content Writing, Content Creation Services,Scalelot">    
      <!-- Og tag            -->
      <meta property="og:title" content="Outstanding Content Writing & Content Creation Services | Scalelot">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/services/contentcreation">
      <meta property="og:description" content="Acquire exceptional content creation services for blogs, articles, product descriptions, social media, brochures, websites, apps, YouTube, posts, and reels.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter  tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Outstanding Content Writing & Content Creation Services | Scalelot">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Acquire exceptional content creation services for blogs, articles, product descriptions, social media, brochures, websites, apps, YouTube, posts, and reels.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Outstanding Content Writing & Content Creation Services">
      <!-- Canonical -->
      <link rel="canonical" href="https://www.scalelot.com/services/contentcreation" />
      <!-- script -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Services",
             "item": "https://www.scalelot.com/services"  
           },{
             "@type": "ListItem", 
             "position": 3, 
             "name": "Contentcreation",
             "item": "https://www.scalelot.com/services/contentcreation"  
           }]
         }
      </script>
   <% } else if(page == 'team') {%>
      <title>Scalelot Technologies Team | Coders, Designers, and Marketers</title>
      <meta name="title" content="Scalelot Technologies Team | Coders, Designers, and Marketers">
      <meta name="description" content="Meet our geniuses at Scalelot Technologies, a team of programmers, designers, content creators, marketers, and managers with expertise in their areas.">
      <meta name="author" content="Scalelot Technologies">
      <meta name="copyright" content="Scalelot Technologies">
      <meta name="robots" content="index, follow">
      <meta name="googlebot" content="index,follow" />
      <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
      <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
      <meta name="Googlebot-Video" content="max-video-preview:-1">
      <meta name="yahoobot" content="index, follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="rating" content="general">
      <meta name="keywords" content="Scalelot Technologies, Team Coders, Designers, Marketers">
      <!-- Og tag  -->
      <meta property="og:title" content="Scalelot Technologies Team | Coders, Designers, and Marketers">
      <meta property="og:site_name" content="Scalelot Technologies">
      <meta property="og:url" content="https://www.scalelot.com/team">
      <meta property="og:description" content="Meet our geniuses at Scalelot Technologies, a team of programmers, designers, content creators, marketers, and managers with expertise in their areas.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta property="og:image:width" content="290"/>
      <meta property="og:image:height" content="62"/>
      <!-- twitter  tag  -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Scalelot Technologies Team | Coders, Designers, and Marketers">
      <meta name="twitter:site" content="@ScalelotT"> 
      <meta name="twitter:creator" content="@ScalelotT"/>
      <meta name="twitter:description" content="Meet our geniuses at Scalelot Technologies, a team of programmers, designers, content creators, marketers, and managers with expertise in their areas.">
      <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
      <meta name="twitter:image:alt" content="Scalelot Technologies Team">
      <!-- Canonical-->
      <link rel="canonical" href="https://www.scalelot.com/team" />
      <!-- script  -->
      <script type="application/ld+json">
         {
           "@context": "https://schema.org/", 
           "@type": "BreadcrumbList", 
           "itemListElement": [{
             "@type": "ListItem", 
             "position": 1, 
             "name": "Home",
             "item": "https://www.scalelot.com/"  
           },{
             "@type": "ListItem", 
             "position": 2, 
             "name": "Team",
             "item": "https://www.scalelot.com/team"  
           }]
         }
      </script>
   <% } else { %>
      <title><%= title %></title>
   <% } %>
   <meta name="keywords" content="creative, agency, portfolio">
   <meta name="description" content="Scalelot - Treat With Technologies">
   <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/vendor/glyyphter/css/scalelot.css">
   <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.css">
   <link rel="stylesheet" href="assets/vendor/nice-select/css/nice-select.css">
   <link rel="stylesheet" href="assets/vendor/magnific-popup/css/magnific-popup.css">
   <link rel="stylesheet" href="assets/vendor/slick/css/slick.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
   <link rel="stylesheet" href="assets/css/main.min.css">
   <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">
   <script src="angular/angular.min.js"></script>
   <script src="javascripts/constants.js"></script>
   <script src="javascripts/filters.js"></script>
   <script src="javascripts/services.js"></script>
   <script src="javascripts/directives.js"></script>
   <script src="intl-tel-input/dist/ng-intl-tel-input.min.js" ></script>
   <script src="intl-tel-input/ng-intl-tel-input.module.js" ></script>
   <script src="intl-tel-input/ng-intl-tel-input.provider.js" ></script>
   <script src="intl-tel-input/ng-intl-tel-input.directive.js" ></script>
   <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="javascripts/controllers/career.controller.js"></script>


   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-W1RF364RQ2"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'G-W1RF364RQ2');
   </script>
   <!-- Google tag End (gtag.js) -->


   <!-- Website Schema start -->
   <!-- Local Business -->
   <script type="application/ld+json">
      {
      @context: "https://schema.org",
      @type: "LocalBusiness",
      name: "Scalelot",
      image: "https://www.scalelot.com/assets/images/logo.svg",
      @id: "https://scalelot.com/",
      url: "",
      telephone: "+91-878-033-3608",
      priceRange: "$$$",
      address: {
      @type: "PostalAddress",
      streetAddress: "First Floor, Beside Tapi Darshan Gate-1 Causeway Circle, Singanpor Rd, Katargam",
      addressLocality: "Surat",
      postalCode: "395004",
      addressCountry: "IN"
      },
      geo: {
      @type: "GeoCoordinates",
      latitude: 21.221372201387922,
      longitude: 72.8087586882531
      },
      openingHoursSpecification: {
      @type: "OpeningHoursSpecification",
      dayOfWeek: [
      Monday,
      Tuesday,
      Wednesday,
      Thursday,
      Friday,
      Saturday
      ],
      opens: "09:00",
      closes: "20:00"
      },
      sameAs: [
      https://www.facebook.com/scalelottech/,
      https://twitter.com/ScalelotT,
      https://www.instagram.com/scalelot_technologies/,
      https://www.linkedin.com/company/scalelot-technologies/,
      https://www.youtube.com/channel/UCD42lBJpqpolmF8OR_xdxlg/
      ]
      }
      </script>
      <!-- Website -->
      <script type="application/ld+json">
         {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Scalelot Technologies",
            "url": "https://scalelot.com/",
            "potentialAction": {
               "@type": "SearchAction",
               "target": "https://scalelot.com/{search_term_string}",
               "query-input": "required name=search_term_string"
            }
         }
      </script>
      <!-- Organization -->
      <script type="application/ld+json">
         {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Scalelot Technologies",
            "alternateName": "Scalelot",
            "url": "https://scalelot.com/",
            "logo": "https://www.scalelot.com/assets/images/logo.svg",
            "sameAs": [
               "https://www.facebook.com/scalelottech/",
               "https://twitter.com/ScalelotT",
               "https://www.instagram.com/scalelot_technologies/",
               "https://www.linkedin.com/company/scalelot-technologies/",
               "https://www.youtube.com/channel/UCD42lBJpqpolmF8OR_xdxlg/"
            ]
         }
      </script>
      <!-- Logo -->
      <script type="application/ld+json">{"@context":"https://schema.org","@type":"Organization","name":"Scalelot Technologies","alternateName":"Scalelot Technologies","url":"https://www.scalelot.com/assets/images/logo.svg","logo":"https://www.scalelot.com/assets/images/logo.svg"}</script>
      <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NZ5P5ZLR');
    </script>
    <!-- End Google Tag Manager -->
</head>