<script src="javascripts/controllers/aboutus.controller.js"></script>
      <!-- ==== main start ==== -->
      <main ng-controller="aboutUsController">
         <!-- ==== banner start ==== -->
         <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
            <div class="container">
               <div class="row gaper align-items-center">
                  <div class="col-12 col-lg-5 col-xl-7">
                     <div class="text-center text-lg-start">
                        <h2 class="title title-anim">About Us</h2>
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                 <a href="/">
                                    <i class="fa-solid fa-house"></i>
                                    Home
                                 </a>
                              </li>
                              <li class="breadcrumb-item active" aria-current="page">
                                 About Us
                              </li>
                           </ol>
                        </nav>
                     </div>
                  </div>
                  <div class="col-12 col-lg-7 col-xl-5">
                     <div class="text-center text-lg-start">
                        <p class="primary-text">We are Surat-based IT Solution Providers committed to providing the best services for the growth of our valuable clients and their varied businesses.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- ==== / banner end ==== -->
         <!-- ==== video modal start ==== -->
         <div class="video-modal">
            <img src="assets/images/modal-bg.jpg" alt="Image" class="modal-bg">
            <a class="video-frame video-btn" href="https://www.youtube.com/watch?v=bqpfAofg-sQ" target="_blank">
               <img src="assets/images/video-frame-two.png" alt="Image">
               <i class="fa-sharp fa-solid fa-play"></i>
            </a>
         </div>
         <!-- ==== / video modal end ==== -->
         <!-- ==== agency start ==== -->
         <section class="section agency">
            <div class="container">
               <div class="row gaper align-items-center">
                  <div class="col-12 col-lg-6">
                     <div class="agency__thumb">
                        <img src="assets/images/agency/thumb-one.png" alt="Image" class="thumb-one fade-left">
                        <img src="assets/images/agency/thumb-two.png" alt="Image" class="thumb-two fade-right">
                     </div>
                  </div>
                  <div class="col-12 col-lg-6">
                     <div class="agency__content section__content">
                        <span class="sub-title">
                           WELCOME
                           <i class="fa-solid fa-arrow-right"></i>
                        </span>  
                        <h2 class="title title-anim">
                           Elevate, Innovate, and Thrive With Us
                        </h2>
                        <div class="paragraph">
                           <p>With expertise in Website Development, Application Development, UX/UI Design, Digital Marketing, and Content Creation, we empower our clients to succeed in the digital landscape.</p>
                        </div>
                        <div class="skill-wrap">
                           <div class="skill-bar-single">
                              <div class="skill-bar-title">
                                 <p class="primary-text">Web Design & Development</p>
                              </div>
                              <div class="skill-bar-wrapper" data-percent="90%">
                                 <div class="skill-bar">
                                    <div class="skill-bar-percent">
                                       <span class="percent-value"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="skill-bar-single">
                              <div class="skill-bar-title">
                                 <p class="primary-text">Mobile App Development</p>
                              </div>
                              <div class="skill-bar-wrapper" data-percent="90%">
                                 <div class="skill-bar">
                                    <div class="skill-bar-percent">
                                       <span class="percent-value"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="skill-bar-single">
                              <div class="skill-bar-title">
                                 <p class="primary-text">Digital Marketing</p>
                              </div>
                              <div class="skill-bar-wrapper" data-percent="90%">
                                 <div class="skill-bar">
                                    <div class="skill-bar-percent">
                                       <span class="percent-value"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="section__content-cta">
                           <a href="/aboutus" class="btn btn--primary">Know More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <img src="assets/images/star.png" alt="Image" class="star">
            <img src="assets/images//agency/dot-large.png" alt="Image" class="dot-large">
         </section>
         <!-- ==== / agency end ==== -->
         <!-- ==== team members start ==== -->
         <section class="section team-slider-s">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="section__header--secondary">
                        <div class="row gaper align-items-center">
                           <div class="col-12 col-lg-8">
                              <div class="section__header text-center text-lg-start mb-0">
                                 <!-- <span class="sub-title">
                                    our awesome crew
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span> -->
                                 <h2 class="title title-anim">our Scalelot team members</h2>
                              </div>
                           </div>
                           <div class="col-12 col-lg-4">
                              <div class="text-center text-lg-end">
                                 <a href="/team" class="btn btn--primary text-capitalize">view all
                                    teams</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="team-r position-relative">
               <div class="team-s__slider">                 
                  <!-- UK  -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/01.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                                <!-- <div class="info">
                                   <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                </div> -->
                             <h4>
                                <a href="javascript:void(0);">Uday Kyada</a>
                             </h4>
                             <p>CEO</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Uday Kyada</a>
                             </h5>
                             <p>CEO</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Our CEO, Uday Kyada, is the visionary leader behind Scalelot Technologies. Uday brings a wealth of experience and a passion for innovation to the team. His unwavering commitment to excellence and client satisfaction drives the company's success and its mission to transform businesses through technology.</p>
                          </div>
                          <!-- <div class="social">
                             <a href="https://www.facebook.com/" target="_blank"
                                aria-label="share us on facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                             </a>
                             <a href="https://www.twitter.com/" target="_blank" aria-label="share us on twitter">
                                <i class="fa-brands fa-twitter"></i>
                             </a>
                             <a href="https://www.pinterest.com/" target="_blank"
                                aria-label="share us on pinterest">
                                <i class="fa-brands fa-linkedin-in"></i>
                             </a>
                             <a href="https://www.instagram.com/" target="_blank"
                                aria-label="share us on instagram">
                                <i class="fa-brands fa-instagram"></i>
                             </a>
                          </div> -->
                       </div>
                    </div>
                  </div>
                  <!-- milan M -->
                  <div class="team-s__slider-single">
                      <div class="team-wrap">
                        <div class="thumb">
                            <a href="javascript:void(0);">
                              <img src="assets/images/teams/02.jpg" alt="Image">
                            </a>
                            <div class="thumb__content" data-background="assets/images/teams/bg.png">
                              <!-- <div class="info">
                                  <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                              </div> -->
                              <h4>
                                  <a href="javascript:void(0);">Milan Mangukiya</a>
                              </h4>
                              <p>COO</p>
                              <div class="social-alt">
                                  <a href="https://www.facebook.com/" target="_blank"
                                    aria-label="share us on facebook">
                                    <i class="fa-brands fa-facebook-f"></i>
                                  </a>
                                  <a href="https://www.twitter.com/" target="_blank"
                                    aria-label="share us on twitter">
                                    <i class="fa-brands fa-twitter"></i>
                                  </a>
                                  <a href="https://www.pinterest.com/" target="_blank"
                                    aria-label="share us on pinterest">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                  </a>
                              </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="intro">
                              <h5>
                                  <a href="javascript:void(0);">Milan Mangukiya</a>
                              </h5>
                              <p>CFO</p>
                            </div>
                            <hr>
                            <div class="inner">
                              <p>As the COO of Scalelot Technologies, Milan Mangukiya plays a pivotal role in ensuring the company's operational efficiency and strategic execution. With a keen eye for detail and a results-driven approach, he leads the day-to-day operations, streamlining processes, and fostering a culture of teamwork.</p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <!-- sagar  M-->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/03.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Sagar Miyani</a>
                             </h4>
                             <p>CMO</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Sagar Miyani</a>
                             </h5>
                             <p>CFO</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Sagar Miyani is the creative force behind our brand's digital presence. With a strategic blend of marketing expertise and a flair for innovation, he leads our marketing initiatives. His vision of connecting with audiences coupled with digital marketing strategies helps us expand our reach and engage with clients.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- parth G -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/00.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Parth Gajera</a>
                             </h4>
                             <p>Digital Marketing Head</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Parth Gajera</a>
                             </h5>
                             <p>Digital Marketing Head</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>With a wealth of experience and a keen understanding of market dynamics, Parth formulates and executes campaigns that elevate our brand presence. His innovative approach, coupled with a data-driven mindset, ensures that our marketing initiatives are not only impactful but also results-oriented.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Divya H -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/04.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Divya Hirpara</a>
                             </h4>
                             <p>Project Manager</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Divya Hirpara</a>
                             </h5>
                             <p>Project Manager</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Our Project Manager is a dynamic professional with a comprehensive skill set that includes Web design, HTML, and CSS. She plays a pivotal role in overseeing all projects, ensuring their efficient and timely completion. Her expertise ensures that each project is not only delivered on schedule but also upholds the highest standards of quality and precision.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Priyanshi K  -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/14.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Priyanshi Kacha</a>
                             </h4>
                             <p>Human Resource Manager</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Priyanshi Kacha</a>
                             </h5>
                             <p>Human Resource Manager</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>With a background in human resources and an understanding of the modern workplace, our HR Manager plays a pivotal role in sourcing, nurturing, and retaining top talent. With a focus on recruitment, talent development, employee engagement, and cultivating a positive work culture, she ensures that our employees are supported in their professional growth.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Jatin D -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/05.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Jatin Dhameliya</a>
                             </h4>
                             <p>CTO</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Jatin Dhameliya</a>
                             </h5>
                             <p>CTO</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Jatin’s expertise spans back-end development, DevOps engineering, and database administration, with a specialization in network-centric application development. Jatin is well-versed in an array of programming languages, including NodeJS, Angular, Java, and more. His proficiency in various databases, such as SQL, MongoDB, and Neo4j, coupled with cloud and CI/CD skills, make him an invaluable asset in shaping and optimizing our technical endeavors.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                   <!-- Sagar T -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/05_1.png" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <h4>
                                <a href="javascript:void(0);">Sagar Tada</a>
                             </h4>
                             <p>Sr. Shopify Developer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Sagar Tada</a>
                             </h5>
                             <p>Sr. Shopify Developer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Meet Sagar Tada, our Senior Shopify Developer, who plays a pivotal role in our website development team. With a wealth of experience, Sagar crafts visually stunning and highly functional online stores for our clients. His dedication to staying at the forefront of e-commerce trends and unwavering commitment to excellence make him an indispensable asset at Scalelot Technologies.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Lalji G -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/06.png" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Lalji Gondaliya</a>
                             </h4>
                             <p>Sr. Full-Stack Developer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Lalji Gondaliya</a>
                             </h5>
                             <p>Sr. Full-Stack Developer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Lalji is a driving force behind our development team. With extensive expertise in both front-end and back-end technologies, he creates comprehensive solutions for our clients. His commitment to innovation and proficiency in a wide range of programming languages ensures that our projects are not only well-crafted but also on the cutting edge of technology.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Raj  K-->
                  <div class="team-s__slider-single">
                     <div class="team-wrap">
                        <div class="thumb">
                           <a href="javascript:void(0);">
                              <img src="assets/images/teams/07.jpg" alt="Image">
                           </a>
                           <div class="thumb__content" data-background="assets/images/teams/bg.png">
                              <!-- <div class="info">
                                 <p>With proficiency in a myriad of programming languages like Python, Node.js, Django, FastAPI, JavaScript, HTML, and CSS, Raj is a versatile tech enthusiast. Beyond coding, his passions include backend development, technology trends, gaming, and a love for cricket.</p>
                              </div> -->
                              <h4>
                                 <a href="javascript:void(0);">Raj Kalsariya</a>
                              </h4>
                              <p>Sr. Full-Stack Developer</p>
                              <div class="social-alt">
                                 <a href="https://www.facebook.com/" target="_blank"
                                    aria-label="share us on facebook">
                                    <i class="fa-brands fa-facebook-f"></i>
                                 </a>
                                 <a href="https://www.twitter.com/" target="_blank"
                                    aria-label="share us on twitter">
                                    <i class="fa-brands fa-twitter"></i>
                                 </a>
                                 <a href="https://www.pinterest.com/" target="_blank"
                                    aria-label="share us on pinterest">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="content">
                           <div class="intro">
                              <h5>
                                 <a href="javascript:void(0);">Raj Kalsariya</a>
                              </h5>
                              <p>Sr. Full-Stack Developer</p>
                           </div>
                           <hr>
                           <div class="inner">
                              <p>With proficiency in a myriad of programming languages like Python, Node.js, Django, FastAPI, JavaScript, HTML, and CSS, Raj is a versatile tech enthusiast. Beyond coding, his passions include backend development, technology trends, gaming, and a love for cricket.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                   <!-- Mokshesh S -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/08.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>Mokshesh has extensive Full-Stack Development experience with proficiency in various coding languages, seamlessly integrating backend and frontend. He is dedicated to technology, holding government certifications in DTP and web design, as well as credentials from AWS and Google.</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Mokshesh Shah</a>
                             </h4>
                             <p>Sr. Angular Developer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Mokshesh Shah</a>
                             </h5>
                             <p>Sr. Angular Developer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Mokshesh has extensive Full-Stack Development experience with proficiency in various coding languages, seamlessly integrating backend and frontend. He is dedicated to technology, holding government certifications in DTP and web design, as well as credentials from AWS and Google.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Abhay D -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/09.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Abhay Desai</a>
                             </h4>
                             <p>Sr. ReactJS Developer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Abhay Desai</a>
                             </h5>
                             <p>Sr. ReactJS Developer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Proficient in HTML, CSS, Bootstrap, Tailwind, JavaScript, TypeScript, and ReactJS, Abhay is our esteemed Sr. ReactJS developer, instrumental in crafting dynamic and visually appealing web applications. Beyond his technical prowess, his diverse interests include health & fitness, music, and photography.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Harshil G -->
                  <div class="team-s__slider-single">
                     <div class="team-wrap">
                        <div class="thumb">
                           <a href="javascript:void(0);">
                              <img src="assets/images/teams/12.jpg" alt="Image">
                           </a>
                           <div class="thumb__content" data-background="assets/images/teams/bg.png">
                              <!-- <div class="info">
                                 <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                              </div> -->
                              <h4>
                                 <a href="javascript:void(0);">Harshil Gopani</a>
                              </h4>
                              <p>Sr. Android & Flutter Developer</p>
                              <div class="social-alt">
                                 <a href="https://www.facebook.com/" target="_blank"
                                    aria-label="share us on facebook">
                                    <i class="fa-brands fa-facebook-f"></i>
                                 </a>
                                 <a href="https://www.twitter.com/" target="_blank"
                                    aria-label="share us on twitter">
                                    <i class="fa-brands fa-twitter"></i>
                                 </a>
                                 <a href="https://www.pinterest.com/" target="_blank"
                                    aria-label="share us on pinterest">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="content">
                           <div class="intro">
                              <h5>
                                 <a href="javascript:void(0);">Harshil Gopani</a>
                              </h5>
                              <p>Sr. Android & Flutter Developer</p>
                           </div>
                           <hr>
                           <div class="inner">
                              <p>Meet Harshil, a highly skilled Android and Flutter Developer at Scalelot Technologies. Beyond his expertise in mobile app development, Harshil passionately pursues the world of UI/UX design, striving for excellence in both domains.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Dhara K -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/27.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Dhara Kyada</a>
                             </h4>
                             <p>Sr. PHP Developer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Dhara Kyada</a>
                             </h5>
                             <p>Sr. PHP Developer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Dhara, a distinguished Senior PHP Developer at Scalelot Technologies, is praised for his mastery of JavaScript, Java, Php, and Wordpress. His journey from photo editing to the world of PHP Developer reflects his unwavering dedication to crafting exceptional user experiences.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Amiraj H -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                      <div class="thumb">
                          <a href="javascript:void(0);">
                            <img src="assets/images/teams/16.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                            <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                            </div> -->
                            <h4>
                                <a href="javascript:void(0);">Amiraj Hirpara</a>
                            </h4>
                            <p>Sr. Graphic Designer</p>
                            <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                  aria-label="share us on facebook">
                                  <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                  aria-label="share us on twitter">
                                  <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                  aria-label="share us on pinterest">
                                  <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                          </div>
                      </div>
                      <div class="content">
                          <div class="intro">
                            <h5>
                                <a href="javascript:void(0);">Amiraj Hirpara</a>
                            </h5>
                            <p>Sr. Graphic Designer</p>
                          </div>
                          <hr>
                          <div class="inner">
                            <p>Proficient in Photoshop, Illustrator, and Canva, Amiraj is a creative powerhouse with a flair for visual excellence, producing stunning designs that captivate audiences. He also shines as an excellent tutor, sharing his knowledge and passion with others, and fostering growth within our team. </p>
                          </div>
                      </div>
                    </div>
                  </div>
                   <!-- Manan P -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/19.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Manan Parekh</a>
                             </h4>
                             <p>Sr. Graphic Designer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Manan Parekh</a>
                             </h5>
                             <p>Sr. Graphic Designer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>With a strong proficiency in Adobe Creative Suite, video editing, graphics designing, videography, and photography, Manan seamlessly combines technical skills with artistic finesse. His commitment to elevating our visual storytelling and design is an essential pillar of our creative endeavors at Scalelot Technologies.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                   <!-- Sumit H -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/17.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Sumit Hingu</a>
                             </h4>
                             <p>Sr. UI-UX Designer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Sumit Hingu</a>
                             </h5>
                             <p>Sr. UI-UX Designer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>With proficiency in industry-standard tools such as Photoshop, Illustrator, and Figma, Sumit crafts visually appealing interfaces and intuitive digital experiences. His talent in graphic design adds an extra layer of creativity to his work, ensuring that our projects not only meet high usability standards but also leave a lasting visual impact.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Vimal A -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/20.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Vimal Ahir</a>
                             </h4>
                             <p>Sr. 3D Designer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Vimal Ahir</a>
                             </h5>
                             <p>Sr. 3D Designer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Vimal, our Sr. 3D Designer, is the mastermind behind our three-dimensional visual experiences. With expertise in 3D modeling using Blender and a strong foundation in graphic design, Vimal brings a world of creativity to our projects. His proficiency in creating immersive 3D visuals, adds depth and realism to our design portfolio.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Chirag H -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/23.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Chirag Hirpara</a>
                             </h4>
                             <p>Sr. SEO</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Chirag Hirpara</a>
                             </h5>
                             <p>Sr. SEO</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Introducing Chirag, our SEO Expert, who navigates the intricate digital landscape with his mastery in search engine optimization. He has a passion for history and mythology, making him an avid reader. Beyond his SEO expertise, Chirag owns a versatile skill set of Photoshop, HTML, and CSS, and prefers to unwind through online gaming.</p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Prahlad P -->
                  <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/24.jpg" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <!-- <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div> -->
                             <h4>
                                <a href="javascript:void(0);">Prahlad Pawar</a>
                             </h4>
                             <p>Sr. Frontend Developer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Prahlad Pawar</a>
                             </h5>
                             <p>Sr. Frontend Developer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Prashant is a multifaceted talent, making a significant impact in web development with his versatile programming skills. He not only excels as a front-end developer but also stands out as an adept tutor and a creative graphic designer. Outside the digital domain, he draws inspiration from gaming and cricket. </p>
                          </div>
                       </div>
                    </div>
                  </div>
                  <!-- Udit B -->
                  <!-- <div class="team-s__slider-single">
                    <div class="team-wrap">
                       <div class="thumb">
                          <a href="javascript:void(0);">
                             <img src="assets/images/teams/26.png" alt="Image">
                          </a>
                          <div class="thumb__content" data-background="assets/images/teams/bg.png">
                             <div class="info">
                                <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                             </div>
                             <h4>
                                <a href="javascript:void(0);">Udit Bhimani</a>
                             </h4>
                             <p>Sr. Wordpress Developer</p>
                             <div class="social-alt">
                                <a href="https://www.facebook.com/" target="_blank"
                                   aria-label="share us on facebook">
                                   <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank"
                                   aria-label="share us on twitter">
                                   <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank"
                                   aria-label="share us on pinterest">
                                   <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="content">
                          <div class="intro">
                             <h5>
                                <a href="javascript:void(0);">Udit Bhimani</a>
                             </h5>
                             <p>Sr. Wordpress Developer</p>
                          </div>
                          <hr>
                          <div class="inner">
                             <p>Udit Bhimani, our Senior WordPress Developer, is a key player in our web development team. With extensive experience and expertise in WordPress, he transforms ideas into engaging and functional websites. Udit's dedication to delivering high-quality solutions and his commitment to keeping pace with the latest trends in web development make him an invaluable asset to Scalelot Technologies.</p>
                          </div>
                          <div class="social">
                             <a href="https://www.facebook.com/" target="_blank"
                                aria-label="share us on facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                             </a>
                             <a href="https://www.twitter.com/" target="_blank" aria-label="share us on twitter">
                                <i class="fa-brands fa-twitter"></i>
                             </a>
                             <a href="https://www.pinterest.com/" target="_blank"
                                aria-label="share us on pinterest">
                                <i class="fa-brands fa-linkedin-in"></i>
                             </a>
                             <a href="https://www.instagram.com/" target="_blank"
                                aria-label="share us on instagram">
                                <i class="fa-brands fa-instagram"></i>
                             </a>
                          </div>
                       </div>
                    </div>
                  </div> -->
                </div>
               <div class="slide-group">
                  <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-team-s">
                     <i class="fa-light fa-angle-left"></i>
                  </a>
                  <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-team-s">
                     <i class="fa-light fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </section>
         <!-- ==== / team members end ==== -->
         <!-- ==== testimonial start ==== -->
         <section class="section testimonial pt-0 pb-0 position-relative">
            <div class="testimonial__text-slider">
               <div class="testimonial__text-slider-single">
                  <h2 class="h1">
                     <a href="/feedback">
                        client's testimonial
                        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                     </a>
                  </h2>
               </div>
               <div class="testimonial__text-slider-single">
                  <h2 class="h1">
                     <a href="/feedback">
                        client's testimonial
                        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                     </a>
                  </h2>
               </div>
               <div class="testimonial__text-slider-single">
                  <h2 class="h1">
                     <a href="/feedback">
                        client's testimonial
                        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                     </a>
                  </h2>
               </div>
               <div class="testimonial__text-slider-single">
                  <h2 class="h1">
                     <a href="/feedback">
                        client's testimonial
                        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                     </a>
                  </h2>
               </div>
               <div class="testimonial__text-slider-single">
                  <h2 class="h1">
                     <a href="/feedback">
                        client's testimonial
                        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                     </a>
                  </h2>
               </div>
               <div class="testimonial__text-slider-single">
                  <h2 class="h1">
                     <a href="/feedback">
                        client's testimonial
                        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                     </a>
                  </h2>
               </div>
               <div class="testimonial__text-slider-single">
                  <h2 class="h1">
                     <a href="/feedback">
                        client's testimonial
                        <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                     </a>
                  </h2>
               </div>
            </div>
            <div class="container position-relative">
               <div class="row">
                  <div class="col-12 col-xxl-10">
                     <div class="testimonial-s__slider">
                        <div class="testimonial-s__slider-single">
                          <div class="row gaper align-items-center">
                            <!-- <div class="col-12 col-lg-4 col-xxl-4">
                              <div class="thumb">
                                 <img src="assets/images/testimonial/s-thumb.png" alt="Image">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                    viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                    <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                 </svg>
                              </div>
                              </div> -->
                            <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                              <div class="testimonial-s__content">
                                <div class="quote">
                                  <i class="fa-solid fa-quote-right"></i>
                                </div>
                                <div class="content">
                                  <h4>I am delighted to share my experience with Scalelot Technologies' Website Development service. Working with them has been an absolute pleasure from start to finish. Their team is very talented and creative with a professional approach.</h4>
                                </div>
                                <div class="content-cta">
                                  <h5>Bhavesh M.</h5>
                                  <!-- <p>Senior engineer</p> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="testimonial-s__slider-single">
                          <div class="row gaper align-items-center">
                            <!-- <div class="col-12 col-lg-4 col-xxl-4">
                              <div class="thumb">
                                 <img src="assets/images/testimonial/s-thumb-two.png" alt="Image">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                    viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                    <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                 </svg>
                              </div>
                              </div> -->
                            <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                              <div class="testimonial-s__content">
                                <div class="quote">
                                  <i class="fa-solid fa-quote-right"></i>
                                </div>
                                <div class="content">
                                  <h4>From the initial concept discussions to the final launch of the Mobile Application, Scalelot Technologies demonstrated a deep understanding of our vision and goals. The entire team was cooperative with our feedback, making necessary adjustments promptly.</h4>
                                </div>
                                <div class="content-cta">
                                  <h5>Ryan D.</h5>
                                  <!-- <p>Senior engineer</p> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="testimonial-s__slider-single">
                          <div class="row gaper align-items-center">
                            <!-- <div class="col-12 col-lg-4 col-xxl-4">
                              <div class="thumb">
                                 <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                    viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                    <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                 </svg>
                              </div>
                              </div> -->
                            <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                              <div class="testimonial-s__content">
                                <div class="quote">
                                  <i class="fa-solid fa-quote-right"></i>
                                </div>
                                <div class="content">
                                  <h4>Scalelot Technologies helped me create my Website which immediately boosted my online presence and attracted online users to my business. The Design, Development, and Content Writing services were up to the mark.</h4>
                                </div>
                                <div class="content-cta">
                                  <h5>Nisha G.</h5>
                                  <!-- <p>Senior engineer</p> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="testimonial-s__slider-single">
                          <div class="row gaper align-items-center">
                            <!-- <div class="col-12 col-lg-4 col-xxl-4">
                              <div class="thumb">
                                 <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                    viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                    <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                 </svg>
                              </div>
                              </div> -->
                            <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                              <div class="testimonial-s__content">
                                <div class="quote">
                                  <i class="fa-solid fa-quote-right"></i>
                                </div>
                                <div class="content">
                                  <h4>I have availed a range of services at Scalelot Technologies starting from Application Development to Digital Marketing. I am happy with all the results be it UI/UX Designing, Application Development, Graphics Designing, Brochure Designing, or Social Media Marketing.</h4>
                                </div>
                                <div class="content-cta">
                                  <h5>Gilbert N.</h5>
                                  <!-- <p>Senior engineer</p> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
               </div>
               <div class="slide-group justify-content-start">
                  <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-testimonial-three">
                     <i class="fa-light fa-angle-left"></i>
                  </a>
                  <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-testimonial-three">
                     <i class="fa-light fa-angle-right"></i>
                  </a>
               </div>
            </div>
            <!-- <div class="other-section">
               <img class="other-section-image" src="assets/images/testimonial/s-thumb.png" alt="Next Slide Image">
            </div> -->
         </section>
         <!-- ==== / testimonial end ==== -->
         <!-- ==== sponsor start ==== -->
         <div class="sponsor section pb-0">
            <div class="container-fluid">
               <div class="row justify-content-center">
                  <div class="col-12">
                     <div class="sponsor__slider ">
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/one.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/two.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/three.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/four.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/five.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/six.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/one.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/two.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/three.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/four.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/five.png" alt="Image">
                        </div>
                        <div class="sponsor__slider-item">
                           <img src="assets/images/sponsor/six.png" alt="Image">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- ==== / sponsor end ==== -->
         <!-- ==== cta start ==== -->
         <section class="cta-s section">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="cta__wrapper" data-background="assets/images/cta-bg.png">
                        <div class="row justify-content-center">
                           <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-9">
                              <div class="section__header text-center">
                                 <h2 class="title title-anim">Stay Ahead With Scalelot Technologies</h2>
                              </div>
                              <div class="footer__single-form">
                                 <form method="post" ng-submit="onSubscribe()">
                                    <div class="input-email">
                                       <input type="email" name="subscribe-news" id="subscribeNews"
                                          placeholder="Enter Your Email" ng-model="email" required>
                                       <button type="submit" class="subscribe">
                                          <i class="fa-sharp fa-solid fa-paper-plane"></i>
                                       </button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <img src="assets/images/testimonial/star.png" alt="Image" class="star">
                        <img src="assets/images/testimonial/star.png" alt="Image" class="star-two">
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- ==== / cta end ==== -->
      </main>
      <!-- ==== / main end ==== -->
     