<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
    <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
        <div class="row gaper align-items-center">
            <div class="col-12">
              <div class="text-center text-lg-start">
                  <h2 class="title title-anim">GLOBAL WATER BLASTING CREATED ITS ONLINE PRESENCE WITH SCALELOT</h2>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="index.html">
                              <i class="fa-solid fa-house"></i>
                              Home
                          </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          Blog Details
                        </li>
                    </ol>
                  </nav>
              </div>
            </div>
        </div>
      </div>
    </section>
  <!-- ==== / banner end ==== -->
  <!-- ==== blog details start ==== -->
    <section class="section blog-main blog-details fade-wrapper">
        <div class="container">
          <div class="row gaper">
              <div class="col-12 col-xl-8">
                <div class="blog-details__content">
                    <div class="bd-thumb fade-top">
                      <img src="assets/images/news/poster.png" alt="Image">
                    </div>
                    <div class="bd-content">
                      <div class="bd-content-info">
                          <div class="paragraph">
                            <p>Global Water Blasting is an Auckland-based firm committed to protecting the beauty and integrity of houses. Their objective is to reimagine home washing by providing customers with dependable, high-quality services to keep the exteriors of their homes in excellent condition.</p>
                          </div>
                          <h4 class="h4">The Requirement:</h4>
                          <div class="paragraph">
                            <p>Despite the fact that Global Water Blasting was already a specialist in house washing services, it desired to establish a web presence in order to target online users. They understood the value of a well-designed website in connecting with their customers and showcasing their services.</p>
                          </div>
                          <h4 class="h4">The Solution by Scalelot Technologies:</h4>
                          <div class="paragraph">
                            <p>Global Water Blasting reached out to Scalelot Technologies to bridge this digital gap. The Scalelot team understood the needs and the importance of creating a website that reflected the company's commitment to excellence.</p>
                          </div>
                      </div>
                    </div>
                    <div class="bd-group">
                      <img src="assets/images/news/group-one.png" alt="Image" class="fade-top">
                      <img src="assets/images/news/group-two.png" alt="Image" class="fade-top">
                    </div>   
                    <div class="bd-content">
                      <div class="bd-content-info">
                          <h4 class="h4">Key Steps:</h4>
                          <div class="paragraph">
                            <p><b>Consultation and Analysis:</b> Scalelot's team engaged in in-depth consultations with Global Water Blasting to understand their brand identity, services, and their vision for the website.</p>
                            <p><b>Design and Development:</b> Leveraging their expertise in website development, Scalelot Technologies meticulously crafted a user-friendly and visually appealing website. They ensured that it was not only informative but also showcased Global Water Blasting's dedication to customer satisfaction.</p>
                            <p><b>Customization:</b> The website was tailored to the specific needs of the client, including sections for services, offers, and work details to share with their audience.</p>
                            <p><b>Content Writing:</b> Appropriate website content to convey the right information to the users was meticulously written.</p>
                            <p><b>Testing and Deployment:</b> Rigorous testing was conducted to ensure that the website was error-free and performed flawlessly across different devices and browsers. After testing, the website was deployed.</p>
                            <p></p>
                          </div>
                      </div>                          
                      <div class="bd-content-info">
                          <h4 class="h4">The Outcome:</h4>
                          <div class="paragraph">
                            <p>The collaboration between Global Water Blasting and Scalelot Technologies resulted in a striking and user-friendly website. This online platform effectively conveyed the company's commitment to excellence in House Washing.</p>
                          </div>
                          <div class="widget__head">
                            <h5 class="h5">Search</h5>
                          </div>
                          <div class="paragraph">
                            <p><b>Enhanced Online Presence:</b> The new website positioned Global Water Blasting as a trustworthy and professional service provider.</p>
                            <p><b>Increased Customer Engagement:</b> The website allowed customers to easily explore the company's services, read testimonials, and contact them.</p>
                            <p>Scalelot Technologies successfully empowered Global Water Blasting to transform its online presence and reach a wider audience. This collaboration highlights the effectiveness of leveraging technology and design to enhance a company's brand and connect with customers. Global Water Blasting now stands as an example of a business that understands the value of an online platform in maintaining and growing its reputation in the Auckland region.</p>
                          </div>
                      </div>    
                    </div>
                </div>
              </div>
              <div class="col-12 col-xl-4">
                <div class="blog-main__sidebar">
                    <div class="widget ">
                      <div class="widget__head">
                          <h5 class="h5">Search</h5>
                      </div>
                      <div class="widget-search">
                          <form action="#" method="post">
                            <div class="form-group-input">
                                <input type="search" name="blog-search" id="blogSearch"
                                  placeholder="Search here. . .">
                                <button type="submit">
                                  <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                          </form>
                      </div>
                    </div>
                    <div class="widget ">
                      <div class="widget__head">
                          <h5 class="h5">Categories</h5>
                      </div>
                      <div class="widget__list">
                          <ul>
                            <li>
                                <a href="blog.html">Business</a>
                            </li>
                            <li>
                                <a href="blog.html">Job Market</a>
                            </li>
                            <li>
                                <a href="blog.html">Marketing</a>
                            </li>
                            <li>
                                <a href="blog.html">News</a>
                            </li>
                            <li>
                                <a href="blog.html">Social Media</a>
                            </li>
                            <li>
                                <a href="blog.html">Trends</a>
                            </li>
                            <li>
                                <a href="blog.html">Writing</a>
                            </li>
                          </ul>
                      </div>
                    </div>
                    <div class="widget">
                      <div class="widget__head">
                          <h5 class="h5">Recent Posts</h5>
                      </div>
                      <div class="widget__latest">
                          <div class="latest-single ">
                            <div class="latest-thumb">
                                <a href="blog-single.html">
                                  <img src="assets/images/news/ten.png" alt="Image">
                                </a>
                            </div>
                            <div class="latest-content">
                                <p>10/01/2023</p>
                                <p>
                                  <a href="blog-single.html">
                                      Guide dog shortage: The blind peo ple who train
                                      their own guide
                                  </a>
                                </p>
                            </div>
                          </div>
                          <div class="latest-single ">
                            <div class="latest-thumb">
                                <a href="blog-single.html">
                                  <img src="assets/images/news/eleven.png" alt="Image">
                                </a>
                            </div>
                            <div class="latest-content">
                                <p>10/01/2023</p>
                                <p>
                                  <a href="blog-single.html">
                                      Guide dog shortage: The blind peo ple who train
                                      their own guide
                                  </a>
                                </p>
                            </div>
                          </div>
                          <div class="latest-single ">
                            <div class="latest-thumb">
                                <a href="blog-single.html">
                                  <img src="assets/images/news/twelve.png" alt="Image">
                                </a>
                            </div>
                            <div class="latest-content">
                                <p>10/01/2023</p>
                                <p>
                                  <a href="blog-single.html">
                                      Guide dog shortage: The blind peo ple who train
                                      their own guide
                                  </a>
                                </p>
                            </div>
                          </div>
                          <div class="latest-single ">
                            <div class="latest-thumb">
                                <a href="blog-single.html">
                                  <img src="assets/images/news/thirteen.png" alt="Image">
                                </a>
                            </div>
                            <div class="latest-content">
                                <p>10/01/2023</p>
                                <p>
                                  <a href="blog-single.html">
                                      Guide dog shortage: The blind peo ple who train
                                      their own guide
                                  </a>
                                </p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="widget">
                      <div class="widget__head">
                          <h5 class="h5">Tags</h5>
                      </div>
                      <div class="widget__tags">
                          <ul>
                            <li>
                                <a href="blog.html">nature</a>
                            </li>
                            <li>
                                <a href="blog.html">health</a>
                            </li>
                            <li>
                                <a href="blog.html">galaxy</a>
                            </li>
                            <li>
                                <a href="blog.html">creative</a>
                            </li>
                            <li>
                                <a href="blog.html">art</a>
                            </li>
                            <li>
                                <a href="blog.html">business</a>
                            </li>
                            <li>
                                <a href="blog.html">space</a>
                            </li>
                            <li>
                                <a href="blog.html">biology</a>
                            </li>
                            <li>
                                <a href="blog.html">environemnt</a>
                            </li>
                          </ul>
                      </div>
                    </div>
                    <div class="widget widget-big ">
                      <a href="blog-single.html">
                          <img src="assets/images/news/fourteen.png" alt="Image">
                      </a>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </section>
  <!-- ==== / blog details end ==== -->
</main>
 <!-- ==== / main end ==== -->