<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="/assets/images/banner/cmn-banner-bg.png">
     <div class="container">
       <div class="row gaper align-items-center">
         <div class="col-12">
           <div class="text-center text-lg-start">
             <h2 class="title title-anim">Festum Field Redefined Socializing and Business Integration with Scalelot</h2>
             <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                 <li class="breadcrumb-item">
                   <a href="/">
                   <i class="fa-solid fa-house"></i>
                   Home
                   </a>
                 </li>
                 <li class="breadcrumb-item active" aria-current="page">
                   Blog Details
                 </li>
               </ol>
             </nav>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== blog details start ==== -->
   <section class="section blog-main blog-details fade-wrapper">
     <div class="container">
       <div class="row gaper">
         <div class="col-12 col-xl-8 mx-auto">
           <div class="blog-details__content">
             <div class="bd-thumb fade-top">
               <img src="/assets/images/news/poster_ff.png" alt="Image">
             </div>
             <div class="bd-content">
               <div class="bd-meta">
                 <div class="meta__left">
                   <p>
                     <strong>Name :</strong>
                     Rtn. Rtr. Prashant Kakadiya
                   </p>
                   <span></span>
                   <strong>Role:</strong>
                   <p>Founder and Visionary of Evento Package</p>
                 </div>
               </div>
               <div class="bd-content-info">
                <div class="paragraph">
                  <p>Festum Field, an ambitious concept, aimed to create a versatile platform that combined social networking with essential features to benefit both personal and business accounts. The key objectives included facilitating easy communication and helping sellers grow.</p>
                </div>
                 <h4 class="h4">The Challenge</h4>
                 <div class="paragraph">
                   <p>In 2018, Rtn. Rtr. Prashant Kakadiya embarked on a journey that would transform the event planning industry. His vision was born during his association with Rotary International, where he gained invaluable insights into the intricate world of event planning.Festum Field required the challenging amalgamation of multiple functions and ensuring seamless usability for both personal and business accounts. The scope included</p>
                   <ul>
                    <li><p><b>1.</b> Building a feature-rich application for socializing, product selling, audio-video communication, and finding users in proximity.</p></li>
                    <li><p><b>2.</b> The platform should also allow users to publish their reels to showcase their creativity and talents to the global audience.</p></li>
                    <li><p><b>3.</b> It was imperative that the app provided a user-friendly interface and a robust infrastructure for efficient and safe handling of messages, calls, and e-commerce.</p></li>
                   </ul>
                 </div>
                 <h4 class="h4">The Solution:</h4>
                 <div class="paragraph">
                   <p>Festum Field approached Scalelot Technologies to bring their vision to life. Our team proposed and delivered a comprehensive solution that addressed all of Festum Field's requirements, ensuring a smooth user experience.</p>
                 </div>
               </div>
             </div>
             <div class="bd-group">
               <img src="/assets/images/news/ff_h2.png" alt="Image" class="fade-top">
               <img src="/assets/images/news/ff_h1.png" alt="Image" class="fade-top">
             </div>
             <div class="bd-content">
               <div class="bd-content-info mt-0">
                 <div class="bd-content-info">
                   <h3 class="h4">Key Features Delivered</h3>
                   <div class="paragraph">
                     <p><b>Socializing Platform:</b> We created an intuitive social platform that allowed users to connect, interact, and form connections.</p>
                     <p><b>Audio and Video Calls:</b> Festum Field users could now enjoy text chat, audio calls, video calls, and even conference calls, enhancing their communication options.</p>
                     <p><b>Business Accounts:</b> Users with business accounts gained access to an e-commerce platform within the app. They could list products, showcase media, and enable direct purchases.</p>
                     <p><b>Finding Other Users:</b> Users could search for individuals nearby, filter by age group, and connect with people by selecting the range of area.</p>
                     <p><b>Promotions:</b> The app featured promotional tools such as SMS, push notifications, and emails, enabling businesses to reach a wider audience and stay connected with existing customers.</p>
                     <p><b>Coin Earnings:</b> Users had the unique opportunity to earn coins by watching ads on the platform. These coins could later be redeemed directly to their bank accounts.</p>
                   </div>
                   <h4 class="h4">The Result:</h4>
                  <div class="paragraph">
                    <p>A comprehensive solution transformed a novel concept into a thriving platform. By successfully combining social networking, e-commerce, communication tools, and innovative monetization, Scalelot Technologies played a vital role in bringing Festum Field's vision to life. The resulting application empowers users, offers unique earning opportunities, and stands as a testament to the potential of forward-thinking digital solutions.</p>
                  </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="blog-details__pagination">
             <div class="section pb-0 comment-form fade-top">
               <div class="section__header">
                 <h2 class="h2 text-start">Leave a comment</h2>
               </div>
               <form action="#" method="post">
                 <div class="form-group-wrapper">
                   <div class="form-group-single">
                     <input type="text" name="comment-name" id="commentName" placeholder="Name">
                   </div>
                   <div class="form-group-single">
                     <input type="email" name="comment-email" id="commentemail"
                       placeholder="Email">
                   </div>
                 </div>
                 <div class="form-group-single">
                   <textarea name="comment-message" id="commentMessage"
                     placeholder="Write Comment..."></textarea>
                 </div>
                 <div class="cta__group">
                   <button type="submit" class="btn btn--ocotonary">
                   post comment
                   <i class="fa-solid fa-arrow-right-long"></i>
                   </button>
                 </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- ==== / blog details end ==== -->
 </main>
 <!-- ==== / main end ==== -->