<script src="javascripts/controllers/contactus.controller.js"></script>
<!-- ==== main start ==== -->
<main ng-controller="contactUsController">
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">Contact Us</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="/">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           Contact Us
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We're an UK-based top-notch design agency committed to partnering
                     with good companies and hiring the right people for the right roles.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== contact start ==== -->
   <section class="section contact-m fade-wrapper">
      <div class="container">
         <div class="row gaper">
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="contact-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <img src="assets/images/phone.png" alt="Image">
                  </div>
                  <div class="content">
                     <h4>Phone</h4>
                     <p>
                        <a href="tel:918780333608">Mobile : +91 87803 33608</a>
                     </p>
                     <!-- <p>
                        <a href="tel:197-90-56-780">Fax : +44-208-1234567</a>
                     </p> -->
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="contact-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <img src="assets/images/mail.png" alt="Image">
                  </div>
                  <div class="content">
                     <h4>Mail Address</h4>
                     <p>
                        <a href="mailto:Info@scalelot.com">Info@scalelot.com</a>
                     </p>
                     <!-- <p>
                        <a href="mailto:info.company@gmail.com">Info.company@yahoo.com</a>
                     </p> -->
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="contact-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <img src="assets/images/location.png" alt="Image">
                  </div>
                  <div class="content">
                     <h4>Our Location</h4>
                     <p>
                        <a href="https://www.google.com/maps/place/Scalelot+Technologies/@21.2212122,72.8085012,15z/data=!4m2!3m1!1s0x0:0x34936c011302a1ab?sa=X&ved=2ahUKEwjZ_reUwc-BAxWHyzgGHYuWBvcQ_BJ6BAg4EAA&ved=2ahUKEwjZ_reUwc-BAxWHyzgGHYuWBvcQ_BJ6BAhMEAg"
                           target="_blank">
                           40 Tapi Darshan Gate-1 Causeway Circle, Katargam, Surat, Gujarat 395004
                        </a>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="contact-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <img src="assets/images/time.png" alt="Image">
                  </div>
                  <div class="content">
                     <h4>Office Hour</h4>
                     <p>
                        Mon - Fri
                        09:30 AM - 06:30 PM
                     </p>
                     <!-- <p>
                        Fri - Sat
                        4 pm - 10pm
                     </p> -->
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="map-wrapper">
                  <div class="row gaper">
                     <div class="col-12 col-lg-6">
                        <div class="contact__map fade-top">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14877.07265704814!2d72.8085012!3d21.2212122!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04faa0f956ee3%3A0x34936c011302a1ab!2sScalelot%20Technologies!5e0!3m2!1sen!2sin!4v1696314652367!5m2!1sen!2sin"
                            width="100" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                     </div>
                     <div class="col-12 col-lg-6">
                        <div class="contact-main__form  fade-top">
                           <h3>Leave A Message</h3>
                           <form ng-submit="onContact()" method="post" class="section__content-cta" id="form">
                              <div class="group-wrapper">
                                 <div class="group-input ">
                                    <input type="text" ng-model="form.name" id="contactName" placeholder="Name">
                                 </div>
                                 <div class="group-input ">
                                    <input type="email" ng-model="form.email" id="contactEmail" placeholder="Email">
                                 </div>
                              </div>
                              <input type="hidden" id="code" ng-model="form.code">
                              <div class="group-input mob">
                                 <input type="phone" id="phone" ng-model="form.phone" placeholder="Phone Number">
                              </div>
                              <div class="group-input ">
                                 <select class="subject" ng-model="form.subject">
                                    <option data-display="Subject">
                                       Subject
                                    </option>
                                    <option value="1">Account</option>
                                    <option value="2">Service</option>
                                    <option value="3">Pricing</option>
                                    <option value="4">Support</option>
                                 </select>
                              </div>
                              <div class="group-input ">
                                 <textarea ng-model="form.message" id="contactMessage" placeholder="Message"></textarea>
                              </div>

                              <div class="form-cta justify-content-start">
                                 <button type="submit" class="btn btn--secondary mt-5">
                                    Send Message
                                 </button>
                              </div>

                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / contact end ==== -->
</main>
<!-- ==== / main end ==== -->