<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">FAQ</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="/">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           FAQ
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We are Surat-based IT Solution Providers committed to providing the best services for the growth of our valuable clients and their varied businesses.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== faq start ==== -->
   <section class="section faq fade-wrapper">
      <div class="container">
         <div class="row gaper">
            <div class="col-12 col-lg-6">
               <div class="faq__thumb fade-left">
                  <img src="assets/images/faq-thumb.jpg" alt="Image">
               </div>
            </div>
            <div class="col-12 col-lg-6">
               <div class="accordion" id="accordion">
                  <div class="accordion" id="accordion">
                     <div class="accordion-item fade-top">
                       <h5 class="accordion-header" id="headingOne">
                         <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         What services does Scalelot offer?
                         </button>
                       </h5>
                       <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>Scalelot provides a range of services, including Website Development, Mobile Application Development, UX/UI Design, Digital Marketing, and Content Creation.</p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item fade-top">
                       <h5 class="accordion-header" id="headingTwo">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         What industries does Scalelot cater to?
                         </button>
                       </h5>
                       <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>We serve clients across various industries in service and retail sectors, including healthcare, e-commerce, finance, education, and more.
                           <p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item content__space fade-top">
                       <h5 class="accordion-header" id="headingThree">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         What technologies do you use for app development?
                         </button>
                       </h5>
                       <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>We use a variety of technologies, including Flutter, Java, Kotlin, Swift, and JavaScript, to develop customized mobile applications for iOS and Android.</p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item content__space fade-top">
                       <h5 class="accordion-header" id="headingFour">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         How can I get started with Scalelot's services?
                         </button>
                       </h5>
                       <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>You can contact us through our website or by reaching out to our team via email or phone. We'll be happy to discuss your project and provide a tailored solution.</p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item content__space fade-top">
                       <h5 class="accordion-header" id="headingFive">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         Can you help improve our online presence?
                         </button>
                       </h5>
                       <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>Yes, Scalelot specializes in digital marketing services, such as SEO, PPC, Social Media Marketing, and Email Marketing, to enhance your online presence and engagement.</p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item content__space fade-top">
                       <h5 class="accordion-header" id="headingsix">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                         What software tools do you use for design and content creation?
                         </button>
                       </h5>
                       <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>We leverage advanced tools like Figma, Photoshop, Illustrator, Adobe Creative Cloud, and Google Workspace for UI/UX design, graphics design, content writing, and video editing.</p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item content__space fade-top">
                       <h5 class="accordion-header" id="headingsevan">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapansevan" aria-expanded="false" aria-controls="collapansevan">
                         What is Scalelot's approach to project management?
                         </button>
                       </h5>
                       <div id="collapansevan" class="accordion-collapse collapse" aria-labelledby="headingsevan"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>We follow a systematic project management approach, which includes project assessment, planning, development, testing, and ongoing client communication to ensure project success.</p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item content__space fade-top">
                       <h5 class="accordion-header" id="headingaite">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseaite" aria-expanded="false" aria-controls="collapseaite">
                         Do you offer ongoing maintenance and support?
                         </button>
                       </h5>
                       <div id="collapseaite" class="accordion-collapse collapse" aria-labelledby="headingaite"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>Yes, we provide ongoing maintenance and support services to ensure your websites, apps, and digital marketing efforts continue to perform optimally.</p>
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item content__space fade-top">
                       <h5 class="accordion-header" id="headingnine">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                         How can I request a quote or estimate for my project?
                         </button>
                       </h5>
                       <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine"
                         data-bs-parent="#accordion">
                         <div class="accordion-body">
                           <p>You can request a quote by contacting our team with details about your project, and we will provide you with a customized estimate based on your specific requirements.</p>
                         </div>
                       </div>
                     </div>
                   </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / faq end ==== -->
</main>
<!-- ==== / main end ==== -->