<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">Client's Feedback</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="#">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           Client's Feedback
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We are Surat-based IT Solution Providers committed to providing the best services for the growth of our valuable clients and their varied businesses.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== feedback start ==== -->
   <section class="section feedback-s fade-wrapper">
      <div class="container">
         <div class="row gaper">
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>I am delighted to share my experience with Scalelot Technologies' Website Development service. Working with them has been an absolute pleasure from start to finish. Their team is very talented and creative with a professional approach.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Marc Lucas</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>From the initial concept discussions to the final launch of the Mobile Application, Scalelot Technologies demonstrated a deep understanding of our vision and goals. The entire team was cooperative with our feedback, making necessary adjustments promptly.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Sammy Williams</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot Technologies helped me create my Website which immediately boosted my online presence and attracted online users to my business. The Design, Development, and Content Writing services were up to the mark.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Daniel Smith</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>I have availed a range of services at Scalelot Technologies starting from Application Development to Digital Marketing. I am happy with all the results be it UI/UX Designing, Application Development, Graphics Designing, Brochure Designing, or Social Media Marketing.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Lara Sebastian</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot Technologies brought my vision to life with a website that is as visually stunning as it is functional.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Jacob T.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Their mobile app development transformed our business, making it more accessible and user-friendly.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Michael R.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot's digital marketing strategies increased our reach and our customer engagement soared.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Aditya J.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>The content created by Scalelot was captivating and impressive. It helped us grow app users and social media followers.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Hiten K.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot created UI/UX designs that enhanced our user experience, making our platform more engaging and intuitive.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>James C.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot Technologies is a reliable partner, delivering top-notch IT solutions and exceeding our expectations.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Christian L.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>We wanted a website that looks attractive and embodies our brand. Scalelot understood our idea and crafted the perfect design to display our products.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Emily D.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>The website development team is an expert. They not only built the website but also continue to maintain it well understanding our needs.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Sophie C.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Their SEO techniques were impressive. We witnessed a significant boost in search rankings and traffic due to their SEO services.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Vinod B.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot designed and developed a user-friendly mobile app for us. Also, with effective digital marketing plans, we received a remarkable number of downloads in just 3 months.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Samuel R.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Our social media engagement has skyrocketed, thanks to Scalelot for their innovative marketing strategies and eye-catching content.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Lauren O.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Their content creators have a knack for crafting amazing posts, reels, videos, and brochures. Scalelot fulfills all our marketing and content creation needs."</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Parth D.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot's UI/UX designs for our app and website have increased our user interaction and satisfaction.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Heena S.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>We're impressed by their results-oriented approach to every project. Scalelot has worked on five of our projects. We will definitely work together on future projects as well.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Keshav G.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot's digital marketing initiatives strengthened our online presence and boosted our sales. Their graphic designers made attractive content for our social media accounts.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Evans S.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Their content team is a genius storyteller. It conveyed our message to the desired audience accurately.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Jack L.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>The website they designed for us is a perfect blend of style and functionality.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Ryan K.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>The mobile app they created is now a pivotal part of our customer interaction. It made many tough tasks within our company handy.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Jake W.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Their digital marketing expertise along with proper content strategies has opened new doors for our business growth.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Nilesh S.</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
               <div class="feedback-s__single topy-tilt fade-top h-100 d-flex flex-column">
                  <div class="content pb-3">
                     <div class="quote">
                        <i class="fa-solid fa-quote-right"></i>
                     </div>
                     <p>Scalelot Technologies has a talented team of graphic designers who created several marketing and branding materials for us including logos, catalogs, and social media posts.</p>
                  </div>
                  <hr class="mt-auto">
                  <div class="author">
                     <!-- <div class="thumb">
                        <img src="assets/images/testimonial/avatar.png" alt="Image">
                     </div> -->
                     <div class="author-meta">
                        <h5>Michael W.</h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="row">
            <div class="col-12">
               <div class="section__content-cta d-flex justify-content-center">
                  <button class="btn btn--secondary">Load More..</button>
               </div>
            </div>
         </div> -->
      </div>
   </section>
   <!-- ==== / feedback end ==== -->
</main>
<!-- ==== / main end ==== -->