<!DOCTYPE html>
<html lang="en">
<head>
   <!-- required meta -->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- #favicon -->
   <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
   <!-- #title -->
   <title>Scalelot - Treat With Technologies</title>
   <!-- #keywords -->
   <meta name="keywords" content="creative, agency, portfolio">
   <!-- #description -->
   <meta name="description" content="Scalelot - Treat With Technologies">
   <!-- ==== css dependencies start ==== -->
   <!-- bootstrap five css -->
   <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
   <!-- glyphter css -->
   <link rel="stylesheet" href="assets/vendor/glyyphter/css/scalelot.css">
   <!-- font awesome six css -->
   <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.css">
   <!-- nice select css -->
   <link rel="stylesheet" href="assets/vendor/nice-select/css/nice-select.css">
   <!-- magnific popup css -->
   <link rel="stylesheet" href="assets/vendor/magnific-popup/css/magnific-popup.css">
   <!-- slick css -->
   <link rel="stylesheet" href="assets/vendor/slick/css/slick.css">
   <!-- swiper slider  -->
   <link rel="stylesheet" href="assets/vendor/css/swiper-bundle.min.css">
   <!-- ==== / css dependencies end ==== -->
   <!-- main css -->
   <link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body>
   <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
   <div class="my-app">
      <!-- ==== preloader start ==== -->
      <div id="preloader">
         <div id="loader"></div>
      </div>
      <!-- ==== / preloader end ==== -->
      <!-- ==== mouse cursor drag start ==== -->
      <div class="mouseCursor cursor-outer"></div>
      <div class="mouseCursor cursor-inner">
         <span>Drag</span>
      </div>
      <!-- ==== / mouse cursor drag end ==== -->
      <!-- ==== header start ==== -->
      <header class="header">
         <div class="primary-navbar secondary--navbar">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <nav class="navbar p-0">
                        <div class="navbar__logo">
                           <a href="/" aria-label="go to home">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                              viewBox="0 0 613 131.3" style="enable-background:new 0 0 613 131.3;" xml:space="preserve">
                              <style type="text/css">
                                 .st0{fill:#FFFFFF;}
                                 .st1{fill:#EF3238;}
                              </style>
                              <g>
                                 <g>
                                    <path class="st0" d="M453.3,14.7h-8.5v8.5h8.5V14.7z"/>
                                    <path class="st0" d="M478.8,20.9h-8.5v8.5h8.5V20.9z"/>
                                    <path class="st0" d="M441,20.9h-8.5v8.5h8.5V20.9z"/>
                                    <path class="st0" d="M427.1,0h-7.7v8.5h7.7V0z"/>
                                    <path class="st0" d="M414.7,20.9h-8.5v8.5h8.5V20.9z"/>
                                    <path class="st0" d="M399.2,0h-7.7v8.5h7.7V0z"/>
                                    <path class="st0" d="M386.9,14.7h-7.7v8.5h7.7V14.7z"/>
                                    <path class="st0" d="M374.5,20.9H366v8.5h8.5V20.9z"/>
                                    <path class="st1" d="M374.5,9.3H366V17h8.5V9.3z"/>
                                    <path class="st1" d="M414.7,9.3h-8.5V17h8.5V9.3z"/>
                                    <path class="st1" d="M399.2,14.7h-7.7v8.5h7.7V14.7z"/>
                                    <path class="st1" d="M427.1,14.7h-7.7v8.5h7.7V14.7z"/>
                                    <path class="st1" d="M441,9.3h-8.5V17h8.5V9.3z"/>
                                    <path class="st1" d="M466.4,14.7h-9.3v8.5h9.3V14.7z"/>
                                    <path class="st1" d="M478.8,9.3h-8.5V17h8.5V9.3z"/>
                                 </g>
                                 <g>
                                    <path class="st0" d="M161.3,44.9h-6.6c-3.1,0-6.3,0.1-9.7,0.3c-3.4,0.2-6.1,1.1-8.2,2.6c-0.9,0.6-1.7,1.3-2.3,2.2
                                       c-0.6,0.9-1,1.9-1.2,2.9c-1,4.5-1,9.2,0,13.7c0.2,1.1,0.6,2.1,1.2,2.9c0.6,0.9,1.4,1.6,2.3,2.2c2.1,1.5,4.9,2.3,8.2,2.5
                                       c3.4,0.2,6.6,0.3,9.7,0.3h6.6c2.3,0,4.6,0,7,0.1c2.4,0,4.8,0.2,7.1,0.6c2.2,0.3,4.4,0.8,6.5,1.5c1.9,0.6,3.7,1.5,5.3,2.6
                                       c1.4,1.1,2.6,2.4,3.5,4c0.9,1.5,1.5,3.2,1.9,4.9c0.4,1.8,0.7,3.7,0.7,5.5c0.1,1.9,0.1,3.8,0.1,5.7c0,1.8,0,3.7-0.1,5.7
                                       c-0.1,1.9-0.3,3.7-0.7,5.6c-0.4,1.7-1,3.4-1.9,4.9c-0.9,1.5-2.1,2.9-3.5,4c-1.6,1.2-3.4,2.2-5.3,2.8c-2.1,0.7-4.3,1.1-6.5,1.4
                                       c-2.4,0.3-4.7,0.4-7.1,0.5c-2.4,0-4.8,0.1-7,0.1h-6.6c-2.3,0-4.6,0-7.1-0.1c-2.4-0.1-4.8-0.2-7.1-0.5c-2.2-0.3-4.4-0.7-6.6-1.4
                                       c-1.9-0.6-3.7-1.5-5.3-2.8c-1.3-1-2.4-2.4-3.1-3.9c-1-2-1.4-4.2-1.4-6.4h11.5c0.7,1.3,1.7,2.4,3,3c1.5,0.7,3,1.2,4.7,1.5
                                       c1.8,0.3,3.7,0.4,5.5,0.5c2,0,3.9,0.1,5.8,0.1h6.6c3.2,0,6.5-0.1,9.8-0.4c2.9-0.1,5.7-1,8.1-2.6c1.8-1.2,3.1-3,3.6-5.2
                                       c1.1-4.5,1.1-9.2,0-13.6c-0.5-2.1-1.8-4-3.6-5.1c-2.4-1.6-5.3-2.4-8.1-2.5c-3.3-0.2-6.6-0.3-9.8-0.3h-6.6c-2.3,0-4.6,0-7-0.1
                                       c-2.4,0-4.8-0.2-7.1-0.6c-2.2-0.3-4.4-0.8-6.6-1.5c-1.9-0.6-3.7-1.5-5.3-2.6c-1.4-1.1-2.6-2.4-3.4-4c-0.8-1.6-1.4-3.2-1.8-4.9
                                       c-0.4-1.8-0.7-3.7-0.8-5.6c-0.1-1.9-0.1-3.9-0.1-5.7c0-1.9,0-3.8,0.1-5.7c0.1-1.9,0.3-3.8,0.8-5.6c0.4-1.7,1-3.4,1.8-4.9
                                       c0.9-1.6,2-2.9,3.4-4c1.6-1.3,3.4-2.2,5.3-2.8c2.1-0.7,4.3-1.1,6.6-1.4c2.4-0.3,4.7-0.4,7.1-0.5c2.4,0,4.8-0.1,7-0.1h6.6
                                       c2.3,0,4.6,0,7,0.1c2.4,0.1,4.8,0.2,7.1,0.5c2.2,0.3,4.4,0.7,6.5,1.4c1.9,0.6,3.7,1.6,5.3,2.8c1.5,1.1,2.6,2.6,3.4,4.3
                                       c1,1.9,1.5,4.1,1.5,6.3h-11.4c-0.6-1.3-1.6-2.4-2.9-3.1c-1.5-0.8-3.1-1.3-4.8-1.6c-1.9-0.3-3.9-0.5-5.9-0.6L161.3,44.9z"/>
                                    <path class="st0" d="M274.4,118.3c-1.5,1.5-3.3,2.7-5.3,3.5c-2.1,0.8-4.3,1.5-6.5,1.8c-2.4,0.4-4.7,0.6-7.1,0.6
                                       c-2.5,0-4.8,0.1-7.1,0.1h-6.6c-2.3,0-4.6,0-7.1-0.1c-2.4,0-4.7-0.2-7.1-0.6c-2.2-0.4-4.4-1-6.4-1.8c-4-1.6-7.1-4.7-8.8-8.6
                                       c-0.9-2-1.5-4.1-1.8-6.3c-0.4-2.3-0.6-4.6-0.6-6.9c0-2.4-0.1-4.7-0.1-7s0-4.7,0.1-7c0-2.3,0.3-4.6,0.6-6.9c0.4-2.2,1-4.3,1.8-6.3
                                       c1.7-3.9,4.9-7,8.8-8.6c2.1-0.9,4.2-1.5,6.4-1.8c2.3-0.4,4.7-0.6,7.1-0.6c2.4,0,4.8-0.1,7.1-0.1h6.6c2.3,0,4.6,0,7.1,0.1
                                       c2.4,0,4.8,0.3,7.1,0.6c2.2,0.3,4.4,1,6.5,1.8c2,0.8,3.8,2,5.3,3.5c1.8,1.8,3.2,4,3.9,6.5c0.8,2.5,1.3,5.1,1.7,7.7l-10.6,1.1
                                       c-0.3-1.3-0.7-2.6-1.2-3.9c-0.5-1.2-1.3-2.3-2.3-3.2c-1-1-2.3-1.8-3.6-2.4c-1.4-0.6-2.9-1-4.4-1.3c-1.6-0.3-3.2-0.4-4.8-0.5
                                       c-1.6,0-3.2-0.1-4.7-0.1h-6.7c-1.6,0-3.2,0-4.8,0.1c-1.6,0-3.2,0.2-4.7,0.5c-1.5,0.3-3,0.7-4.4,1.3c-1.4,0.5-2.6,1.3-3.6,2.4
                                       c-2.1,2.1-3.4,4.8-3.6,7.7c-0.7,6.2-0.7,12.5,0,18.8c0.3,2.9,1.5,5.6,3.6,7.7c1,1,2.3,1.8,3.6,2.4c1.4,0.6,2.9,1,4.4,1.3
                                       c1.6,0.3,3.1,0.4,4.7,0.5c1.6,0,3.2,0.1,4.8,0.1h6.6c1.5,0,3.1,0,4.7-0.1c1.6,0,3.2-0.2,4.8-0.5c1.5-0.3,3-0.7,4.4-1.3
                                       c1.3-0.5,2.6-1.3,3.6-2.4c1-0.9,1.8-2,2.3-3.2c0.5-1.3,0.9-2.6,1.2-3.9l10.6,1.1c-0.4,2.6-0.9,5.2-1.7,7.7
                                       C277.6,114.3,276.3,116.5,274.4,118.3z"/>
                                    <path class="st0" d="M341.8,124.3v-1.5c-2.8,0.8-5.8,1.2-8.7,1.4c-3.1,0.1-6.2,0.2-9.1,0.2h-5.3c-1.9,0-4,0-6.1-0.1
                                       c-2.1-0.1-4.2-0.2-6.2-0.4c-1.9-0.2-3.8-0.6-5.7-1.1c-1.6-0.4-3.2-1.2-4.6-2.1c-1.2-0.8-2.1-1.8-2.9-3c-0.8-1.2-1.3-2.5-1.5-3.9
                                       c-0.5-2.9-0.8-5.8-0.8-8.8c0-1.5,0-3,0.1-4.5c0.1-1.5,0.3-2.9,0.7-4.4c0.4-1.4,0.9-2.7,1.6-3.9c0.7-1.2,1.7-2.3,2.8-3.1
                                       c1.4-1,3-1.7,4.6-2.2c1.9-0.5,3.8-0.9,5.7-1.1c2-0.2,4.1-0.4,6.2-0.4c2.1,0,4.2-0.1,6.1-0.1h5.2c2.9,0,6,0.1,9.1,0.2
                                       c2.9,0.1,5.8,0.5,8.7,1.3v-1.5c0-2-0.2-4.1-0.5-6.1c-0.3-1.9-1.3-3.7-2.8-4.8c-1.9-1.4-4.2-2.2-6.6-2.3c-2.7-0.2-5.3-0.4-7.9-0.4
                                       h-5.3c-2.6,0-5.2,0.1-7.9,0.3c-2.4,0.1-4.7,0.9-6.6,2.3c-0.5,0.4-1,0.8-1.4,1.4c-0.4,0.6-0.7,1.2-1,1.8l-10.6-1.7
                                       c0.3-1.8,0.8-3.6,1.5-5.3c0.8-1.7,1.9-3.2,3.3-4.4c1.4-1.2,2.9-2,4.6-2.6c1.8-0.6,3.7-1.1,5.7-1.3c2-0.3,4.1-0.4,6.1-0.5
                                       c2.1-0.1,4.2-0.1,6.2-0.1h5.2c2,0,4.1,0,6.2,0.1c2.1,0,4.1,0.2,6.1,0.5c1.9,0.3,3.8,0.7,5.6,1.3c1.7,0.5,3.3,1.4,4.6,2.6
                                       c1.3,1.1,2.3,2.4,3,3.9c0.8,1.5,1.3,3.1,1.6,4.7c0.3,1.7,0.5,3.4,0.6,5.1c0,1.8,0.1,3.5,0.1,5.3v39.1L341.8,124.3z M318.8,95.4
                                       c-2.5,0-5.1,0-7.8,0.1c-2.3,0-4.6,0.5-6.7,1.5c-1.3,0.7-2.2,1.9-2.6,3.3c-0.5,1.5-0.7,3-0.7,4.5c0,1.5,0.2,3,0.7,4.4
                                       c0.4,1.4,1.4,2.5,2.6,3.2c2.1,1,4.4,1.6,6.7,1.6c2.7,0.1,5.3,0.2,7.8,0.2h5.2c2.5,0,5.1-0.1,7.8-0.2c2.3,0,4.6-0.6,6.7-1.6
                                       c1.2-0.7,2.2-1.8,2.6-3.2c0.5-1.4,0.7-2.9,0.7-4.4c0-1.5-0.2-3.1-0.7-4.5c-0.4-1.4-1.4-2.6-2.6-3.3c-2.1-1-4.4-1.5-6.7-1.5
                                       c-2.7-0.1-5.3-0.1-7.8-0.1H318.8z"/>
                                    <path class="st0" d="M373.6,37.8v86.5h-10V37.8H373.6z"/>
                                    <path class="st0" d="M442.9,108.3l10.7,2.9c-0.7,3.1-2.4,5.9-4.9,7.9c-1.5,1.3-3.3,2.3-5.2,3c-2.1,0.7-4.2,1.2-6.4,1.5
                                       c-2.3,0.3-4.7,0.5-7,0.6c-2.4,0-4.7,0.1-7,0.1h-6.4c-2.3,0-4.7,0-7-0.1c-2.3,0-4.7-0.3-7-0.6c-2.2-0.4-4.3-1-6.4-1.8
                                       c-3.9-1.6-7-4.7-8.7-8.6c-0.9-2-1.5-4.1-1.8-6.3c-0.4-2.3-0.6-4.6-0.6-6.9c0-2.4-0.1-4.7-0.1-7s0-4.6,0.1-7c0-2.3,0.3-4.6,0.6-6.9
                                       c0.3-2.2,0.9-4.3,1.8-6.3c1.7-3.9,4.8-7,8.7-8.6c2.1-0.9,4.2-1.5,6.4-1.8c2.3-0.4,4.6-0.6,7-0.6c2.4,0,4.7-0.1,7-0.1h6.4
                                       c2.3,0,4.7,0,7,0.1c2.3,0,4.7,0.3,7,0.6c2.2,0.3,4.3,1,6.4,1.8c3.9,1.6,7,4.7,8.6,8.6c0.9,2,1.5,4.1,1.8,6.3
                                       c0.4,2.3,0.6,4.6,0.6,6.9c0,2.4,0.1,4.7,0.1,7v5.1h-59.3c0.1,2.2,0.4,4.4,1,6.6c0.5,2,1.6,3.9,3.1,5.4c1,1,2.2,1.8,3.5,2.4
                                       c1.4,0.6,2.8,1,4.3,1.3c1.6,0.3,3.1,0.4,4.7,0.5c1.6,0,3.2,0.1,4.8,0.1h6.4c1.9,0,3.9,0,6-0.1c1.9-0.1,3.8-0.3,5.7-0.7
                                       c1.7-0.3,3.3-1,4.8-1.8C441,110.9,442.1,109.8,442.9,108.3z M440.5,75.9c-2.1-2.1-4.9-3.4-7.8-3.6c-3.2-0.4-6.3-0.6-9.5-0.6h-6.4
                                       c-1.6,0-3.2,0-4.8,0.1c-1.6,0-3.2,0.2-4.7,0.5c-1.5,0.3-2.9,0.7-4.3,1.3c-1.3,0.5-2.5,1.3-3.5,2.4c-1.5,1.5-2.5,3.3-3.1,5.4
                                       c-0.6,2.2-0.9,4.4-1,6.6h49.2c-0.1-2.2-0.4-4.4-1-6.6C443,79.3,442,77.4,440.5,75.9L440.5,75.9z"/>
                                    <path class="st0" d="M478.6,37.8v86.5h-10.8V37.8H478.6z"/>
                                    <path class="st0" d="M552.9,67.8c1.5,1.5,2.7,3.2,3.5,5.1c0.9,2,1.5,4.1,1.8,6.3c0.4,2.3,0.6,4.6,0.6,6.9c0,2.4,0.1,4.7,0.1,7
                                       c0,2.3,0,4.6-0.1,7c0,2.3-0.2,4.6-0.6,6.9c-0.3,2.2-1,4.3-1.8,6.3c-1.7,3.9-4.8,7-8.8,8.6c-2.1,0.8-4.2,1.5-6.5,1.8
                                       c-2.3,0.4-4.7,0.6-7,0.6c-2.4,0-4.8,0.1-7.1,0.1h-6.5c-2.3,0-4.7,0-7.1-0.1c-2.4,0-4.7-0.2-7-0.6c-2.2-0.4-4.4-1-6.5-1.8
                                       c-3.9-1.6-7.1-4.7-8.8-8.6c-0.9-2-1.5-4.1-1.8-6.3c-0.4-2.3-0.6-4.6-0.6-6.9c0-2.4-0.1-4.7-0.1-7c0-2.3,0-4.6,0.1-7
                                       c0-2.3,0.3-4.6,0.6-6.9c0.4-2.2,1-4.3,1.8-6.3c1.7-3.9,4.8-7,8.8-8.6c2.1-0.9,4.2-1.5,6.5-1.8c2.3-0.4,4.7-0.6,7-0.6
                                       c2.4,0,4.8-0.1,7.1-0.1h6.5c2.3,0,4.7,0,7.1,0.1c2.4,0,4.7,0.3,7,0.6c2.2,0.3,4.4,1,6.5,1.8C549.6,65.1,551.4,66.3,552.9,67.8
                                       L552.9,67.8z M520.5,71.8c-1.6,0-3.2,0-4.8,0.1c-1.6,0-3.2,0.2-4.8,0.5c-1.5,0.3-2.9,0.7-4.3,1.3c-1.3,0.5-2.6,1.3-3.6,2.4
                                       c-2.1,2.1-3.3,4.8-3.6,7.7c-0.6,6.2-0.6,12.5,0,18.8c0.2,2.9,1.5,5.6,3.6,7.7c1,1,2.2,1.8,3.6,2.4c1.4,0.6,2.9,1,4.3,1.3
                                       c1.6,0.3,3.2,0.4,4.8,0.5c1.6,0,3.2,0.1,4.8,0.1h6.5c1.6,0,3.2,0,4.8-0.1c1.6,0,3.2-0.2,4.8-0.5c1.5-0.3,2.9-0.7,4.3-1.3
                                       c1.3-0.5,2.6-1.3,3.6-2.4c2.1-2.1,3.4-4.8,3.6-7.7c0.7-6.2,0.7-12.5,0-18.8c-0.3-2.9-1.6-5.7-3.7-7.8c-2.1-2.1-4.9-3.3-7.9-3.6
                                       c-3.2-0.4-6.4-0.6-9.6-0.6H520.5z"/>
                                    <path class="st0" d="M586.3,61.7V37.8h10.3v23.8H613v10h-16.4v52.6h-10.3V71.7h-16.6v-10H586.3z"/>
                                 </g>
                                 <g>
                                    <path class="st0" d="M31.9,30.1h7c0.1,0,0.2,0.1,0.3,0.1c0.1,0.1,0.2,0.1,0.2,0.2c0.8,1.4,1.6,2.8,2.3,4.2
                                       c0.1,0.2,0.2,0.4,0.4,0.5c0.2,0.1,0.4,0.2,0.6,0.1c15.7,0,31.4,0,47.1,0c1.8,0,3.7,0.4,5.3,1.1c2.4,1,4.5,2.5,6.3,4.4
                                       c1.8,1.9,3.2,4.1,4.1,6.5c0.2,0.4,0.1,0.6-0.3,0.8c-7.1,3.4-14.2,6.8-21.3,10.2L56.8,71.3c-0.2,0.1-0.4,0.2-0.6,0.3
                                       c0.2,0.1,0.3,0.3,0.5,0.4c9,6.4,18.5,12.2,27.7,18.2c4.3,2.8,8.6,5.6,13,8.3c0.2,0.1,0.3,0.3,0.4,0.5c0.1,0.2,0.1,0.4,0.1,0.6
                                       c-0.6,6.6-3.4,12.1-7.7,17c-3.4,3.8-7.6,6.6-12.2,8.9c-0.4,0.2-0.5-0.1-0.6-0.3c-3-6.3-6.1-12.6-9.1-19c-12-25.1-24-50.3-36-75.4
                                       C32.1,30.6,32.1,30.4,31.9,30.1z"/>
                                    <path class="st0" d="M52.8,94.4c-1.3-0.9-2.5-1.7-3.8-2.5C36.5,84.4,24,77,11.5,69.6c-0.2-0.1-0.3-0.2-0.4-0.3
                                       c-0.1-0.1-0.1-0.3-0.1-0.5c0.5-5.7,1.7-11.2,3.6-16.5c1.2-3.3,2.9-6.4,5.1-9.1c2.7-3.2,6.1-5.4,10.3-6.1c1.2-0.2,1.2-0.2,1.7,0.9
                                       c10.8,23,21.6,46.1,32.4,69.1c3.6,7.7,7.2,15.4,10.8,23.1c0.1,0.2,0.2,0.4,0.3,0.6l-3.9,0.3c-0.8,0.1-1.6,0.1-2.3,0.2
                                       c-0.1,0-0.3,0-0.4,0c-0.1-0.1-0.2-0.2-0.3-0.3c-0.8-1.6-1.6-3.2-2.4-4.8c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.1-0.4-0.1h-63
                                       c-0.5,0-1,0-1.6,0c-0.5,0-0.6-0.2-0.7-0.6c-0.1-0.6,0-1.2,0.3-1.8c0.3-0.6,0.6-1,1.1-1.4l50.7-27.3C52.4,94.6,52.5,94.5,52.8,94.4
                                       z"/>
                                    <path class="st1" d="M3.2,109.1c0.2-1.1,0.4-2,0.6-3c1.6-7.8,3.3-15.6,4.9-23.3c0.1-0.3,0.1-0.4,0.5-0.2
                                       c7.3,4.4,14.6,8.8,21.9,13.3c0.1,0.1,0.2,0.1,0.3,0.2L3.2,109.1z"/>
                                    <path class="st1" d="M104.7,60.3c-0.6,3.1-1.2,6-1.7,9c-1,5.5-2.1,10.9-3.2,16.4c-0.2,0.8-0.1,0.8-0.8,0.4L78.2,74.2
                                       c-0.2-0.1-0.3-0.2-0.6-0.3L104.7,60.3z"/>
                                 </g>
                              </g>
                              </svg>
                              <!-- <img src="assets/images/logo.png" alt="Image"> -->
                           </a>
                        </div>
                        <div class="navbar__options">
                           <button class="open-offcanvas-nav d-flex" aria-label="toggle mobile menu"
                              title="open offcanvas menu"></button>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- ==== / header end ==== -->
      <!-- ==== offcanvas nav start ==== -->
      <div class="offcanvas-nav">
         <div class="offcanvas-menu">
            <nav class="offcanvas-menu__wrapper">
               <div class="offcanvas-menu__header nav-fade">
                  <div class="logo">
                     <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 331.1 316.9" style="enable-background:new 0 0 331.1 316.9;" xml:space="preserve">
                           <style type="text/css">
                              .st0{fill:#FFFFFF;}
                              .st1{fill:#EF3238;}
                           </style>
                           <g>
                              <g>
                                 <path class="st0" d="M100.3,0h21.9c0.3,0,0.6,0.3,0.9,0.3c0.3,0.3,0.6,0.3,0.6,0.6c2.5,4.4,5,8.8,7.2,13.2    c0.3,0.6,0.6,1.3,1.3,1.6c0.6,0.3,1.3,0.6,1.9,0.3c49.2,0,98.3,0,147.5,0c5.6,0,11.6,1.3,16.6,3.4c7.5,3.1,14.1,7.8,19.7,13.8    c5.6,5.9,10,12.8,12.8,20.4c0.6,1.3,0.3,1.9-0.9,2.5c-22.2,10.6-44.5,21.3-66.7,31.9l-84.9,41c-0.6,0.3-1.3,0.6-1.9,0.9    c0.6,0.3,0.9,0.9,1.6,1.3c28.2,20,57.9,38.2,86.7,57c13.5,8.8,26.9,17.5,40.7,26c0.6,0.3,0.9,0.9,1.3,1.6s0.3,1.3,0.3,1.9    c-1.9,20.7-10.6,37.9-24.1,53.2c-10.6,11.9-23.8,20.7-38.2,27.9c-1.3,0.6-1.6-0.3-1.9-0.9c-9.4-19.7-19.1-39.5-28.5-59.5    C176.7,159.7,139.2,80.8,101.6,2.2C100.9,1.6,100.9,0.9,100.3,0z"/>
                                 <path class="st0" d="M165.8,201.4c-4.1-2.8-7.8-5.3-11.9-7.8c-39.1-23.5-78.3-46.7-117.4-69.8c-0.6-0.3-0.9-0.6-1.3-0.9    c-0.3-0.3-0.3-0.9-0.3-1.6c1.6-17.8,5.3-35.1,11.3-51.7c3.8-10.3,9.1-20,16-28.5c8.5-10,19.1-16.9,32.3-19.1    c3.8-0.6,3.8-0.6,5.3,2.8c33.8,72,67.6,144.4,101.5,216.4c11.3,24.1,22.5,48.2,33.8,72.3c0.3,0.6,0.6,1.3,0.9,1.9l-12.2,0.9    c-2.5,0.3-5,0.3-7.2,0.6c-0.3,0-0.9,0-1.3,0c-0.3-0.3-0.6-0.6-0.9-0.9c-2.5-5-5-10-7.5-15c-0.3-0.3-0.6-0.9-0.9-1.3    c-0.3-0.3-0.9-0.3-1.3-0.3H7.3c-1.6,0-3.1,0-5,0c-1.6,0-1.9-0.6-2.2-1.9c-0.3-1.9,0-3.8,0.9-5.6c0.9-1.9,1.9-3.1,3.4-4.4    L163.3,202C164.5,202,164.8,201.7,165.8,201.4z"/>
                                 <path class="st1" d="M10.5,247.4c0.6-3.4,1.3-6.3,1.9-9.4c5-24.4,10.3-48.9,15.3-73c0.3-0.9,0.3-1.3,1.6-0.6    C52.1,178.2,75,192,97.8,206c0.3,0.3,0.6,0.3,0.9,0.6L10.5,247.4z"/>
                                 <path class="st1" d="M328.3,94.6c-1.9,9.7-3.8,18.8-5.3,28.2c-3.1,17.2-6.6,34.1-10,51.4c-0.6,2.5-0.3,2.5-2.5,1.3l-65.1-37.3    c-0.6-0.3-0.9-0.6-1.9-0.9L328.3,94.6z"/>
                              </g>
                           </g>
                        </svg>
                        <!-- <img src="assets/images/logo.png" alt="" title=""> -->
                     </a>
                  </div>
                  <a href="javascript:void(0)" aria-label="close offcanvas menu" class="close-offcanvas-menu">
                     <i class="fa-light fa-xmark-large"></i>
                  </a>
               </div>
               <div class="offcanvas-menu__list">
                  <div class="navbar__menu">
                     <ul >
                        <li class="navbar__item nav-fade">
                           <a href="/" aria-label="dropdown menu" class="navbar__dropdown-label">Home</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/aboutus">About Us</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/services" aria-label="dropdown menu" class="navbar__dropdown-label">Services</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/projects" aria-label="dropdown menu" class="navbar__dropdown-label">Projects</a>
                        </li>
                        <li class="navbar__item navbar__item--has-children nav-fade">
                           <a href="javascript:void(0)" aria-label="dropdown menu" class="navbar__dropdown-label">Pages</a>
                           <ul class="navbar__sub-menu">
                              <li>
                                 <a href="/faq">FAQ</a>
                              </li>
                              <li>
                                 <a href="/career">Career</a>
                              </li>
                              <li>
                                 <a href="/blog">Blog</a>
                              </li>
                              <li>
                                 <a href="/team" aria-label="dropdown menu" class="navbar__dropdown-label navbar__dropdown-label-sub">Team</a>
                              </li>
                              <li>
                                 <a href="/feedback">Testimonials</a>
                              </li>
                              <li>
                                 <a href="/contactus">Contact Us</a>
                              </li>
                           </ul>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/portfolio" aria-label="dropdown menu" class="navbar__dropdown-label">Portfolio</a>
                           <!-- <ul class="navbar__sub-menu">
                              <li>
                                 <a href="/blog">Blog</a>
                              </li>
                              <li>
                                 <a href="/blog">Blog Details</a>
                              </li>
                           </ul> -->
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="offcanvas-menu__options nav-fade">
                  <div class="offcanvas__mobile-options d-flex">
                     <a href="/contactus" class="btn btn--secondary">Let's Talk</a>
                  </div>
               </div>
               <div class="offcanvas-menu__social social nav-fade">
                  <a href="https://www.facebook.com/" target="_blank" aria-label="share us on facebook">
                     <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="https://www.twitter.com/" target="_blank" aria-label="share us on twitter">
                     <i class="fa-brands fa-twitter"></i>
                  </a>
                  <a href="https://www.pinterest.com/" target="_blank" aria-label="share us on pinterest">
                     <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="https://www.instagram.com/" target="_blank" aria-label="share us on instagram">
                     <i class="fa-brands fa-instagram"></i>
                  </a>
               </div>
            </nav>
         </div>
      </div>
      <!-- ==== / offcanvas nav end ==== -->
      <div id="smooth-wrapper">
         <div id="smooth-content">
            <!-- ==== main start ==== -->
            <main>
               <!-- ==== banner start ==== -->
               <section class="banner">
                  <div class="container">
                     <div class="row">
                        <div class="col-12">
                           <div class="banner__content">
                              <h1 class="text-uppercase text-start fw-9 mb-0 title-anim">
                                 Your One-Stop Shop for
                                 <span class="text-stroke">Advanced</span>
                                 <span class="interval">
                                    <i class="icon-arrow-top-right"></i>
                                     IT Solutions!
                                 </span>
                              </h1>
                              <div class="banner__content-inner">
                                 <p>Welcome to Scalelot Technologies, a dynamic powerhouse renowned for its expertise in Website Development and Mobile Application Development. Our trusted services expand beyond to include digital marketing excellence and mesmerizing UI/UX designs, all seamlessly complemented by eye-catching content, crafted to fuel the growth of your businesses. Connect with Scalelot Technologies and elevate your online presence, attract your audience, and reach to new heights. Let's reshape the future of your business.</p>
                                 <div class="cta section__content-cta">
                                    <div class="single">
                                       <h5 class="fw-7">
                                          5+
                                       </h5>
                                       <p class="fw-5">years of experience</p>
                                    </div>
                                    <div class="single">
                                       <h5 class="fw-7">
                                          200+
                                       </h5>
                                       <p class="fw-5">completed projects</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/banner/banner-one-thumb.png" alt="Image" class="banner-one-thumb d-none d-sm-block g-ban-one">
                  <img src="assets/images/star.png" alt="Image" class="star">
                  <div class="banner-left-text banner-social-text d-none d-md-flex">
                     <a href="mailto:info@scalelot.com">mail : info@scalelot.com</a>
                     <a href="tel:99-2158-003-6980">Call : +99 2158 003 6980</a>
                  </div>
                  <div class="banner-right-text banner-social-text d-none d-md-flex">
                     <a href="https://www.instagram.com/" target="_blank">
                        instagram
                     </a>
                     <a href="https://www.pinterest.com/" target="_blank">
                        Linkedin
                     </a>
                     <a href="https://www.facebook.com/" target="_blank">
                        facebook
                     </a>
                  </div>
                  <a class="video-frame video-btn" href="https://www.youtube.com/watch?v=RvreULjnzFo" target="_blank">
                     <img src="assets/images/video-frame.png" alt="Image">
                     <i class="fa-sharp fa-solid fa-play"></i>
                  </a>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>
               <!-- ==== / banner end ==== -->
               <!-- ==== agency start ==== -->
               <section class="section agency">
                  <div class="container">
                     <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-6">
                           <div class="agency__thumb">
                              <img src="assets/images/agency/thumb-one.png" alt="Image" class="thumb-one fade-left">
                              <img src="assets/images/agency/thumb-two.png" alt="Image" class="thumb-two fade-right">
                           </div>
                        </div>
                        <div class="col-12 col-lg-6">
                           <div class="agency__content section__content">
                              <span class="sub-title">
                                 WELCOME
                                 <i class="fa-solid fa-arrow-right"></i>
                              </span>
                              <h2 class="title title-anim">
                                 We Are Leading IT Solution Experts in India
                              </h2>
                              <div class="paragraph">
                                 <p>We have a skilled group that excels at creating websites and mobile applications. We are not just tech geeks but also digital marketing geniuses. We grow your businesses through our cutting-edge digital marketing techniques, graphics designing marvels, and extraordinary content writing services. Scalelot Technologies assists you in improving your online presence helping you engage with your clients and expanding your business. </p>
                              </div>
                              <div class="skill-wrap">
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Web & Website Development</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="75%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Mobile & App Development</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="90%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Digital Marketing</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="100%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="section__content-cta">
                                 <a href="/aboutus" class="btn btn--primary">Know More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/star.png" alt="Image" class="star">
                  <img src="assets/images//agency/dot-large.png" alt="Image" class="dot-large">
               </section>
               <!-- ==== / agency end ==== -->
               <!-- ==== portfolio start ==== -->
               <section class="section portfolio portfolio-two portfolio-filter fade-wrapper">
                  <div class="portfolio__text-slider">
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="banner-five_swiper">
                     <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/nine.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/ten.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/eleven.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/twelve.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/thirteen.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/nine.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/ten.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/eleven.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/twelve.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <a href="project-single.html">
                                <img src="assets/images/projects/thirteen.png" alt="Image">
                                </a>
                              </div>
                              <div class="content">
                                <h4>
                                  <a href="project-single.html">Kaizen Psychology</a>
                                </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
               </section>
               <!-- ==== / portfolio end ==== -->
               <!-- ==== offer start ==== -->
               <section class="section offer fade-wrapper light">
                  <div class="container">
                     <div class="row gaper">
                        <div class="col-12 col-lg-5">
                           <div class="offer__content section__content">
                              <span class="sub-title">
                                 WHAT WE OFFER
                                 <i class="fa-solid fa-arrow-right"></i>
                              </span>
                              <h2 class="title title-anim">
                                 Giving Your Business Growth and Credibility
                              </h2>
                              <div class="paragraph">
                                 <p>At Scalelot Technologies, we specialize in developing customized solutions that not only support the growth of your businesses but also allow you to establish unwavering trust in the marketplace. </p>
                              </div>
                              <div class="section__content-cta">
                                 <a href="/services" class="btn btn--secondary">view all services</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-lg-7 col-xl-6 offset-xl-1">
                           <div class="offer__cta">
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    01
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       uI / uX experience
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/blog-thumb.png"></div>
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    02
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       web development
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/two.png"></div>
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    03
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       digital marketing
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/three.png"></div>
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    04
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       product design
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/blog-thumb.png"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/offer/star.png" alt="Image" class="star">
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>               
               <!-- ==== / offer end ==== -->
               <!-- ==== testimonial start ==== -->
               <section class="section testimonial position-relative">
                  <div class="testimonial__text-slider">
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="container position-relative">
                     <div class="row">
                        <div class="col-12 col-xxl-10">
                           <div class="testimonial-s__slider">
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div>
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>I am delighted to share my experience with Scalelot Technologies' Website Development service. Working with them has been an absolute pleasure from start to finish. Their team is very talented and creative with a professional approach.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Daniel Smith</h5>
                                             <p>Senior engineer</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-two.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div>
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>From the initial concept discussions to the final launch of the Mobile Application, Scalelot Technologies demonstrated a deep understanding of our vision and goals. The entire team was cooperative with our feedback, making necessary adjustments promptly.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Daniel Smith</h5>
                                             <p>Senior engineer</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div>
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>Scalelot Technologies helped me create my Website which immediately boosted my online presence and attracted online users to my business. The Design, Development, and Content Writing services were up to the mark.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Daniel Smith</h5>
                                             <p>Senior engineer</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div>
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>I have availed a range of services at Scalelot Technologies starting from Application Development to Digital Marketing. I am happy with all the results be it UI/UX Designing, Application Development, Graphics Designing, Brochure Designing, or Social Media Marketing.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Daniel Smith</h5>
                                             <p>Senior engineer</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="slide-group justify-content-start">
                        <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-testimonial-three">
                           <i class="fa-light fa-angle-left"></i>
                        </a>
                        <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-testimonial-three">
                           <i class="fa-light fa-angle-right"></i>
                        </a>
                     </div>
                  </div>
                  <!-- <div class="other-section">
                     <img class="other-section-image" src="assets/images/testimonial/s-thumb.png"
                        alt="Next Slide Image">
                  </div> -->
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>
               
               <section class="section blog blog-two">
                  <div class="container">
                     <div class="row">
                        <div class="col-12">
                           <div class="section__header--secondary">
                              <div class="row gaper align-items-center">
                                 <div class="col-12 col-lg-8">
                                    <div class="section__header text-center text-lg-start mb-0">
                                       <span class="sub-title">news & Blog
                                          <i class="fa-solid fa-arrow-right"></i>
                                       </span>
                                       <h2 class="title title-anim">what's new in blog</h2>
                                    </div>
                                 </div>
                                 <div class="col-12 col-lg-4">
                                    <div class="slide-group justify-content-center justify-content-lg-end">
                                       <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-blog">
                                          <i class="fa-light fa-angle-left"></i>
                                       </a>
                                       <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-blog">
                                          <i class="fa-light fa-angle-right"></i>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="blog-two__slider">
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/three.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/four.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">Transforming Challenges into Opportunities</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/five.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/three.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/four.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">Transforming Challenges into Opportunities</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/five.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- ==== / blog end ==== -->
               <!-- ==== sponsor start ==== -->
               <div class="sponsor section pb-0">
                  <div class="container-fluid">
                     <div class="row justify-content-center">
                        <div class="col-12">
                           <div class="sponsor__slider ">
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/one.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/two.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/three.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/four.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/five.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/six.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/one.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/two.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/three.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/four.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/five.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/six.png" alt="Image">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </div>
               <!-- ==== / sponsor end ==== -->
               <!-- ==== next page start ==== -->
               <section class="section next-page">
                  <div class="container">
                     <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                           <div class="section__header text-center">
                              <a href="/aboutus" class="sub-title mb-0">
                                 Next Page
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="next__text-slider">
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>
               <!-- ==== / next page end ==== -->
            </main>
            <!-- ==== / main end ==== -->
            <footer class="footer-two section pb-0">
               <div class="container">
                  <div class="row gaper">
                     <div class="col-12 col-lg-5 col-xl-4">
                        <div class="footer-two__left">
                           <div class="logo">
                              <a href="/">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                              viewBox="0 0 613 131.3" style="enable-background:new 0 0 613 131.3;" xml:space="preserve">
                              <style type="text/css">
                                 .st0{fill:#FFFFFF;}
                                 .st1{fill:#EF3238;}
                              </style>
                              <g>
                                 <g>
                                    <path class="st0" d="M453.3,14.7h-8.5v8.5h8.5V14.7z"/>
                                    <path class="st0" d="M478.8,20.9h-8.5v8.5h8.5V20.9z"/>
                                    <path class="st0" d="M441,20.9h-8.5v8.5h8.5V20.9z"/>
                                    <path class="st0" d="M427.1,0h-7.7v8.5h7.7V0z"/>
                                    <path class="st0" d="M414.7,20.9h-8.5v8.5h8.5V20.9z"/>
                                    <path class="st0" d="M399.2,0h-7.7v8.5h7.7V0z"/>
                                    <path class="st0" d="M386.9,14.7h-7.7v8.5h7.7V14.7z"/>
                                    <path class="st0" d="M374.5,20.9H366v8.5h8.5V20.9z"/>
                                    <path class="st1" d="M374.5,9.3H366V17h8.5V9.3z"/>
                                    <path class="st1" d="M414.7,9.3h-8.5V17h8.5V9.3z"/>
                                    <path class="st1" d="M399.2,14.7h-7.7v8.5h7.7V14.7z"/>
                                    <path class="st1" d="M427.1,14.7h-7.7v8.5h7.7V14.7z"/>
                                    <path class="st1" d="M441,9.3h-8.5V17h8.5V9.3z"/>
                                    <path class="st1" d="M466.4,14.7h-9.3v8.5h9.3V14.7z"/>
                                    <path class="st1" d="M478.8,9.3h-8.5V17h8.5V9.3z"/>
                                 </g>
                                 <g>
                                    <path class="st0" d="M161.3,44.9h-6.6c-3.1,0-6.3,0.1-9.7,0.3c-3.4,0.2-6.1,1.1-8.2,2.6c-0.9,0.6-1.7,1.3-2.3,2.2
                                       c-0.6,0.9-1,1.9-1.2,2.9c-1,4.5-1,9.2,0,13.7c0.2,1.1,0.6,2.1,1.2,2.9c0.6,0.9,1.4,1.6,2.3,2.2c2.1,1.5,4.9,2.3,8.2,2.5
                                       c3.4,0.2,6.6,0.3,9.7,0.3h6.6c2.3,0,4.6,0,7,0.1c2.4,0,4.8,0.2,7.1,0.6c2.2,0.3,4.4,0.8,6.5,1.5c1.9,0.6,3.7,1.5,5.3,2.6
                                       c1.4,1.1,2.6,2.4,3.5,4c0.9,1.5,1.5,3.2,1.9,4.9c0.4,1.8,0.7,3.7,0.7,5.5c0.1,1.9,0.1,3.8,0.1,5.7c0,1.8,0,3.7-0.1,5.7
                                       c-0.1,1.9-0.3,3.7-0.7,5.6c-0.4,1.7-1,3.4-1.9,4.9c-0.9,1.5-2.1,2.9-3.5,4c-1.6,1.2-3.4,2.2-5.3,2.8c-2.1,0.7-4.3,1.1-6.5,1.4
                                       c-2.4,0.3-4.7,0.4-7.1,0.5c-2.4,0-4.8,0.1-7,0.1h-6.6c-2.3,0-4.6,0-7.1-0.1c-2.4-0.1-4.8-0.2-7.1-0.5c-2.2-0.3-4.4-0.7-6.6-1.4
                                       c-1.9-0.6-3.7-1.5-5.3-2.8c-1.3-1-2.4-2.4-3.1-3.9c-1-2-1.4-4.2-1.4-6.4h11.5c0.7,1.3,1.7,2.4,3,3c1.5,0.7,3,1.2,4.7,1.5
                                       c1.8,0.3,3.7,0.4,5.5,0.5c2,0,3.9,0.1,5.8,0.1h6.6c3.2,0,6.5-0.1,9.8-0.4c2.9-0.1,5.7-1,8.1-2.6c1.8-1.2,3.1-3,3.6-5.2
                                       c1.1-4.5,1.1-9.2,0-13.6c-0.5-2.1-1.8-4-3.6-5.1c-2.4-1.6-5.3-2.4-8.1-2.5c-3.3-0.2-6.6-0.3-9.8-0.3h-6.6c-2.3,0-4.6,0-7-0.1
                                       c-2.4,0-4.8-0.2-7.1-0.6c-2.2-0.3-4.4-0.8-6.6-1.5c-1.9-0.6-3.7-1.5-5.3-2.6c-1.4-1.1-2.6-2.4-3.4-4c-0.8-1.6-1.4-3.2-1.8-4.9
                                       c-0.4-1.8-0.7-3.7-0.8-5.6c-0.1-1.9-0.1-3.9-0.1-5.7c0-1.9,0-3.8,0.1-5.7c0.1-1.9,0.3-3.8,0.8-5.6c0.4-1.7,1-3.4,1.8-4.9
                                       c0.9-1.6,2-2.9,3.4-4c1.6-1.3,3.4-2.2,5.3-2.8c2.1-0.7,4.3-1.1,6.6-1.4c2.4-0.3,4.7-0.4,7.1-0.5c2.4,0,4.8-0.1,7-0.1h6.6
                                       c2.3,0,4.6,0,7,0.1c2.4,0.1,4.8,0.2,7.1,0.5c2.2,0.3,4.4,0.7,6.5,1.4c1.9,0.6,3.7,1.6,5.3,2.8c1.5,1.1,2.6,2.6,3.4,4.3
                                       c1,1.9,1.5,4.1,1.5,6.3h-11.4c-0.6-1.3-1.6-2.4-2.9-3.1c-1.5-0.8-3.1-1.3-4.8-1.6c-1.9-0.3-3.9-0.5-5.9-0.6L161.3,44.9z"/>
                                    <path class="st0" d="M274.4,118.3c-1.5,1.5-3.3,2.7-5.3,3.5c-2.1,0.8-4.3,1.5-6.5,1.8c-2.4,0.4-4.7,0.6-7.1,0.6
                                       c-2.5,0-4.8,0.1-7.1,0.1h-6.6c-2.3,0-4.6,0-7.1-0.1c-2.4,0-4.7-0.2-7.1-0.6c-2.2-0.4-4.4-1-6.4-1.8c-4-1.6-7.1-4.7-8.8-8.6
                                       c-0.9-2-1.5-4.1-1.8-6.3c-0.4-2.3-0.6-4.6-0.6-6.9c0-2.4-0.1-4.7-0.1-7s0-4.7,0.1-7c0-2.3,0.3-4.6,0.6-6.9c0.4-2.2,1-4.3,1.8-6.3
                                       c1.7-3.9,4.9-7,8.8-8.6c2.1-0.9,4.2-1.5,6.4-1.8c2.3-0.4,4.7-0.6,7.1-0.6c2.4,0,4.8-0.1,7.1-0.1h6.6c2.3,0,4.6,0,7.1,0.1
                                       c2.4,0,4.8,0.3,7.1,0.6c2.2,0.3,4.4,1,6.5,1.8c2,0.8,3.8,2,5.3,3.5c1.8,1.8,3.2,4,3.9,6.5c0.8,2.5,1.3,5.1,1.7,7.7l-10.6,1.1
                                       c-0.3-1.3-0.7-2.6-1.2-3.9c-0.5-1.2-1.3-2.3-2.3-3.2c-1-1-2.3-1.8-3.6-2.4c-1.4-0.6-2.9-1-4.4-1.3c-1.6-0.3-3.2-0.4-4.8-0.5
                                       c-1.6,0-3.2-0.1-4.7-0.1h-6.7c-1.6,0-3.2,0-4.8,0.1c-1.6,0-3.2,0.2-4.7,0.5c-1.5,0.3-3,0.7-4.4,1.3c-1.4,0.5-2.6,1.3-3.6,2.4
                                       c-2.1,2.1-3.4,4.8-3.6,7.7c-0.7,6.2-0.7,12.5,0,18.8c0.3,2.9,1.5,5.6,3.6,7.7c1,1,2.3,1.8,3.6,2.4c1.4,0.6,2.9,1,4.4,1.3
                                       c1.6,0.3,3.1,0.4,4.7,0.5c1.6,0,3.2,0.1,4.8,0.1h6.6c1.5,0,3.1,0,4.7-0.1c1.6,0,3.2-0.2,4.8-0.5c1.5-0.3,3-0.7,4.4-1.3
                                       c1.3-0.5,2.6-1.3,3.6-2.4c1-0.9,1.8-2,2.3-3.2c0.5-1.3,0.9-2.6,1.2-3.9l10.6,1.1c-0.4,2.6-0.9,5.2-1.7,7.7
                                       C277.6,114.3,276.3,116.5,274.4,118.3z"/>
                                    <path class="st0" d="M341.8,124.3v-1.5c-2.8,0.8-5.8,1.2-8.7,1.4c-3.1,0.1-6.2,0.2-9.1,0.2h-5.3c-1.9,0-4,0-6.1-0.1
                                       c-2.1-0.1-4.2-0.2-6.2-0.4c-1.9-0.2-3.8-0.6-5.7-1.1c-1.6-0.4-3.2-1.2-4.6-2.1c-1.2-0.8-2.1-1.8-2.9-3c-0.8-1.2-1.3-2.5-1.5-3.9
                                       c-0.5-2.9-0.8-5.8-0.8-8.8c0-1.5,0-3,0.1-4.5c0.1-1.5,0.3-2.9,0.7-4.4c0.4-1.4,0.9-2.7,1.6-3.9c0.7-1.2,1.7-2.3,2.8-3.1
                                       c1.4-1,3-1.7,4.6-2.2c1.9-0.5,3.8-0.9,5.7-1.1c2-0.2,4.1-0.4,6.2-0.4c2.1,0,4.2-0.1,6.1-0.1h5.2c2.9,0,6,0.1,9.1,0.2
                                       c2.9,0.1,5.8,0.5,8.7,1.3v-1.5c0-2-0.2-4.1-0.5-6.1c-0.3-1.9-1.3-3.7-2.8-4.8c-1.9-1.4-4.2-2.2-6.6-2.3c-2.7-0.2-5.3-0.4-7.9-0.4
                                       h-5.3c-2.6,0-5.2,0.1-7.9,0.3c-2.4,0.1-4.7,0.9-6.6,2.3c-0.5,0.4-1,0.8-1.4,1.4c-0.4,0.6-0.7,1.2-1,1.8l-10.6-1.7
                                       c0.3-1.8,0.8-3.6,1.5-5.3c0.8-1.7,1.9-3.2,3.3-4.4c1.4-1.2,2.9-2,4.6-2.6c1.8-0.6,3.7-1.1,5.7-1.3c2-0.3,4.1-0.4,6.1-0.5
                                       c2.1-0.1,4.2-0.1,6.2-0.1h5.2c2,0,4.1,0,6.2,0.1c2.1,0,4.1,0.2,6.1,0.5c1.9,0.3,3.8,0.7,5.6,1.3c1.7,0.5,3.3,1.4,4.6,2.6
                                       c1.3,1.1,2.3,2.4,3,3.9c0.8,1.5,1.3,3.1,1.6,4.7c0.3,1.7,0.5,3.4,0.6,5.1c0,1.8,0.1,3.5,0.1,5.3v39.1L341.8,124.3z M318.8,95.4
                                       c-2.5,0-5.1,0-7.8,0.1c-2.3,0-4.6,0.5-6.7,1.5c-1.3,0.7-2.2,1.9-2.6,3.3c-0.5,1.5-0.7,3-0.7,4.5c0,1.5,0.2,3,0.7,4.4
                                       c0.4,1.4,1.4,2.5,2.6,3.2c2.1,1,4.4,1.6,6.7,1.6c2.7,0.1,5.3,0.2,7.8,0.2h5.2c2.5,0,5.1-0.1,7.8-0.2c2.3,0,4.6-0.6,6.7-1.6
                                       c1.2-0.7,2.2-1.8,2.6-3.2c0.5-1.4,0.7-2.9,0.7-4.4c0-1.5-0.2-3.1-0.7-4.5c-0.4-1.4-1.4-2.6-2.6-3.3c-2.1-1-4.4-1.5-6.7-1.5
                                       c-2.7-0.1-5.3-0.1-7.8-0.1H318.8z"/>
                                    <path class="st0" d="M373.6,37.8v86.5h-10V37.8H373.6z"/>
                                    <path class="st0" d="M442.9,108.3l10.7,2.9c-0.7,3.1-2.4,5.9-4.9,7.9c-1.5,1.3-3.3,2.3-5.2,3c-2.1,0.7-4.2,1.2-6.4,1.5
                                       c-2.3,0.3-4.7,0.5-7,0.6c-2.4,0-4.7,0.1-7,0.1h-6.4c-2.3,0-4.7,0-7-0.1c-2.3,0-4.7-0.3-7-0.6c-2.2-0.4-4.3-1-6.4-1.8
                                       c-3.9-1.6-7-4.7-8.7-8.6c-0.9-2-1.5-4.1-1.8-6.3c-0.4-2.3-0.6-4.6-0.6-6.9c0-2.4-0.1-4.7-0.1-7s0-4.6,0.1-7c0-2.3,0.3-4.6,0.6-6.9
                                       c0.3-2.2,0.9-4.3,1.8-6.3c1.7-3.9,4.8-7,8.7-8.6c2.1-0.9,4.2-1.5,6.4-1.8c2.3-0.4,4.6-0.6,7-0.6c2.4,0,4.7-0.1,7-0.1h6.4
                                       c2.3,0,4.7,0,7,0.1c2.3,0,4.7,0.3,7,0.6c2.2,0.3,4.3,1,6.4,1.8c3.9,1.6,7,4.7,8.6,8.6c0.9,2,1.5,4.1,1.8,6.3
                                       c0.4,2.3,0.6,4.6,0.6,6.9c0,2.4,0.1,4.7,0.1,7v5.1h-59.3c0.1,2.2,0.4,4.4,1,6.6c0.5,2,1.6,3.9,3.1,5.4c1,1,2.2,1.8,3.5,2.4
                                       c1.4,0.6,2.8,1,4.3,1.3c1.6,0.3,3.1,0.4,4.7,0.5c1.6,0,3.2,0.1,4.8,0.1h6.4c1.9,0,3.9,0,6-0.1c1.9-0.1,3.8-0.3,5.7-0.7
                                       c1.7-0.3,3.3-1,4.8-1.8C441,110.9,442.1,109.8,442.9,108.3z M440.5,75.9c-2.1-2.1-4.9-3.4-7.8-3.6c-3.2-0.4-6.3-0.6-9.5-0.6h-6.4
                                       c-1.6,0-3.2,0-4.8,0.1c-1.6,0-3.2,0.2-4.7,0.5c-1.5,0.3-2.9,0.7-4.3,1.3c-1.3,0.5-2.5,1.3-3.5,2.4c-1.5,1.5-2.5,3.3-3.1,5.4
                                       c-0.6,2.2-0.9,4.4-1,6.6h49.2c-0.1-2.2-0.4-4.4-1-6.6C443,79.3,442,77.4,440.5,75.9L440.5,75.9z"/>
                                    <path class="st0" d="M478.6,37.8v86.5h-10.8V37.8H478.6z"/>
                                    <path class="st0" d="M552.9,67.8c1.5,1.5,2.7,3.2,3.5,5.1c0.9,2,1.5,4.1,1.8,6.3c0.4,2.3,0.6,4.6,0.6,6.9c0,2.4,0.1,4.7,0.1,7
                                       c0,2.3,0,4.6-0.1,7c0,2.3-0.2,4.6-0.6,6.9c-0.3,2.2-1,4.3-1.8,6.3c-1.7,3.9-4.8,7-8.8,8.6c-2.1,0.8-4.2,1.5-6.5,1.8
                                       c-2.3,0.4-4.7,0.6-7,0.6c-2.4,0-4.8,0.1-7.1,0.1h-6.5c-2.3,0-4.7,0-7.1-0.1c-2.4,0-4.7-0.2-7-0.6c-2.2-0.4-4.4-1-6.5-1.8
                                       c-3.9-1.6-7.1-4.7-8.8-8.6c-0.9-2-1.5-4.1-1.8-6.3c-0.4-2.3-0.6-4.6-0.6-6.9c0-2.4-0.1-4.7-0.1-7c0-2.3,0-4.6,0.1-7
                                       c0-2.3,0.3-4.6,0.6-6.9c0.4-2.2,1-4.3,1.8-6.3c1.7-3.9,4.8-7,8.8-8.6c2.1-0.9,4.2-1.5,6.5-1.8c2.3-0.4,4.7-0.6,7-0.6
                                       c2.4,0,4.8-0.1,7.1-0.1h6.5c2.3,0,4.7,0,7.1,0.1c2.4,0,4.7,0.3,7,0.6c2.2,0.3,4.4,1,6.5,1.8C549.6,65.1,551.4,66.3,552.9,67.8
                                       L552.9,67.8z M520.5,71.8c-1.6,0-3.2,0-4.8,0.1c-1.6,0-3.2,0.2-4.8,0.5c-1.5,0.3-2.9,0.7-4.3,1.3c-1.3,0.5-2.6,1.3-3.6,2.4
                                       c-2.1,2.1-3.3,4.8-3.6,7.7c-0.6,6.2-0.6,12.5,0,18.8c0.2,2.9,1.5,5.6,3.6,7.7c1,1,2.2,1.8,3.6,2.4c1.4,0.6,2.9,1,4.3,1.3
                                       c1.6,0.3,3.2,0.4,4.8,0.5c1.6,0,3.2,0.1,4.8,0.1h6.5c1.6,0,3.2,0,4.8-0.1c1.6,0,3.2-0.2,4.8-0.5c1.5-0.3,2.9-0.7,4.3-1.3
                                       c1.3-0.5,2.6-1.3,3.6-2.4c2.1-2.1,3.4-4.8,3.6-7.7c0.7-6.2,0.7-12.5,0-18.8c-0.3-2.9-1.6-5.7-3.7-7.8c-2.1-2.1-4.9-3.3-7.9-3.6
                                       c-3.2-0.4-6.4-0.6-9.6-0.6H520.5z"/>
                                    <path class="st0" d="M586.3,61.7V37.8h10.3v23.8H613v10h-16.4v52.6h-10.3V71.7h-16.6v-10H586.3z"/>
                                 </g>
                                 <g>
                                    <path class="st0" d="M31.9,30.1h7c0.1,0,0.2,0.1,0.3,0.1c0.1,0.1,0.2,0.1,0.2,0.2c0.8,1.4,1.6,2.8,2.3,4.2
                                       c0.1,0.2,0.2,0.4,0.4,0.5c0.2,0.1,0.4,0.2,0.6,0.1c15.7,0,31.4,0,47.1,0c1.8,0,3.7,0.4,5.3,1.1c2.4,1,4.5,2.5,6.3,4.4
                                       c1.8,1.9,3.2,4.1,4.1,6.5c0.2,0.4,0.1,0.6-0.3,0.8c-7.1,3.4-14.2,6.8-21.3,10.2L56.8,71.3c-0.2,0.1-0.4,0.2-0.6,0.3
                                       c0.2,0.1,0.3,0.3,0.5,0.4c9,6.4,18.5,12.2,27.7,18.2c4.3,2.8,8.6,5.6,13,8.3c0.2,0.1,0.3,0.3,0.4,0.5c0.1,0.2,0.1,0.4,0.1,0.6
                                       c-0.6,6.6-3.4,12.1-7.7,17c-3.4,3.8-7.6,6.6-12.2,8.9c-0.4,0.2-0.5-0.1-0.6-0.3c-3-6.3-6.1-12.6-9.1-19c-12-25.1-24-50.3-36-75.4
                                       C32.1,30.6,32.1,30.4,31.9,30.1z"/>
                                    <path class="st0" d="M52.8,94.4c-1.3-0.9-2.5-1.7-3.8-2.5C36.5,84.4,24,77,11.5,69.6c-0.2-0.1-0.3-0.2-0.4-0.3
                                       c-0.1-0.1-0.1-0.3-0.1-0.5c0.5-5.7,1.7-11.2,3.6-16.5c1.2-3.3,2.9-6.4,5.1-9.1c2.7-3.2,6.1-5.4,10.3-6.1c1.2-0.2,1.2-0.2,1.7,0.9
                                       c10.8,23,21.6,46.1,32.4,69.1c3.6,7.7,7.2,15.4,10.8,23.1c0.1,0.2,0.2,0.4,0.3,0.6l-3.9,0.3c-0.8,0.1-1.6,0.1-2.3,0.2
                                       c-0.1,0-0.3,0-0.4,0c-0.1-0.1-0.2-0.2-0.3-0.3c-0.8-1.6-1.6-3.2-2.4-4.8c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.1-0.4-0.1h-63
                                       c-0.5,0-1,0-1.6,0c-0.5,0-0.6-0.2-0.7-0.6c-0.1-0.6,0-1.2,0.3-1.8c0.3-0.6,0.6-1,1.1-1.4l50.7-27.3C52.4,94.6,52.5,94.5,52.8,94.4
                                       z"/>
                                    <path class="st1" d="M3.2,109.1c0.2-1.1,0.4-2,0.6-3c1.6-7.8,3.3-15.6,4.9-23.3c0.1-0.3,0.1-0.4,0.5-0.2
                                       c7.3,4.4,14.6,8.8,21.9,13.3c0.1,0.1,0.2,0.1,0.3,0.2L3.2,109.1z"/>
                                    <path class="st1" d="M104.7,60.3c-0.6,3.1-1.2,6-1.7,9c-1,5.5-2.1,10.9-3.2,16.4c-0.2,0.8-0.1,0.8-0.8,0.4L78.2,74.2
                                       c-0.2-0.1-0.3-0.2-0.6-0.3L104.7,60.3z"/>
                                 </g>
                              </g>
                              </svg>
                                 <!-- <img src="assets/images/logo.png" alt="Image"> -->
                              </a>
                           </div>
                           <div class="paragraph">
                              <p>Welcome to our digital agency We specialize in helping business most like yours succeed
                                 online. From website design and development.</p>
                           </div>
                           <div class="section__content-cta">
                              <h2>
                                 <a href="mailto:info@scalelot.com" class="folks-text">info@scalelot.com</a>
                              </h2>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 col-xl-7 offset-xl-1 col-xxl-5 offset-xxl-3">
                        <div class="footer-two__right">
                           <div class="social justify-content-start justify-content-lg-start">
                              <a href="https://www.facebook.com/" target="_blank">
                                 <i class="fa-brands fa-facebook-f"></i>
                                 <span>Facebook</span>
                              </a>
                              <a href="https://www.twitter.com/" target="_blank">
                                 <i class="fa-brands fa-twitter"></i>
                                 <span>Twitter</span>
                              </a>
                              <a href="https://www.pinterest.com/" target="_blank">
                                 <i class="fa-brands fa-linkedin-in"></i>
                                 <span>Linkedin</span>
                              </a>
                              <a href="https://www.instagram.com/" target="_blank">
                                 <i class="fa-brands fa-instagram"></i>
                                 <span>Instagram</span>
                              </a>
                              <a href="https://www.dribble.com/" target="_blank">
                                 <i class="fa-light fa-basketball"></i>
                                 <span>Dribble</span>
                              </a>
                           </div>
                           <div class="footer__single-meta section__content-cta">
                              <a href="tel:8780333608">
                                 <i class="fa-sharp fa-solid fa-phone-volume"></i>
                                 +91 87803 33608
                              </a>
                              <a href="mailto:info@scalelot.com">
                                 <i class="fa-sharp fa-solid fa-envelope"></i>
                                 info@scalelot.com
                              </a>
                              <a class="addres" href="https://www.google.com/maps/d/viewer?mid=1UZ57Drfs3SGrTgh6mrYjQktu6uY&hl=en_US&ll=18.672105000000013%2C105.68673800000003&z=17"
                                 target="_blank">
                                 <i class="fa-sharp fa-solid fa-location-dot"></i>
                                 Plot-40, First Floor, Beside Tapi Darshan Gate-1 Causeway Circle, Singanpor Rd, Katargam, Surat, Gujarat 395004
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="footer__copyright">
                  <div class="container">
                     <div class="row align-items-center gaper">
                        <div class="col-12 col-xl-6">
                           <div class="footer__copyright-text text-center text-xl-start">
                              <p>
                                 Copyright &copy; <!-- <span id="copyYear"></span> --> 2018 Scalelot by . All Rights Reserved
                              </p>
                           </div>
                        </div>
                        <div class="col-12 col-xl-6">
                           <ul class="justify-content-center justify-content-xl-end">
                              <li>
                                 <a href="/">Home</a>
                              </li>
                              <li>
                                 <a href="/aboutus">About</a>
                              </li>
                              <li>
                                 <a href="/services">Services</a>
                              </li>
                              <li>
                                 <a href="/blog">Blog</a>
                              </li>
                              <li>
                                 <a href="/contactus">Contact</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
            <!-- ==== / footer end ==== -->
         </div>
      </div>
      <!-- ==== scroll to top start ==== -->
      <button class="progress-wrap" aria-label="scroll indicator" title="go to top">
         <span></span>
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </button>
      <!-- ==== / scroll to top end ==== -->
      <div class="line">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
      <!-- video modal help modal -->
      <!-- <div class="vid-m">
         <div class="vid-c">
            <a href="javascript:void(0)" aria-label="close video popup" class="close-v">
               <i class="fa-light fa-xmark-large"></i>
            </a>
            <video autoplay="autoplay" loop muted controls>
               <source src="assets/images/popup-video.mp4" type="video/mp4">
            </video>
            <h5>Hello</h5>
         </div>
      </div> -->
   </div>
   <!-- ==== js dependencies start ==== -->
   <!-- jquery -->
   <script src="assets/vendor/jquery/jquery-3.7.0.min.js"></script>
   <!-- bootstrap five js -->
   <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- nice select js -->
   <script src="assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>
   <!-- magnific popup js -->
   <script src="assets/vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>
   <!-- slick js -->
   <script src="assets/vendor/slick/js/slick.min.js"></script>
   <!-- image loaded js -->
   <script src="assets/vendor/images-loaded/imagesloaded.pkgd.min.js"></script>
   <!-- isotope js -->
   <script src="assets/vendor/isotope/isotope.pkgd.min.js"></script>
   <!-- chroma js -->
   <script src="assets/vendor/gsap/chroma.min.js"></script>
   <!-- splittext js -->
   <script src="assets/vendor/gsap/SplitText.min.js"></script>
   <!-- scrollsmoother js -->
   <script src="assets/vendor/gsap/ScrollSmoother.min.js"></script>
   <!-- scrollto js -->
   <script src="assets/vendor/gsap/ScrollToPlugin.min.js"></script>
   <!-- scrolltrigger js -->
   <script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>
   <!-- gsap js -->
   <script src="assets/vendor/gsap/gsap.min.js"></script>
   <!-- vanilla tilt js -->
   <script src="assets/vendor/vanilla-tilt/tilt.jquery.js"></script>
   <!-- swiper slider  -->
   <script src="assets/vendor/swiper/tilt.jquery.js"></script> 
   <!-- ==== / js dependencies end ==== -->
   <!-- plugins js -->
   <script src="assets/js/plugins.js"></script>
   <!-- main js -->
   <script src="assets/js/main.js"></script>
</body>
</html>