<!DOCTYPE html>
<html lang="en">
<head>
   <!-- required meta -->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- #favicon -->
   <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">  
   <!-- #title -->
   <title>Mobile App | UI UX | Web Development | Graphic Design | Scalelot</title>
   <!-- meta tags -->
   <meta name="title" content=" Mobile App | UI UX | Web Development | Graphic Design | Scalelot"/>
   <meta name="description" content="Scalelot Technologies, a leading IT solutions provider, offers mobile app, UI\UX, web design & development, graphic design, and digital marketing services."/>
   <meta name="author" content="Scalelot Technologies"/>
   <meta name="copyright" content="Scalelot Technologies"/>
   <meta name="robots" content="index, follow"/>
   <meta name="googlebot" content="index,follow" />
   <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
   <meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
   <meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
   <meta name="Googlebot-Video" content="max-video-preview:-1">
   <meta name="yahoobot" content="index, follow" />
   <meta name="msnbot" content="index,follow" />
   <meta name="rating" content="general">
   <meta name="keywords" content="Mobile App Development Company, Website Development Company, Scalelot">
   <!-- meta tags end-->
    <!-- ogtag -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mobile App | UI UX | Web Development | Graphic Design | Scalelot">
    <meta property="og:url" content="https://www.scalelot.com/assets/images/logo.svg">
    <meta property="og:image" content="https://www.scalelot.com/">
    <meta property="og:description" content="Scalelot Technologies, a leading IT solutions provider, offers mobile app, UI\UX, web design & development, graphic design, and digital marketing services">
    <meta property="og:image:width" content="290"/>
    <meta property="og:image:height" content="62"/>
    <!-- twitter tag  -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Mobile App | UI UX | Web Development | Graphic Design | Scalelot">
    <meta name="twitter:site" content="@ScalelotT"> 
    <meta name="twitter:creator" content="@ScalelotT"/>
    <meta name="twitter:description" content="Scalelot Technologies, a leading IT solutions provider, offers mobile app, UI\UX, web design & development, graphic design, and digital marketing services.">
    <meta name="twitter:image" content="https://www.scalelot.com/assets/images/logo.svg">
    <meta name="twitter:image:alt" content="Mobile App | UI UX | Web Development | Graphic Design | Scalelot">
    <!-- links  -->
    <link rel="alternate" hreflang="en-IN" href="https://scalelot.com/in/"/>
    <link rel="alternate" hreflang="en-US" href="https://scalelot.com/us/"/>
    <link rel="alternate" hreflang="en-CA" href="https://scalelot.com/ca/"/>
    <link rel="alternate" hreflang="fr-FR" href="https://scalelot.com/fr/"/>
    <!-- Canonical -->
    <link rel="canonical" href="https://www.scalelot.com/" />

   <!-- ==== css dependencies start ==== -->
   <!-- bootstrap five css -->
   <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
   <!-- glyphter css -->
   <link rel="stylesheet" href="assets/vendor/glyyphter/css/scalelot.css">
   <!-- font awesome six css -->
   <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.css">
   <!-- nice select css -->
   <link rel="stylesheet" href="assets/vendor/nice-select/css/nice-select.css">
   <!-- magnific popup css -->
   <link rel="stylesheet" href="assets/vendor/magnific-popup/css/magnific-popup.css">
   <!-- slick css -->
   <link rel="stylesheet" href="assets/vendor/slick/css/slick.css">
   <!-- swiper slider  -->
   <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">
   <!-- ==== / css dependencies end ==== -->
   <!-- main css -->
   <link rel="stylesheet" href="assets/css/main.min.css">

   <script type="application/ld+json">
      {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList", 
        "itemListElement": [{
          "@type": "ListItem", 
          "position": 1, 
          "name": "Home",
          "item": "https://scalelot.com/"  
        }
        ]
      }
   </script>
   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-W1RF364RQ2"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-W1RF364RQ2');
   </script>
   <!-- Google tag End (gtag.js) -->
   <!-- Google Tag Manager -->
   <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NZ5P5ZLR');
   </script>
   <!-- End Google Tag Manager -->
</head>
<body>
   <!-- Google Tag Manager (noscript) -->
   <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ5P5ZLR" height="0" width="0" style="display:none;visibility:hidden"></iframe>
   </noscript>
   <!-- End Google Tag Manager (noscript) -->
   <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
   <div class="my-app">
      <!-- ==== preloader start ==== -->
      <div id="preloader">
         <div id="loader"></div>
      </div>
      <!-- ==== / preloader end ==== -->
      <!-- ==== mouse cursor drag start ==== -->
      <div class="mouseCursor cursor-outer"></div>
      <div class="mouseCursor cursor-inner">
         <span>Drag</span>
      </div>
      <!-- ==== / mouse cursor drag end ==== -->
      <!-- ==== header start ==== -->
      <header class="header">
         <div class="primary-navbar secondary--navbar">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <nav class="navbar p-0">
                        <div class="navbar__logo">
                           <a href="#" aria-label="go to home">
                             
                              <img src="assets/images/logo.svg" alt="Image">
                           </a>
                        </div>
                        <div class="navbar__options">
                           <button class="open-offcanvas-nav d-flex" aria-label="toggle mobile menu"
                              title="open offcanvas menu"></button>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- ==== / header end ==== -->
      <!-- ==== offcanvas nav start ==== -->
      <div class="offcanvas-nav">
         <div class="offcanvas-menu">
            <nav class="offcanvas-menu__wrapper">
               <div class="offcanvas-menu__header nav-fade">
                  <div class="logo">
                     <a href="#">                      
                        <img src="assets/images/logo.svg" alt="logo"/>
                     </a>
                  </div>
                  <a href="javascript:void(0)" aria-label="close offcanvas menu" class="close-offcanvas-menu">
                     <i class="fa-light fa-xmark-large"></i>
                  </a>
               </div>
               <div class="offcanvas-menu__list">
                  <div class="navbar__menu">
                     <ul>
                        <li class="navbar__item nav-fade">
                           <a href="#" aria-label="dropdown menu" class="navbar__dropdown-label">Home</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/aboutus">About Us</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/services" aria-label="dropdown menu" class="navbar__dropdown-label">Services</a>
                        </li>
                        <!-- <li class="navbar__item nav-fade">
                           <a href="/projects" aria-label="dropdown menu" class="navbar__dropdown-label">Projects</a>
                        </li> -->
                        <li class="navbar__item navbar__item--has-children nav-fade">
                           <a href="javascript:void(0)" aria-label="dropdown menu" class="navbar__dropdown-label">Pages</a>
                           <ul class="navbar__sub-menu">
                              <li>
                                 <a href="/faq">FAQ</a>
                              </li>
                              <li>
                                 <a href="/career">Career</a>
                              </li>
                              <li>
                                 <a href="/blog">Case Studies</a>
                              </li>
                              <li>
                                 <a href="/team">Team</a>
                              </li>
                              <li>
                                 <a href="/feedback">Testimonials</a>
                              </li>
                              <li>
                                 <a href="/contactus">Contact Us</a>
                              </li>
                           </ul>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/portfolio" aria-label="dropdown menu" class="navbar__dropdown-label">Portfolio</a>
                           <!-- <ul class="navbar__sub-menu">
                              <li>
                                 <a href="/blog">Blog</a>
                              </li>
                              <li>
                                 <a href="/blog">Blog Details</a>
                              </li>
                           </ul> -->
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="offcanvas-menu__options nav-fade">
                  <div class="offcanvas__mobile-options d-flex">
                     <a href="/contactus" class="btn btn--secondary">Let's Talk</a>
                  </div>
               </div>
               <div class="offcanvas-menu__social social nav-fade">
                  <a href="https://www.facebook.com/" target="_blank" aria-label="share us on facebook">
                     <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="https://www.twitter.com/" target="_blank" aria-label="share us on twitter">
                     <i class="fa-brands fa-twitter"></i>
                  </a>
                  <a href="https://www.pinterest.com/" target="_blank" aria-label="share us on pinterest">
                     <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="https://www.instagram.com/" target="_blank" aria-label="share us on instagram">
                     <i class="fa-brands fa-instagram"></i>
                  </a>
               </div>
            </nav>
         </div>
      </div>
      <!-- ==== / offcanvas nav end ==== -->
      <div id="smooth-wrapper">
         <div id="smooth-content">
            <!-- ==== main start ==== -->
            <main>
               <!-- ==== banner start ==== -->
               <section class="banner">
                  <div class="container">
                     <div class="row">
                        <div class="col-12">
                           <div class="banner__content">
                              <h1 class="text-uppercase text-start fw-9 mb-0 title-anim">
                                 Your One-Stop Shop for
                                 <span class="text-stroke">Advanced</span>
                                 <span class="interval">
                                    <i class="icon-arrow-top-right"></i>
                                     IT Solutions!
                                 </span>
                              </h1>
                              <div class="banner__content-inner">
                                 <p class="para_dask">Welcome to Scalelot Technologies, a dynamic powerhouse renowned for its expertise in Website Development and Mobile Application Development. Our trusted services expand beyond to include digital marketing excellence and mesmerizing UI/UX designs, all seamlessly complemented by eye-catching content, crafted to fuel the growth of your businesses. Connect with Scalelot Technologies and elevate your online presence, attract your audience, and reach to new heights. Let's reshape the future of your business.</p>
                                 <p class="para_mob">Welcome to Scalelot Technologies, a dynamic powerhouse renowned for its expertise in Website Development and Mobile Application Development.</p>
                                 <div class="cta section__content-cta">
                                    <div class="single">
                                       <h5 class="fw-7">
                                          5+
                                       </h5>
                                       <p class="fw-5">years of experience</p>
                                    </div>
                                    <div class="single">
                                       <h5 class="fw-7">
                                          200+
                                       </h5>
                                       <p class="fw-5">completed projects</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- <img src="assets/images/banner/banner-one-thumb.png" alt="Image" class="banner-one-thumb d-none d-sm-block g-ban-one"> -->
                  <img src="assets/images/star.png" alt="Image" class="star">
                  <div class="banner-left-text banner-social-text d-none d-md-flex">
                     <a href="mailto:info@scalelot.com">mail : info@scalelot.com </a>
                     <a href="tel:99-2158-003-6980">Call : +99 2158 003 6980</a>
                  </div>
                  <div class="banner-right-text banner-social-text d-none d-md-flex">
                     <a href="https://www.instagram.com/" target="_blank">
                        instagram
                     </a>
                     <a href="https://www.pinterest.com/" target="_blank">
                        Linkedin
                     </a>
                     <a href="https://www.facebook.com/" target="_blank">
                        facebook
                     </a>
                  </div>
                  <a class="video-frame video-btn" href="https://www.youtube.com/watch?v=L4b01PzbFCc" target="_blank">
                     <img src="assets/images/video-frame.png" alt="Image">
                     <i class="fa-sharp fa-solid fa-play"></i>
                  </a>
                  <video autoplay muted loop autoplay muted playsinline defaultmuted preload="auto">
                     <source src="assets/images/banner/main_page.mp4" type="video/mp4" />
                  </video>
                  <!-- <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div> -->
               </section>
               <!-- ==== / banner end ==== -->
               <!-- ==== agency start ==== -->
               <section class="section agency">
                  <div class="container">
                     <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-6">
                           <div class="agency__thumb">
                              <img src="assets/images/agency/thumb-one.png" alt="Image" class="thumb-one fade-left">
                              <img src="assets/images/agency/thumb-two.png" alt="Image" class="thumb-two fade-right">
                           </div>
                        </div>
                        <div class="col-12 col-lg-6">
                           <div class="agency__content section__content">
                              <span class="sub-title">
                                 WELCOME
                                 <i class="fa-solid fa-arrow-right"></i>
                              </span>
                              <h2 class="title title-anim">
                                 We Are Leading <span style="text-transform:uppercase;">IT</span> Solution Experts In India
                              </h2>
                              <div class="paragraph">
                                 <p>We have a skilled group that excels at creating websites and mobile applications. We are not just tech geeks but also digital marketing geniuses. We grow your businesses through our cutting-edge digital marketing techniques, graphics designing marvels, and extraordinary content writing services. Scalelot Technologies assists you in improving your online presence helping you engage with your clients and expanding your business.</p>
                              </div>
                              <div class="skill-wrap">
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Web Design & Development</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="100%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Mobile App Development</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="97%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Digital Marketing</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="93%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="section__content-cta">
                                 <a href="/aboutus" class="btn btn--primary">Know More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/star.png" alt="Image" class="star">
                  <img src="assets/images//agency/dot-large.png" alt="Image" class="dot-large">
               </section> 
               <!-- ==== / agency end ==== -->
               <!-- ==== portfolio start ==== -->
               <section class="section portfolio portfolio-two portfolio-filter fade-wrapper">
                  <div class="portfolio__text-slider">
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="banner-five_swiper">
                     <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                           <!-- richero -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <img src="assets/images/projects/richero.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>The Richero</h4>
                              </div>
                            </div>
                          </div>
                          <!-- Tutor Doctor -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <img src="assets/images/projects/tutor_doctor.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>Tutor Doctor</h4>
                              </div>
                            </div>
                          </div>
                          <!-- festume evento pvt ltd  -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/festum_pvt_ltd.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>Festum Evento Pvt. Ltd</h4>
                              </div>
                            </div>
                          </div>
                          <!-- richero landing page -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/richero_landing_page.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>Richero Landing Page</h4>
                              </div>
                            </div>
                          </div>
                          <!-- F Coin -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/f_coin.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>F-Coin</h4>
                              </div>
                            </div>
                          </div>
                          <!-- Dlex -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/dlex.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>Dlex</h4>
                              </div>
                            </div>
                          </div>
                          <!-- maglo -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/maglo.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>Maglo</h4>
                              </div>
                            </div>
                          </div>
                          <!-- African Star -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/african_star.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>African Star</h4>
                              </div>
                            </div>
                          </div>
                          <!-- Sellify -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/sellify.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>Sellify</h4>
                              </div>
                            </div>
                          </div>
                          <!-- PrepaUp -->
                          <div class="swiper-slide">
                            <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                <img src="assets/images/projects/prepa_up.png" alt="Image">
                              </div>
                              <div class="content">
                                <h4>PrepaUp</h4>
                              </div>
                            </div>
                          </div>
                          <!-- simple_english -->
                          <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                 <div class="thumb">
                                    <img src="assets/images/projects/simple_english.png" alt="Image">
                                 </div>
                                 <div class="content">
                                    <h>Simple English
                                    </h4>
                                 </div>
                              </div>
                          </div>
                           <!-- convrting_pdf App -->
                           <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/convrting_pdf.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>PDF Converting App</h4>
                                </div>
                              </div>
                           </div>
                           <!-- Krypto Kasino -->
                           <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/krypto.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>KryptoKasino</h4>
                                </div>
                              </div>
                           </div>
                           <!-- rechain -->
                           <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/rechain.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>Rechain</h4>
                                </div>
                              </div>
                           </div>
                           <!-- qrscanner -->
                           <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/qrscanner.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>QRScanne</h4>
                                </div>
                              </div>
                           </div>
                           <!-- think_space -->
                           <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/think_space.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>Thinkspace</h4>
                                </div>
                              </div>
                           </div>
                           <!-- photoshop_guide -->
                           <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/ps_gide.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>Photoshop Guide</h4>
                                </div>
                              </div>
                           </div>
                           <!-- finnce -->
                           <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/finnce.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>Finnac</h4>
                                </div>
                              </div>
                           </div>
                            <!-- watch face design -->
                            <div class="swiper-slide">
                              <div class="projects-s__single topy-tilt">
                                <div class="thumb">
                                  <img src="assets/images/projects/watch_face_design.png" alt="Image">
                                </div>
                                <div class="content">
                                  <h4>Watch Face Design</h4>
                                </div>
                              </div>
                           </div>
                        </div>
                      </div>
                  </div>
               </section>
               <!-- ==== / portfolio end ==== -->
               <!-- ==== offer start ==== -->
               <section class="section offer fade-wrapper light">
                  <div class="container">
                     <div class="row gaper">
                        <div class="col-12 col-lg-5">
                           <div class="offer__content section__content">
                              <span class="sub-title">
                                 WHAT WE OFFER
                                 <i class="fa-solid fa-arrow-right"></i>
                              </span>
                              <h2 class="title title-anim">
                                 Giving Your Business Growth and Credibility
                              </h2>
                              <div class="paragraph">
                                 <p>At Scalelot Technologies, we specialize in developing customized solutions that not only support the growth of your businesses but also allow you to establish unwavering trust in the marketplace. </p>
                              </div>
                              <div class="section__content-cta">
                                 <a href="/services" class="btn btn--secondary">view all services</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-lg-7 col-xl-6 offset-xl-1">
                           <div class="offer__cta">
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    01
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       Web Design & Development
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <!-- <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/blog-thumb.png"></div> -->
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    02
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       Mobile App Development
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <!-- <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/two.png"></div> -->
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    03
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       UX/UI Design
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <!-- <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/three.png"></div> -->
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    04
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       Digital Marketing 
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <!-- <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/four.png"></div> -->
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    05
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       Content Creation
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <!-- <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/five.png"></div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/offer/star.png" alt="Image" class="star">
                  <!-- <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div> -->
               </section>               
               <!-- ==== / offer end ==== -->
               <!-- ==== testimonial start ==== -->
               <section class="section testimonial position-relative">
                  <div class="testimonial__text-slider">
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="container position-relative">
                     <div class="row">
                        <div class="col-12 col-xxl-10">
                           <div class="testimonial-s__slider">
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <!-- <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div> -->
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>I am delighted to share my experience with Scalelot Technologies' Website Development service. Working with them has been an absolute pleasure from start to finish. Their team is very talented and creative with a professional approach.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Bhavesh M.</h5>
                                             <!-- <p>Senior engineer</p> -->
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <!-- <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-two.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div> -->
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>From the initial concept discussions to the final launch of the Mobile Application, Scalelot Technologies demonstrated a deep understanding of our vision and goals. The entire team was cooperative with our feedback, making necessary adjustments promptly.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Ryan D.</h5>
                                             <!-- <p>Senior engineer</p> -->
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <!-- <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div> -->
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>Scalelot Technologies helped me create my Website which immediately boosted my online presence and attracted online users to my business. The Design, Development, and Content Writing services were up to the mark.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Nisha G.</h5>
                                             <!-- <p>Senior engineer</p> -->
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <!-- <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div> -->
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>I have availed a range of services at Scalelot Technologies starting from Application Development to Digital Marketing. I am happy with all the results be it UI/UX Designing, Application Development, Graphics Designing, Brochure Designing, or Social Media Marketing.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Gilbert N.</h5>
                                             <!-- <p>Senior engineer</p> -->
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="slide-group justify-content-start">
                        <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-testimonial-three">
                           <i class="fa-light fa-angle-left"></i>
                        </a>
                        <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-testimonial-three">
                           <i class="fa-light fa-angle-right"></i>
                        </a>
                     </div>
                  </div>
               </section>
               
               <section class="section blog blog-two">
                  <div class="container">
                     <div class="row">
                        <div class="col-12">
                           <div class="section__header--secondary">
                              <div class="row gaper align-items-center">
                                 <div class="col-12 col-lg-8">
                                    <div class="section__header text-center text-lg-start mb-0">
                                       <!-- <span class="sub-title">news & Blog
                                          <i class="fa-solid fa-arrow-right"></i>
                                       </span> -->
                                       <h2 class="title title-anim">Case Studies</h2>
                                    </div>
                                 </div>
                                 <div class="col-12 col-lg-4">
                                    <div class="slide-group justify-content-center justify-content-lg-end">
                                       <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-blog">
                                          <i class="fa-light fa-angle-left"></i>
                                       </a>
                                       <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-blog">
                                          <i class="fa-light fa-angle-right"></i>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="blog-two__slider">
                     <!-- EP -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/epcasestudy">
                              <img src="assets/images/blog/three.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/epcasestudy">How Evento Package Empowered the Event Industry with the Help of Scalelot Technologies</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/epcasestudy" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 20, 2021</p>
                           </div>
                        </div>
                     </div>
                     <!-- FF -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/ffcasestudy">
                              <img src="assets/images/blog/one.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/ffcasestudy">Festum Field Redefined Socializing and Business Integration with Scalelot</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/ffcasestudy" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <!-- FE -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/fecasestudy">
                              <img src="assets/images/blog/two.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/fecasestudy">Festum Evento Became a Premier Promotion Platform With Scalelot Technologies</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/fecasestudy" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <!-- GWB -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/gwb">
                              <img src="assets/images/blog/four.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/gwb">Global Water Blasting Created Its Online Presence With Scalelot</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/gwb" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <!-- Richero -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/richero">
                              <img src="assets/images/blog/five.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/richero">The Richero Moderated its Marketing Strategy and Rebuilt a Website with Scalelot</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/richero" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <!-- Remtox -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/remtox">
                              <img src="assets/images/blog/six.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/remtox">Remtox's Growth Empowered by a Powerful Website Crafted by Scalelot</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/remtox" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <!-- kalix -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/kalix">
                              <img src="assets/images/blog/sevan.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/kalix">Kalix International Elevated Sales with a Customized Website Built by Scalelot</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/kalix" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <!-- credithikers -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/credithikers">
                              <img src="assets/images/blog/credit_hikers.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/credithikers">How Credit Hikers Gained a High Number of Leads With the Help of Scalelot</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/credithikers" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <!-- simpleenglish -->
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/simpleenglish">
                              <img src="assets/images/blog/s_english.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/simpleenglish">Simple English App - Bridging the Language Gap with Scalelot Technologies</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/simpleenglish" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- ==== / blog end ==== -->
               <!-- ==== sponsor start ==== -->
               <div class="sponsor section pb-0">
                  <div class="container-fluid">
                     <div class="row justify-content-center">
                        <div class="col-12">
                           <div class="sponsor__slider ">
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/one.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/two.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/three.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/four.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/five.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/six.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/sevan.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/at.png" alt="Image">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ==== / sponsor end ==== -->
               <!-- ==== next page start ==== -->
               <section class="section next-page">                  
                  <div class="next__text-slider">
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="container mt-4 mt-md-5">
                     <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                           <div class="section__header text-center au_btn">
                              <a href="/aboutus" class="sub-title mb-0">
                                 Next Page
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- ==== / next page end ==== -->
            </main>
            <!-- ==== / main end ==== -->
            <footer class="footer-two section pb-0">
               <div class="container">
                  <div class="row gaper">
                     <div class="col-12 col-lg-5 col-xl-4">
                        <div class="footer-two__left">
                           <div class="logo">
                              <a href="#">                             
                                 <img src="assets/images/logo.svg" alt="Image">
                              </a>
                           </div>
                           <div class="paragraph">
                              <p>Welcome to our digital agency We specialize in helping business most like yours succeed
                                 online. From website design and development.</p>
                           </div>
                           <div class="section__content-cta">
                              <h2>
                                 <a href="mailto:info@scalelot.com" class="folks-text">info@scalelot.com</a>
                              </h2>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 col-xl-7 offset-xl-1 col-xxl-5 offset-xxl-3">
                        <div class="footer-two__right">
                           <div class="social justify-content-start justify-content-lg-start">
                              <a href="https://www.facebook.com/scalelottech/" target="_blank">
                                 <i class="fa-brands fa-facebook-f"></i>
                                 <span>Facebook</span>
                              </a>
                              <a href="https://www.twitter.com/" target="_blank">
                                 <i class="fa-brands fa-twitter"></i>
                                 <span>Twitter</span>
                              </a>
                              <a href="https://www.linkedin.com/company/scalelot-technologies/?originalSubdomain=in" target="_blank">
                                 <i class="fa-brands fa-linkedin-in"></i>
                                 <span>Linkedin</span>
                              </a>
                              <a href="https://www.instagram.com/scalelot_technologies/" target="_blank">
                                 <i class="fa-brands fa-instagram"></i>
                                 <span>Instagram</span>
                              </a>
                              <a href="https://dribbble.com/scalelot" target="_blank">
                                 <i class="fa-light fa-basketball"></i>
                                 <span>Dribble</span>
                              </a>
                           </div>
                           <div class="footer__single-meta section__content-cta">
                              <a href="tel:8780333608">
                                 <i class="fa-sharp fa-solid fa-phone-volume"></i>
                                 +91 87803 33608
                              </a>
                              <a href="mailto:info@scalelot.com">
                                 <i class="fa-sharp fa-solid fa-envelope"></i>
                                 info@scalelot.com
                              </a>
                              <a class="addres" href="https://www.google.com/maps/place/Scalelot+Technologies/@21.2212122,72.8085012,15z/data=!4m2!3m1!1s0x0:0x34936c011302a1ab?sa=X&ved=2ahUKEwjZ_reUwc-BAxWHyzgGHYuWBvcQ_BJ6BAg4EAA&ved=2ahUKEwjZ_reUwc-BAxWHyzgGHYuWBvcQ_BJ6BAhMEAg"
                                 target="_blank">
                                 <i class="fa-sharp fa-solid fa-location-dot"></i>
                                 Plot-40, First Floor, Beside Tapi Darshan Gate-1 Causeway Circle, Singanpor Rd, Katargam, Surat, Gujarat 395004
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="footer__copyright">
                  <div class="container">
                     <div class="row align-items-center gaper">
                        <div class="col-12 col-xl-6">
                           <div class="footer__copyright-text text-center text-xl-start">
                              <p>Copyright &copy; By Scalelot Technologies. All Rights Reserved</p>
                           </div>
                        </div>
                        <div class="col-12 col-xl-6">
                           <ul class="justify-content-center justify-content-xl-end">
                              <li>
                                 <a href="/home">Home</a>
                              </li>
                              <li>
                                 <a href="/aboutus">About</a>
                              </li>
                              <li>
                                 <a href="/services">Services</a>
                              </li>
                              <li>
                                 <a href="/blog">Case Studies</a>
                              </li>
                              <li>
                                 <a href="/contactus">Contact</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
            <!-- ==== / footer end ==== -->
         </div>
      </div>
      <!-- ==== scroll to top start ==== -->
      <button class="progress-wrap" aria-label="scroll indicator" title="go to top">
         <span></span>
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </button>
      <!-- ==== / scroll to top end ==== -->
      <div class="line">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
   </div>
   <!-- ==== js dependencies start ==== -->
   <!-- jquery -->
   <script src="assets/vendor/jquery/jquery-3.7.0.min.js"></script>
   <!-- bootstrap five js -->
   <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- nice select js -->
   <script src="assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>
   <!-- magnific popup js -->
   <script src="assets/vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>
   <!-- slick js -->
   <script src="assets/vendor/slick/js/slick.min.js"></script>
   <!-- image loaded js -->
   <script src="assets/vendor/images-loaded/imagesloaded.pkgd.min.js"></script>
   <!-- isotope js -->
   <script src="assets/vendor/isotope/isotope.pkgd.min.js"></script>
   <!-- chroma js -->
   <script src="assets/vendor/gsap/chroma.min.js"></script>
   <!-- splittext js -->
   <script src="assets/vendor/gsap/SplitText.min.js"></script>
   <!-- scrollsmoother js -->
   <script src="assets/vendor/gsap/ScrollSmoother.min.js"></script>
   <!-- scrollto js -->
   <script src="assets/vendor/gsap/ScrollToPlugin.min.js"></script>
   <!-- scrolltrigger js -->
   <script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>
   <!-- gsap js -->
   <script src="assets/vendor/gsap/gsap.min.js"></script>
   <!-- vanilla tilt js -->
   <script src="assets/vendor/vanilla-tilt/tilt.jquery.js"></script>
   <!-- swiper slider  -->
   <script src="assets/vendor/swiper/swiper-bundle.min.js"></script> 
   <!-- ==== / js dependencies end ==== -->
     <!-- plugins js -->
   <script src="assets/js/plugins.js"></script>
   <!-- main js -->
   <script src="assets/js/main.js"></script>
</body>

</html>