<!DOCTYPE html>
<html lang="en">
<head>
   <!-- required meta -->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- #favicon -->
   <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
   <!-- #title -->
   <title>Scalelot - Treat With Technologies</title>
   <!-- #keywords -->
   <meta name="keywords" content="creative, agency, portfolio">
   <!-- #description -->
   <meta name="description" content="Scalelot - Treat With Technologies">
   <!-- ==== css dependencies start ==== -->
   <!-- bootstrap five css -->
   <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
   <!-- glyphter css -->
   <link rel="stylesheet" href="assets/vendor/glyyphter/css/scalelot.css">
   <!-- font awesome six css -->
   <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.css">
   <!-- nice select css -->
   <link rel="stylesheet" href="assets/vendor/nice-select/css/nice-select.css">
   <!-- magnific popup css -->
   <link rel="stylesheet" href="assets/vendor/magnific-popup/css/magnific-popup.css">
   <!-- slick css -->
   <link rel="stylesheet" href="assets/vendor/slick/css/slick.css">
   <!-- ==== / css dependencies end ==== -->
   <!-- main css -->
   <link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body>
   <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
   <div class="my-app">
      <!-- ==== preloader start ==== -->
      <div id="preloader">
         <div id="loader"></div>
      </div>
      <!-- ==== / preloader end ==== -->
      <!-- ==== mouse cursor drag start ==== -->
      <div class="mouseCursor cursor-outer"></div>
      <div class="mouseCursor cursor-inner">
         <span>Drag</span>
      </div>
      <!-- ==== / mouse cursor drag end ==== -->
      <!-- ==== header start ==== -->
      <header class="header">
         <div class="primary-navbar secondary--navbar">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <nav class="navbar p-0">
                        <div class="navbar__logo">
                           <a href="/" aria-label="go to home">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 331.1 316.9" style="enable-background:new 0 0 331.1 316.9;" xml:space="preserve">
                                 <style type="text/css">
                                    .st0{fill:#FFFFFF;}
                                    .st1{fill:#EF3238;}
                                 </style>
                                 <g>
                                    <g>
                                       <path class="st0" d="M100.3,0h21.9c0.3,0,0.6,0.3,0.9,0.3c0.3,0.3,0.6,0.3,0.6,0.6c2.5,4.4,5,8.8,7.2,13.2    c0.3,0.6,0.6,1.3,1.3,1.6c0.6,0.3,1.3,0.6,1.9,0.3c49.2,0,98.3,0,147.5,0c5.6,0,11.6,1.3,16.6,3.4c7.5,3.1,14.1,7.8,19.7,13.8    c5.6,5.9,10,12.8,12.8,20.4c0.6,1.3,0.3,1.9-0.9,2.5c-22.2,10.6-44.5,21.3-66.7,31.9l-84.9,41c-0.6,0.3-1.3,0.6-1.9,0.9    c0.6,0.3,0.9,0.9,1.6,1.3c28.2,20,57.9,38.2,86.7,57c13.5,8.8,26.9,17.5,40.7,26c0.6,0.3,0.9,0.9,1.3,1.6s0.3,1.3,0.3,1.9    c-1.9,20.7-10.6,37.9-24.1,53.2c-10.6,11.9-23.8,20.7-38.2,27.9c-1.3,0.6-1.6-0.3-1.9-0.9c-9.4-19.7-19.1-39.5-28.5-59.5    C176.7,159.7,139.2,80.8,101.6,2.2C100.9,1.6,100.9,0.9,100.3,0z"/>
                                       <path class="st0" d="M165.8,201.4c-4.1-2.8-7.8-5.3-11.9-7.8c-39.1-23.5-78.3-46.7-117.4-69.8c-0.6-0.3-0.9-0.6-1.3-0.9    c-0.3-0.3-0.3-0.9-0.3-1.6c1.6-17.8,5.3-35.1,11.3-51.7c3.8-10.3,9.1-20,16-28.5c8.5-10,19.1-16.9,32.3-19.1    c3.8-0.6,3.8-0.6,5.3,2.8c33.8,72,67.6,144.4,101.5,216.4c11.3,24.1,22.5,48.2,33.8,72.3c0.3,0.6,0.6,1.3,0.9,1.9l-12.2,0.9    c-2.5,0.3-5,0.3-7.2,0.6c-0.3,0-0.9,0-1.3,0c-0.3-0.3-0.6-0.6-0.9-0.9c-2.5-5-5-10-7.5-15c-0.3-0.3-0.6-0.9-0.9-1.3    c-0.3-0.3-0.9-0.3-1.3-0.3H7.3c-1.6,0-3.1,0-5,0c-1.6,0-1.9-0.6-2.2-1.9c-0.3-1.9,0-3.8,0.9-5.6c0.9-1.9,1.9-3.1,3.4-4.4    L163.3,202C164.5,202,164.8,201.7,165.8,201.4z"/>
                                       <path class="st1" d="M10.5,247.4c0.6-3.4,1.3-6.3,1.9-9.4c5-24.4,10.3-48.9,15.3-73c0.3-0.9,0.3-1.3,1.6-0.6    C52.1,178.2,75,192,97.8,206c0.3,0.3,0.6,0.3,0.9,0.6L10.5,247.4z"/>
                                       <path class="st1" d="M328.3,94.6c-1.9,9.7-3.8,18.8-5.3,28.2c-3.1,17.2-6.6,34.1-10,51.4c-0.6,2.5-0.3,2.5-2.5,1.3l-65.1-37.3    c-0.6-0.3-0.9-0.6-1.9-0.9L328.3,94.6z"/>
                                    </g>
                                 </g>
                              </svg>
                              <!-- <img src="assets/images/logo.png" alt="Image"> -->
                           </a>
                        </div>
                        <div class="navbar__options">
                           <button class="open-offcanvas-nav d-flex" aria-label="toggle mobile menu"
                              title="open offcanvas menu"></button>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- ==== / header end ==== -->
      <!-- ==== offcanvas nav start ==== -->
      <div class="offcanvas-nav">
         <div class="offcanvas-menu">
            <nav class="offcanvas-menu__wrapper">
               <div class="offcanvas-menu__header nav-fade">
                  <div class="logo">
                     <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 331.1 316.9" style="enable-background:new 0 0 331.1 316.9;" xml:space="preserve">
                           <style type="text/css">
                              .st0{fill:#FFFFFF;}
                              .st1{fill:#EF3238;}
                           </style>
                           <g>
                              <g>
                                 <path class="st0" d="M100.3,0h21.9c0.3,0,0.6,0.3,0.9,0.3c0.3,0.3,0.6,0.3,0.6,0.6c2.5,4.4,5,8.8,7.2,13.2    c0.3,0.6,0.6,1.3,1.3,1.6c0.6,0.3,1.3,0.6,1.9,0.3c49.2,0,98.3,0,147.5,0c5.6,0,11.6,1.3,16.6,3.4c7.5,3.1,14.1,7.8,19.7,13.8    c5.6,5.9,10,12.8,12.8,20.4c0.6,1.3,0.3,1.9-0.9,2.5c-22.2,10.6-44.5,21.3-66.7,31.9l-84.9,41c-0.6,0.3-1.3,0.6-1.9,0.9    c0.6,0.3,0.9,0.9,1.6,1.3c28.2,20,57.9,38.2,86.7,57c13.5,8.8,26.9,17.5,40.7,26c0.6,0.3,0.9,0.9,1.3,1.6s0.3,1.3,0.3,1.9    c-1.9,20.7-10.6,37.9-24.1,53.2c-10.6,11.9-23.8,20.7-38.2,27.9c-1.3,0.6-1.6-0.3-1.9-0.9c-9.4-19.7-19.1-39.5-28.5-59.5    C176.7,159.7,139.2,80.8,101.6,2.2C100.9,1.6,100.9,0.9,100.3,0z"/>
                                 <path class="st0" d="M165.8,201.4c-4.1-2.8-7.8-5.3-11.9-7.8c-39.1-23.5-78.3-46.7-117.4-69.8c-0.6-0.3-0.9-0.6-1.3-0.9    c-0.3-0.3-0.3-0.9-0.3-1.6c1.6-17.8,5.3-35.1,11.3-51.7c3.8-10.3,9.1-20,16-28.5c8.5-10,19.1-16.9,32.3-19.1    c3.8-0.6,3.8-0.6,5.3,2.8c33.8,72,67.6,144.4,101.5,216.4c11.3,24.1,22.5,48.2,33.8,72.3c0.3,0.6,0.6,1.3,0.9,1.9l-12.2,0.9    c-2.5,0.3-5,0.3-7.2,0.6c-0.3,0-0.9,0-1.3,0c-0.3-0.3-0.6-0.6-0.9-0.9c-2.5-5-5-10-7.5-15c-0.3-0.3-0.6-0.9-0.9-1.3    c-0.3-0.3-0.9-0.3-1.3-0.3H7.3c-1.6,0-3.1,0-5,0c-1.6,0-1.9-0.6-2.2-1.9c-0.3-1.9,0-3.8,0.9-5.6c0.9-1.9,1.9-3.1,3.4-4.4    L163.3,202C164.5,202,164.8,201.7,165.8,201.4z"/>
                                 <path class="st1" d="M10.5,247.4c0.6-3.4,1.3-6.3,1.9-9.4c5-24.4,10.3-48.9,15.3-73c0.3-0.9,0.3-1.3,1.6-0.6    C52.1,178.2,75,192,97.8,206c0.3,0.3,0.6,0.3,0.9,0.6L10.5,247.4z"/>
                                 <path class="st1" d="M328.3,94.6c-1.9,9.7-3.8,18.8-5.3,28.2c-3.1,17.2-6.6,34.1-10,51.4c-0.6,2.5-0.3,2.5-2.5,1.3l-65.1-37.3    c-0.6-0.3-0.9-0.6-1.9-0.9L328.3,94.6z"/>
                              </g>
                           </g>
                        </svg>
                        <!-- <img src="assets/images/logo.png" alt="" title=""> -->
                     </a>
                  </div>
                  <a href="javascript:void(0)" aria-label="close offcanvas menu" class="close-offcanvas-menu">
                     <i class="fa-light fa-xmark-large"></i>
                  </a>
               </div>
               <div class="offcanvas-menu__list">
                  <div class="navbar__menu">
                     <ul >
                        <li class="navbar__item nav-fade">
                           <a href="/" aria-label="dropdown menu" class="navbar__dropdown-label">Home</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/aboutus">About Us</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/services" aria-label="dropdown menu" class="navbar__dropdown-label">Services</a>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/projects" aria-label="dropdown menu" class="navbar__dropdown-label">Projects</a>
                        </li>
                        <li class="navbar__item navbar__item--has-children nav-fade">
                           <a href="javascript:void(0)" aria-label="dropdown menu" class="navbar__dropdown-label">Pages</a>
                           <ul class="navbar__sub-menu">
                              <li>
                                 <a href="/faq">FAQ</a>
                              </li>
                              <li>
                                 <a href="/career">Career</a>
                              </li>
                              <li>
                                 <a href="/blog">Blog</a>
                              </li>
                              <li>
                                 <a href="/team" aria-label="dropdown menu" class="navbar__dropdown-label navbar__dropdown-label-sub">Team</a>
                              </li>
                              <li>
                                 <a href="/feedback">Testimonials</a>
                              </li>
                              <li>
                                 <a href="/contactus">Contact Us</a>
                              </li>
                           </ul>
                        </li>
                        <li class="navbar__item nav-fade">
                           <a href="/portfolio" aria-label="dropdown menu" class="navbar__dropdown-label">Portfolio</a>
                           <!-- <ul class="navbar__sub-menu">
                              <li>
                                 <a href="/blog">Blog</a>
                              </li>
                              <li>
                                 <a href="/blog">Blog Details</a>
                              </li>
                           </ul> -->
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="offcanvas-menu__options nav-fade">
                  <div class="offcanvas__mobile-options d-flex">
                     <a href="/contactus" class="btn btn--secondary">Let's Talk</a>
                  </div>
               </div>
               <div class="offcanvas-menu__social social nav-fade">
                  <a href="https://www.facebook.com/" target="_blank" aria-label="share us on facebook">
                     <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a href="https://www.twitter.com/" target="_blank" aria-label="share us on twitter">
                     <i class="fa-brands fa-twitter"></i>
                  </a>
                  <a href="https://www.pinterest.com/" target="_blank" aria-label="share us on pinterest">
                     <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a href="https://www.instagram.com/" target="_blank" aria-label="share us on instagram">
                     <i class="fa-brands fa-instagram"></i>
                  </a>
               </div>
            </nav>
         </div>
      </div>
      <!-- ==== / offcanvas nav end ==== -->
      <div id="smooth-wrapper">
         <div id="smooth-content">
            <!-- ==== main start ==== -->
            <main>
               <!-- ==== banner start ==== -->
               <section class="banner">
                  <div class="container">
                     <div class="row">
                        <div class="col-12">
                           <div class="banner__content">
                              <h1 class="text-uppercase text-start fw-9 mb-0 title-anim">
                                 We are
                                 <span class="text-stroke">creative</span>
                                 <span class="interval">
                                    <i class="icon-arrow-top-right"></i>
                                    digital agency
                                 </span>
                              </h1>
                              <div class="banner__content-inner">
                                 <p>We are a full-service website design, development and digital marketing company
                                    specializing in SEO, content marketing that grows brands.</p>
                                 <div class="cta section__content-cta">
                                    <div class="single">
                                       <h5 class="fw-7">
                                          12+
                                       </h5>
                                       <p class="fw-5">years of experience</p>
                                    </div>
                                    <div class="single">
                                       <h5 class="fw-7">
                                          25k
                                       </h5>
                                       <p class="fw-5">completed projects</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/banner/banner-one-thumb.png" alt="Image" class="banner-one-thumb d-none d-sm-block g-ban-one">
                  <img src="assets/images/star.png" alt="Image" class="star">
                  <div class="banner-left-text banner-social-text d-none d-md-flex">
                     <a href="mailto:info@scalelot.com">mail : info@scalelot.com</a>
                     <a href="tel:99-2158-003-6980">Call : +99 2158 003 6980</a>
                  </div>
                  <div class="banner-right-text banner-social-text d-none d-md-flex">
                     <a href="https://www.instagram.com/" target="_blank">
                        instagram
                     </a>
                     <a href="https://www.pinterest.com/" target="_blank">
                        Linkedin
                     </a>
                     <a href="https://www.facebook.com/" target="_blank">
                        facebook
                     </a>
                  </div>
                  <a class="video-frame video-btn" href="https://www.youtube.com/watch?v=RvreULjnzFo" target="_blank">
                     <img src="assets/images/video-frame.png" alt="Image">
                     <i class="fa-sharp fa-solid fa-play"></i>
                  </a>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>
               <!-- ==== / banner end ==== -->
               <!-- ==== agency start ==== -->
               <section class="section agency">
                  <div class="container">
                     <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-6">
                           <div class="agency__thumb">
                              <img src="assets/images/agency/thumb-one.png" alt="Image" class="thumb-one fade-left">
                              <img src="assets/images/agency/thumb-two.png" alt="Image" class="thumb-two fade-right">
                           </div>
                        </div>
                        <div class="col-12 col-lg-6">
                           <div class="agency__content section__content">
                              <span class="sub-title">
                                 WELCOME
                                 <i class="fa-solid fa-arrow-right"></i>
                              </span>
                              <h2 class="title title-anim">
                                 We are digital creative
                                 agency in India
                              </h2>
                              <div class="paragraph">
                                 <p>Bring to the table win-win survival strategies to ensure proactive domination. At
                                    the end of the day, going forward, a new normal that has evolved from generation on
                                    the runway heading towards a streamlined cloud solution going forward porttitor
                                    dictum sapien.</p>
                              </div>
                              <div class="skill-wrap">
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Website design</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="75%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="skill-bar-single">
                                    <div class="skill-bar-title">
                                       <p class="primary-text">Digital Marketing</p>
                                    </div>
                                    <div class="skill-bar-wrapper" data-percent="90%">
                                       <div class="skill-bar">
                                          <div class="skill-bar-percent">
                                             <span class="percent-value"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="section__content-cta">
                                 <a href="/aboutus" class="btn btn--primary">Know More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/star.png" alt="Image" class="star">
                  <img src="assets/images//agency/dot-large.png" alt="Image" class="dot-large">
               </section>
               <!-- ==== / agency end ==== -->
               <!-- ==== portfolio start ==== -->
               <!-- <section class="section portfolio pb-0 fade-wrapper position-relative">
                  <div class="portfolio__text-slider">
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="container-fluid">
                     <div class="row gaper">
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single portfolio__single-active topy-tilt fade-top">
                              <a href="/portfolio">
                                 <img src="assets/images/portfolio/one.png" alt="Image">
                              </a>
                              <div class="portfolio__single-content">
                                 <a href="/portfolio">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <h4>
                                    <a href="/portfolio">Digital Marketing</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single topy-tilt fade-top">
                              <a href="/portfolio">
                                 <img src="assets/images/portfolio/two.png" alt="Image">
                              </a>
                              <div class="portfolio__single-content">
                                 <a href="/portfolio">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <h4>
                                    <a href="/portfolio">Digital Marketing</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single topy-tilt fade-top">
                              <a href="/portfolio">
                                 <img src="assets/images/portfolio/three.png" alt="Image">
                              </a>
                              <div class="portfolio__single-content">
                                 <a href="/portfolio">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <h4>
                                    <a href="/portfolio">Digital Marketing</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single topy-tilt fade-top">
                              <a href="/portfolio">
                                 <img src="assets/images/portfolio/four.png" alt="Image">
                              </a>
                              <div class="portfolio__single-content">
                                 <a href="/portfolio">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <h4>
                                    <a href="/portfolio">Digital Marketing</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single topy-tilt fade-top">
                              <a href="/portfolio">
                                 <img src="assets/images/portfolio/five.png" alt="Image">
                              </a>
                              <div class="portfolio__single-content">
                                 <a href="/portfolio">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <h4>
                                    <a href="/portfolio">Digital Marketing</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single topy-tilt fade-top">
                              <a href="/portfolio">
                                 <img src="assets/images/portfolio/six.png" alt="Image">
                              </a>
                              <div class="portfolio__single-content">
                                 <a href="/portfolio">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <h4>
                                    <a href="/portfolio">Digital Marketing</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single-alt-wrapper fade-top">
                              <div class="portfolio__single-alt topy-tilt">
                                 <h4>
                                    <a href="/portfolio">view all work</a>
                                 </h4>
                                 <a href="/portfolio" class="arr">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <img src="assets/images/portfolio/dot.png" alt="Image" class="dot-one">
                                 <img src="assets/images/portfolio/dot.png" alt="Image" class="dot-two">
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                           <div class="portfolio__single topy-tilt fade-top">
                              <a href="/portfolio">
                                 <img src="assets/images/portfolio/seven.png" alt="Image">
                              </a>
                              <div class="portfolio__single-content">
                                 <a href="/portfolio">
                                    <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                 </a>
                                 <h4>
                                    <a href="/portfolio">Digital Marketing</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section> -->
               <section class="section portfolio portfolio-two portfolio-filter fade-wrapper">
                  <div class="portfolio__text-slider">
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="portfolio__text-slider-single">
                        <h2 class="h1">
                           <a href="/portfolio">
                              digital portfolio
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="banner-five">
                     <div class="banner-five__wrapper">
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/nine.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/ten.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/eleven.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/twelve.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/thirteen.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/nine.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/ten.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/eleven.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/twelve.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                        <div class="banner-five__single">
                           <div class="projects-s__single topy-tilt">
                              <div class="thumb">
                                 <a href="/projects">
                                    <img src="assets/images/projects/thirteen.png" alt="Image">
                                 </a>
                              </div>
                              <div class="content">
                                 <h4>
                                    <a href="/projects">Kaizen Psychology</a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- ==== / portfolio end ==== -->
               <!-- ==== offer start ==== -->
               <section class="section offer fade-wrapper light">
                  <div class="container">
                     <div class="row gaper">
                        <div class="col-12 col-lg-5">
                           <div class="offer__content section__content">
                              <span class="sub-title">
                                 WHAT WE OFFER
                                 <i class="fa-solid fa-arrow-right"></i>
                              </span>
                              <h2 class="title title-anim">
                                 Giving Your Business Some Great Ideas
                              </h2>
                              <div class="paragraph">
                                 <p>Bring to the table win-win survival strategies to ensure proactive domination. At
                                    the end of the day, going forward, a new normal that has evolved from generation on
                                    the runway heading towards a streamlined cloud solution going forward porttitor
                                    dictum sapien.</p>
                              </div>
                              <div class="section__content-cta">
                                 <a href="/services" class="btn btn--secondary">view all services</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-lg-7 col-xl-6 offset-xl-1">
                           <div class="offer__cta">
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    01
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       uI / uX experience
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/blog-thumb.png"></div>
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    02
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       web development
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/two.png"></div>
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    03
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       digital marketing
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/three.png"></div>
                              </div>
                              <div class="offer__cta-single fade-top">
                                 <span class="sub-title">
                                    04
                                    <i class="fa-solid fa-arrow-right"></i>
                                 </span>
                                 <h2>
                                    <a href="/services">
                                       product design
                                       <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                                    </a>
                                 </h2>
                                 <div class="offer-thumb-hover d-none d-md-block" data-background="assets/images/offer/blog-thumb.png"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <img src="assets/images/offer/star.png" alt="Image" class="star">
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>
               
               <!-- ==== / offer end ==== -->
               <!-- ==== testimonial start ==== -->
               <section class="section testimonial pt-0 position-relative">
                  <div class="testimonial__text-slider">
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="testimonial__text-slider-single">
                        <h2 class="h1">
                           <a href="/feedback">
                              client's testimonial
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="container position-relative">
                     <div class="row">
                        <div class="col-12 col-xxl-10">
                           <div class="testimonial-s__slider">
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div>
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean
                                                non odio porttitor, convallis erat sit amet, facilisis velit. Nulla
                                                ornare convallis malesuada. Phasellus molestie, ipsum ac fringilla.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Daniel Smith</h5>
                                             <p>Senior engineer</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-two.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div>
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean
                                                non odio porttitor, convallis erat sit amet, facilisis velit. Nulla
                                                ornare convallis malesuada. Phasellus molestie, ipsum ac fringilla.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Daniel Smith</h5>
                                             <p>Senior engineer</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="testimonial-s__slider-single">
                                 <div class="row gaper align-items-center">
                                    <div class="col-12 col-lg-4 col-xxl-4">
                                       <div class="thumb">
                                          <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                             viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                             <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                                          </svg>
                                       </div>
                                    </div>
                                    <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                                       <div class="testimonial-s__content">
                                          <div class="quote">
                                             <i class="fa-solid fa-quote-right"></i>
                                          </div>
                                          <div class="content">
                                             <h4>posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean
                                                non odio porttitor, convallis erat sit amet, facilisis velit. Nulla
                                                ornare convallis malesuada. Phasellus molestie, ipsum ac fringilla.</h4>
                                          </div>
                                          <div class="content-cta">
                                             <h5>Daniel Smith</h5>
                                             <p>Senior engineer</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="slide-group justify-content-start">
                        <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-testimonial-three">
                           <i class="fa-light fa-angle-left"></i>
                        </a>
                        <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-testimonial-three">
                           <i class="fa-light fa-angle-right"></i>
                        </a>
                     </div>
                  </div>
                  <div class="other-section">
                     <img class="other-section-image" src="assets/images/testimonial/s-thumb.png"
                        alt="Next Slide Image">
                  </div>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>
               <!-- ==== / testimonial end ==== -->
               <!-- ==== blog start ==== -->
               <!-- <section class="section blog fade-wrapper">
                  <div class="container">
                     <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                           <div class="section__header text-center">
                              <span class="sub-title">
                                 news & Blog
                                 <i class="fa-solid fa-arrow-right"></i>
                              </span>
                              <h2 class="title title-anim">what's new in blog</h2>
                           </div>
                        </div>
                     </div>
                     <div class="row gaper">
                        <div class="col-12 col-md-6">
                           <div class="blog__single fade-top">
                              <div class="blog__single-thumb topy-tilt">
                                 <a href="/blog">
                                    <img src="assets/images/blog/one.png" alt="Image">
                                 </a>
                              </div>
                              <div class="blog__single-content">
                                 <h4>
                                    <a href="/blog">A Simple Social Media Marketing Checklist</a>
                                 </h4>
                                 <div class="blog__single-meta">
                                    <a href="/blog" class="sub-title">
                                       creative
                                       <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <p>MARCH 23, 2023</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-md-6">
                           <div class="blog__single fade-top">
                              <div class="blog__single-thumb topy-tilt">
                                 <a href="/blog">
                                    <img src="assets/images/blog/two.png" alt="Image">
                                 </a>
                              </div>
                              <div class="blog__single-content">
                                 <h4>
                                    <a href="/blog">Transforming Challenges into Opportunities</a>
                                 </h4>
                                 <div class="blog__single-meta">
                                    <a href="/blog" class="sub-title">
                                       creative
                                       <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <p>MARCH 23, 2023</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section> -->
               <section class="section blog blog-two">
                  <div class="container">
                     <div class="row">
                        <div class="col-12">
                           <div class="section__header--secondary">
                              <div class="row gaper align-items-center">
                                 <div class="col-12 col-lg-8">
                                    <div class="section__header text-center text-lg-start mb-0">
                                       <span class="sub-title">
                                          news & Blog
                                          <i class="fa-solid fa-arrow-right"></i>
                                       </span>
                                       <h2 class="title title-anim">what's new in blog</h2>
                                    </div>
                                 </div>
                                 <div class="col-12 col-lg-4">
                                    <div class="slide-group justify-content-center justify-content-lg-end">
                                       <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-blog">
                                          <i class="fa-light fa-angle-left"></i>
                                       </a>
                                       <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-blog">
                                          <i class="fa-light fa-angle-right"></i>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="blog-two__slider">
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/three.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/four.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">Transforming Challenges into Opportunities</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/five.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/three.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/four.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">Transforming Challenges into Opportunities</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                     <div class="blog-two__slider-single topy-tilt">
                        <div class="blog__single-thumb">
                           <a href="/blog">
                              <img src="assets/images/blog/five.png" alt="Image">
                           </a>
                        </div>
                        <div class="blog__single-content">
                           <h4>
                              <a href="/blog">A Simple Social Media Marketing Checklist</a>
                           </h4>
                           <div class="blog__single-meta">
                              <a href="/blog" class="sub-title">
                                 creative
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                              <p>MARCH 23, 2023</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- ==== / blog end ==== -->
               <!-- ==== sponsor start ==== -->
               <div class="sponsor section pb-0">
                  <div class="container-fluid">
                     <div class="row justify-content-center">
                        <div class="col-12">
                           <div class="sponsor__slider ">
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/one.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/two.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/three.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/four.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/five.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/six.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/one.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/two.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/three.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/four.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/five.png" alt="Image">
                              </div>
                              <div class="sponsor__slider-item">
                                 <img src="assets/images/sponsor/six.png" alt="Image">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </div>
               <!-- ==== / sponsor end ==== -->
               <!-- ==== next page start ==== -->
               <section class="section next-page">
                  <div class="container">
                     <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                           <div class="section__header text-center">
                              <a href="/aboutus" class="sub-title mb-0">
                                 Next Page
                                 <i class="fa-solid fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="next__text-slider">
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                     <div class="next__text-slider-single">
                        <h2 class="h1">
                           <a href="/aboutus">
                              About Us
                              <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
                           </a>
                        </h2>
                     </div>
                  </div>
                  <div class="lines d-none d-lg-flex">
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                  </div>
               </section>
               <!-- ==== / next page end ==== -->
            </main>
            <!-- ==== / main end ==== -->
            <footer class="footer-two section pb-0">
               <div class="container">
                  <div class="row gaper">
                     <div class="col-12 col-lg-5 col-xl-4">
                        <div class="footer-two__left">
                           <div class="logo">
                              <a href="/">
                                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 331.1 316.9" style="enable-background:new 0 0 331.1 316.9;" xml:space="preserve">
                                    <style type="text/css">
                                       .st0{fill:#FFFFFF;}
                                       .st1{fill:#EF3238;}
                                    </style>
                                    <g>
                                       <g>
                                          <path class="st0" d="M100.3,0h21.9c0.3,0,0.6,0.3,0.9,0.3c0.3,0.3,0.6,0.3,0.6,0.6c2.5,4.4,5,8.8,7.2,13.2    c0.3,0.6,0.6,1.3,1.3,1.6c0.6,0.3,1.3,0.6,1.9,0.3c49.2,0,98.3,0,147.5,0c5.6,0,11.6,1.3,16.6,3.4c7.5,3.1,14.1,7.8,19.7,13.8    c5.6,5.9,10,12.8,12.8,20.4c0.6,1.3,0.3,1.9-0.9,2.5c-22.2,10.6-44.5,21.3-66.7,31.9l-84.9,41c-0.6,0.3-1.3,0.6-1.9,0.9    c0.6,0.3,0.9,0.9,1.6,1.3c28.2,20,57.9,38.2,86.7,57c13.5,8.8,26.9,17.5,40.7,26c0.6,0.3,0.9,0.9,1.3,1.6s0.3,1.3,0.3,1.9    c-1.9,20.7-10.6,37.9-24.1,53.2c-10.6,11.9-23.8,20.7-38.2,27.9c-1.3,0.6-1.6-0.3-1.9-0.9c-9.4-19.7-19.1-39.5-28.5-59.5    C176.7,159.7,139.2,80.8,101.6,2.2C100.9,1.6,100.9,0.9,100.3,0z"/>
                                          <path class="st0" d="M165.8,201.4c-4.1-2.8-7.8-5.3-11.9-7.8c-39.1-23.5-78.3-46.7-117.4-69.8c-0.6-0.3-0.9-0.6-1.3-0.9    c-0.3-0.3-0.3-0.9-0.3-1.6c1.6-17.8,5.3-35.1,11.3-51.7c3.8-10.3,9.1-20,16-28.5c8.5-10,19.1-16.9,32.3-19.1    c3.8-0.6,3.8-0.6,5.3,2.8c33.8,72,67.6,144.4,101.5,216.4c11.3,24.1,22.5,48.2,33.8,72.3c0.3,0.6,0.6,1.3,0.9,1.9l-12.2,0.9    c-2.5,0.3-5,0.3-7.2,0.6c-0.3,0-0.9,0-1.3,0c-0.3-0.3-0.6-0.6-0.9-0.9c-2.5-5-5-10-7.5-15c-0.3-0.3-0.6-0.9-0.9-1.3    c-0.3-0.3-0.9-0.3-1.3-0.3H7.3c-1.6,0-3.1,0-5,0c-1.6,0-1.9-0.6-2.2-1.9c-0.3-1.9,0-3.8,0.9-5.6c0.9-1.9,1.9-3.1,3.4-4.4    L163.3,202C164.5,202,164.8,201.7,165.8,201.4z"/>
                                          <path class="st1" d="M10.5,247.4c0.6-3.4,1.3-6.3,1.9-9.4c5-24.4,10.3-48.9,15.3-73c0.3-0.9,0.3-1.3,1.6-0.6    C52.1,178.2,75,192,97.8,206c0.3,0.3,0.6,0.3,0.9,0.6L10.5,247.4z"/>
                                          <path class="st1" d="M328.3,94.6c-1.9,9.7-3.8,18.8-5.3,28.2c-3.1,17.2-6.6,34.1-10,51.4c-0.6,2.5-0.3,2.5-2.5,1.3l-65.1-37.3    c-0.6-0.3-0.9-0.6-1.9-0.9L328.3,94.6z"/>
                                       </g>
                                    </g>
                                 </svg>
                                 <!-- <img src="assets/images/logo.png" alt="Image"> -->
                              </a>
                           </div>
                           <div class="paragraph">
                              <p>Welcome to our digital agency We specialize in helping business most like yours succeed
                                 online. From website design and development.</p>
                           </div>
                           <div class="section__content-cta">
                              <h2>
                                 <a href="mailto:info@scalelot.com" class="folks-text">info@scalelot.com</a>
                              </h2>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 col-xl-7 offset-xl-1 col-xxl-5 offset-xxl-3">
                        <div class="footer-two__right">
                           <div class="social justify-content-start justify-content-lg-start">
                              <a href="https://www.facebook.com/" target="_blank">
                                 <i class="fa-brands fa-facebook-f"></i>
                                 <span>Facebook</span>
                              </a>
                              <a href="https://www.twitter.com/" target="_blank">
                                 <i class="fa-brands fa-twitter"></i>
                                 <span>Twitter</span>
                              </a>
                              <a href="https://www.pinterest.com/" target="_blank">
                                 <i class="fa-brands fa-linkedin-in"></i>
                                 <span>Linkedin</span>
                              </a>
                              <a href="https://www.instagram.com/" target="_blank">
                                 <i class="fa-brands fa-instagram"></i>
                                 <span>Instagram</span>
                              </a>
                              <a href="https://www.dribble.com/" target="_blank">
                                 <i class="fa-light fa-basketball"></i>
                                 <span>Dribble</span>
                              </a>
                           </div>
                           <div class="footer__single-meta section__content-cta">
                              <a href="tel:8780333608">
                                 <i class="fa-sharp fa-solid fa-phone-volume"></i>
                                 +91 87803 33608
                              </a>
                              <a href="mailto:info@scalelot.com">
                                 <i class="fa-sharp fa-solid fa-envelope"></i>
                                 info@scalelot.com
                              </a>
                              <a class="addres" href="https://www.google.com/maps/d/viewer?mid=1UZ57Drfs3SGrTgh6mrYjQktu6uY&hl=en_US&ll=18.672105000000013%2C105.68673800000003&z=17"
                                 target="_blank">
                                 <i class="fa-sharp fa-solid fa-location-dot"></i>
                                 Plot-40, First Floor, Beside Tapi Darshan Gate-1 Causeway Circle, Singanpor Rd, Katargam, Surat, Gujarat 395004
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="footer__copyright">
                  <div class="container">
                     <div class="row align-items-center gaper">
                        <div class="col-12 col-xl-6">
                           <div class="footer__copyright-text text-center text-xl-start">
                              <p>
                                 Copyright &copy;
                                 <span id="copyYear"></span>
                                 Scalelot by
                                 <a href="https://themeforest.net/user/gramentheme/" target="_blank">GramenTheme</a>
                                 . All Rights Reserved
                              </p>
                           </div>
                        </div>
                        <div class="col-12 col-xl-6">
                           <ul class="justify-content-center justify-content-xl-end">
                              <li>
                                 <a href="/">Home</a>
                              </li>
                              <li>
                                 <a href="/aboutus">About</a>
                              </li>
                              <li>
                                 <a href="/services">Services</a>
                              </li>
                              <li>
                                 <a href="/blog">Blog</a>
                              </li>
                              <li>
                                 <a href="/contactus">Contact</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
            <!-- ==== / footer end ==== -->
         </div>
      </div>
      <!-- ==== scroll to top start ==== -->
      <button class="progress-wrap" aria-label="scroll indicator" title="go to top">
         <span></span>
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </button>
      <!-- ==== / scroll to top end ==== -->
      <div class="line">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
      <!-- video modal -->
      <div class="vid-m">
         <div class="vid-c">
            <a href="javascript:void(0)" aria-label="close video popup" class="close-v">
               <i class="fa-light fa-xmark-large"></i>
            </a>
            <video autoplay="autoplay" loop muted controls>
               <source src="assets/images/popup-video.mp4" type="video/mp4">
            </video>
            <h5>Hello</h5>
         </div>
      </div>
   </div>
   <!-- ==== js dependencies start ==== -->
   <!-- jquery -->
   <script src="assets/vendor/jquery/jquery-3.7.0.min.js"></script>
   <!-- bootstrap five js -->
   <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- nice select js -->
   <script src="assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>
   <!-- magnific popup js -->
   <script src="assets/vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>
   <!-- slick js -->
   <script src="assets/vendor/slick/js/slick.min.js"></script>
   <!-- image loaded js -->
   <script src="assets/vendor/images-loaded/imagesloaded.pkgd.min.js"></script>
   <!-- isotope js -->
   <script src="assets/vendor/isotope/isotope.pkgd.min.js"></script>
   <!-- chroma js -->
   <script src="assets/vendor/gsap/chroma.min.js"></script>
   <!-- splittext js -->
   <script src="assets/vendor/gsap/SplitText.min.js"></script>
   <!-- scrollsmoother js -->
   <script src="assets/vendor/gsap/ScrollSmoother.min.js"></script>
   <!-- scrollto js -->
   <script src="assets/vendor/gsap/ScrollToPlugin.min.js"></script>
   <!-- scrolltrigger js -->
   <script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>
   <!-- gsap js -->
   <script src="assets/vendor/gsap/gsap.min.js"></script>
   <!-- vanilla tilt js -->
   <script src="assets/vendor/vanilla-tilt/tilt.jquery.js"></script>
   <!-- ==== / js dependencies end ==== -->
   <!-- plugins js -->
   <script src="assets/js/plugins.js"></script>
   <!-- main js -->
   <script src="assets/js/main.js"></script>
</body>
</html>