<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">portfolio Gallery</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="#">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           portfolio Gallery
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We are Surat-based IT Solution Providers committed to providing the best services for the growth of our valuable clients and their varied businesses.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== portfolio start ==== -->
   <!-- <section class="section portfolio-m fade-wrapper">
      <div class="container">
         <div class="row gaper">
            <div class="col-12 col-sm-6 col-lg-4">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/fe.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Festum Evento Website</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="https://eventopackage.com/">
                        <img src="assets/images/portfolio/ep.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="https://eventopackage.com/">Evento Package Website</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-4">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/water_blating.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Global Water Blasting Website</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/app_1.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">FE Mobile Application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/app_2.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">EP Mobile Application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/app_3.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Photoshop Learning App</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/app_4.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Nitya Niyam Mobile App</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/new_fe.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Festum Evento Landing Page</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/e-comarce.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Online Shopping Website</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-4">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/english_app.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Simple English App</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/skill_up1.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">SkillUP IT Training Center</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/e-comarce1.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">eCommerce Shopping Website</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/new_fe1.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Festum Evento Website</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/african_dim.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">African Diamond</a>
                     </h3>
                  </div>
               </div>
            </div>            
            <div class="col-12 col-sm-6 col-lg-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="service-single.html">
                        <img src="assets/images/portfolio/daura_shop.png" alt="Image"/>
                     </a>
                  </div>
                  <div class="content">
                     <h3 class="light-title-lg mt-auto">
                        <a href="service-single.html">Online Shopping</a>
                     </h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="section__content-cta d-flex justify-content-center">
                  <button class="btn btn--secondary">Load More..</button>
               </div>
            </div>
         </div>
      </div>
   </section> -->
   <!-- ==== portfolio end ==== -->

   
   <section class="section portfolio portfolio-two portfolio-filter fade-wrapper">  
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-xl-4 text-center">
               <div class="portfolio-two__filter-btn section__header g-ind">
                  <button class="filter-button active" data-filter="*">All</button>
                  <!-- <button aria-label="Filter Portfolio" data-filter="*">All</button> -->
                  <button class="filter-button" data-filter=".website">Websites</button>
                  <!-- <button aria-label="Filter Portfolio" data-filter=".website">Websites</button> -->
                  <button class="filter-button" data-filter=".app">Applications</button>
                  <!-- <button aria-label="Filter Portfolio" data-filter=".app" class="active">Applications</button> -->
                  <button class="filter-button" data-filter=".graphics">Graphics Design</button>
                  <!-- <button aria-label="Filter Portfolio" data-filter=".graphics">Graphics Design</button> -->
               </div>
            </div>
         </div>
         <div class="row masonry-grid">      
            <!-- FE  -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/001.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Festum Evento</h4>
                     <p>Event promotion and ticket-selling website</p>
                  </div>
               </div>
            </div>    
            <!-- EP        -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/002.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Evento Package</h4>
                     <p>Portfolio building website for event professionals</p>
                  </div>
               </div>
            </div>
            <!-- GWB -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/003.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Global Water Blasting</h4>
                     <p>Business website for pressure washing service</p>
                  </div>
               </div>
            </div>
            <!-- Simple English -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/004.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Simple English</h4>
                     <p>Landing page of English learning app</p>
                  </div>
               </div>
            </div>
            <!-- Sellify -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/014.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Sellify</h4>
                     <p>Jewelry e-commerce website</p>
                  </div>
               </div>
            </div>
             <!-- FF  -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/012.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Festum Field</h4>
                     <p>Socializing and business promotions app</p>
                  </div>
               </div>
            </div>
            <!-- African Star -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/008.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>African Star</h4>
                     <p>Business website for diamond merchant</p>
                  </div>
               </div>
            </div>
            <!-- FE landing page  -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/005.png" alt="Image">
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Festum Evento</h4>
                     <p>Landing page for event promotion and ticket-selling platform</p>
                  </div>
               </div>
            </div>
            <!-- Cart Sailor -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/006.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Cart Sailor</h4>
                     <p>E-commerce website</p>
                  </div>
               </div>
            </div>
            <!-- F-coin -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/009.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>F-coin</h4>
                     <p>Redeemable coins website</p>
                  </div>
               </div>
            </div>
            <!-- Dlex -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/010.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Dlex</h4>
                     <p>Online advertising website</p>
                  </div>
               </div>
            </div>
            <!-- super_admin -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/011.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Super Admin</h4>
                     <p>Central management platform</p>
                  </div>
               </div>
            </div>
            <!-- Daura Shop -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
                  <div class="portfolio__single topy-tilt fade-top">
                     <a href="javascript:void(0);">
                        <img src="assets/images/portfolio/007.png" alt="Image"/>
                     </a>
                     <div class="portfolio__single-content">
                        <h4>Daura Shop</h4>
                        <p>Online apparel store</p>
                     </div>
                  </div>
            </div>
            <!-- maglo -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/013.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Maglo</h4>
                     <p>Money transferring website</p>
                  </div>
               </div>
            </div>           
            <!-- PrepaUp -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/015.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>PrepaUp</h4>
                     <p>Self-training website</p>
                  </div>
               </div>
            </div>
            <!-- Photoshop Guide -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/016.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Photoshop Guide</h4>
                     <p>Landing page for Photoshop tutorial app</p>
                  </div>
               </div>
            </div>
            <!-- Devshore -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/017.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Devshore</h4>
                     <p>IT and software solutions website</p>
                  </div>
               </div>
            </div>
            <!-- Krypto Kasino Wallet -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/018.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Krypto Kasino Wallet</h4>
                     <p>Crypto trading and gaming website</p>
                  </div>
               </div>
            </div>
            <!-- Rechain -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/019.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Rechain</h4>
                     <p>ERP website</p>
                  </div>
               </div>
            </div>
            <!-- QR Scanner -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/020.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>QR Scanner</h4>
                     <p>Landing page for QR scanning app</p>
                  </div>
               </div>
            </div>
            <!-- Finnac -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative website">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/021.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Finnac</h4>
                     <p>Finance business website</p>
                  </div>
               </div>
            </div>

            <!-- All Applications  -->
            <!-- Fitness -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative app">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/022.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Fitness</h4>
                     <p>Health and fitness app</p>
                  </div>
               </div>
            </div>
               <!-- Bon Glow App -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative app">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/023.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Bon Glow</h4>
                     <p>Online shopping app</p>
                  </div>
               </div>
            </div>
            <!-- FE app  -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative app">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/024.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Festum Evento App</h4>
                     <p>Event promotion and ticket-selling app</p>
                  </div>
               </div>
            </div>
            <!-- EP app -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative app">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/025.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Evento Package App</h4>
                     <p>Service booking app</p>
                  </div>
               </div>
            </div>
            <!-- Smart PDF Editor App-->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative app">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/022.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Smart PDF Editor</h4>
                     <p>PDF editor app</p>
                  </div>
               </div>
            </div>

            <!-- Graphic Design -->
            <!-- EP brochure -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/027.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Brochure Design</h4>
                  </div>
               </div>
            </div>
            <!-- FE brochure -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/028.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Brochure Design</h4>
                  </div>
               </div>
            </div>
            <!-- FM brochure -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/029.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Brochure Design</h4>
                  </div>
               </div>
            </div>
            <!-- EP brochure -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/030.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Brochure Design</h4>
                  </div>
               </div>
            </div>  
            
            <!-- invitation card Design -->
            <!-- birthday card Design -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/031.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Birthday Card Design</h4>
                  </div>
               </div>
            </div>
            <!-- wedding card Design  -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/032.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Wedding Card Design</h4>
                  </div>
               </div>
            </div>
            <!-- wedding card Design  -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/033.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Wedding Card Design</h4>
                  </div>
               </div>
            </div>
            <!-- Baby Shower Card card  -->
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 filter-item-space grid-item-main position-relative graphics">
               <div class="portfolio__single topy-tilt fade-top">
                  <a href="javascript:void(0);">
                     <img src="assets/images/portfolio/034.png" alt="Image"/>
                  </a>
                  <div class="portfolio__single-content">
                     <h4>Baby Shower Card Design</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   
</main>
<!-- ==== / main end ==== -->