<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">portfolio Gallery</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="/">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           portfolio Gallery
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We're an UK-based top-notch design agency committed to partnering
                     with good companies and hiring the right people for the right roles.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== portfolio start ==== -->
   <section class="section portfolio-m fade-wrapper">
      <div class="container">
         <div class="row gaper">
            <div class="col-12 col-lg-6">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/eleven.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/twelve.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6 col-xxl-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/fifteen.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6 col-xxl-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/sixteen.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6 col-xxl-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/seventeen.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6 col-xxl-3">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/eighteen.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/thirteen.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
            <div class="col-12 col-lg-6">
               <div class="portfolio-m__single topy-tilt fade-top">
                  <div class="thumb">
                     <a href="/services">
                        <img src="assets/images/portfolio/fourteen.png" alt="Image">
                     </a>
                  </div>
                  <div class="content">
                     <div class="tr">
                        <a href="/services">
                           <i class="icon-arrow-top-right"></i>
                        </a>
                     </div>
                     <h3 class="light-title-lg">
                        <a href="/services">LMS web application</a>
                     </h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="section__content-cta d-flex justify-content-center">
                  <button class="btn btn--secondary">Load More..</button>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== portfolio end ==== -->
</main>
<!-- ==== / main end ==== -->