<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">our projects</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="/">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           our projects
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We're an UK-based top-notch design agency committed to partnering
                     with good companies and hiring the right people for the right roles.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== project start ==== -->
   <section class="section project-sl">
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-one.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  mobile app
                  <br>
                  development
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-two.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  brand identity
                  <br>
                  difference
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-three.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  marketing app
                  <br>
                  solutions
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-four.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  LMS web app
                  <br>
                  lication
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-five.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  brand identity
                  <br>
                  difference
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-six.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  digital website
                  <br>
                  development
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-one.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  mobile app
                  <br>
                  development
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-two.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  brand identity
                  <br>
                  difference
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-three.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  marketing app
                  <br>
                  solutions
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-four.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  LMS web app
                  <br>
                  lication
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-five.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  brand identity
                  <br>
                  difference
               </a>
            </h2>
         </div>
      </div>
      <div class="project-sl__single">
         <div class="thumb">
            <a href="/projects">
               <img src="assets/images/projects/hr-six.png" alt="Image">
            </a>
         </div>
         <div class="content">
            <h2>
               <a href="/projects">
                  digital website
                  <br>
                  development
               </a>
            </h2>
         </div>
      </div>
   </section>
   <!-- ==== / project end ==== -->
   <!-- ==== work steps start ==== -->
   <section class="section work-steps work-alt fade-wrapper">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="section__header--secondary">
                  <div class="row gaper align-items-center">
                     <div class="col-12 col-lg-5 col-xxl-5">
                        <div class="section__header text-center text-lg-start mb-0">
                           <span class="sub-title">
                              working steps
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h2 class="title title-anim">Our Work Process</h2>
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 col-xxl-5 offset-xxl-2">
                        <div class="text-center text-lg-start">
                           <p>Bring to the table win-win survival strategies to ensure proactive domination.
                              At the end of the day, going forward, a new normal that has evolved from
                              generation on the runway heading towards</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="work-steps__single fade-top">
                  <span>
                     25
                     <br>
                     %
                  </span>
                  <h5>Discover & Strategy.</h5>
                  <div class="work-thumb-hover d-none d-md-block" data-background="assets/images/work/thumb-one.jpg">
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="work-steps__single work-two work-steps__single-active fade-top">
                  <span>
                     50
                     <br>
                     %
                  </span>
                  <h5>Wireframes & User-flows</h5>
                  <div class="work-thumb-hover d-none d-md-block" data-background="assets/images/work/thumb-two.jpg">
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="work-steps__single work-three fade-top">
                  <span>
                     75
                     <br>
                     %
                  </span>
                  <h5>Hi-Fidelity design</h5>
                  <div class="work-thumb-hover d-none d-md-block" data-background="assets/images/work/thumb-three.jpg">
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="work-steps__single work-four fade-top">
                  <span>
                     100
                     <br>
                     %
                  </span>
                  <h5>Development Phase</h5>
                  <div class="work-thumb-hover d-none d-md-block" data-background="assets/images/work/thumb-four.jpg">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="video-frame video-btn d-none d-md-flex" href="https://www.youtube.com/watch?v=RvreULjnzFo"
         target="_blank">
         <img src="assets/images/video-frame.png" alt="Image">
         <i class="fa-sharp fa-solid fa-play"></i>
      </a>
   </section>
   <!-- ==== / work steps end ==== -->
   <!-- ==== cta start ==== -->
   <section class="cta-two section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-xxl-11">
               <div class="cta-two-wrapper bg-img" data-background="assets/images/cta-two-bg.png">
                  <div class="row gaper align-items-center">
                     <div class="col-12 col-lg-8">
                        <div class="cta-two__content">
                           <span>Hello !</span>
                           <h2 class="title-anim">
                              ready to work with us?
                           </h2>
                           <h5>
                              <a href="tel:19-3265-003-420">call: +19 3265 003 420</a>
                           </h5>
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="text-start text-lg-end">
                           <a href="/contactus" class="btn btn--tertiary">
                              start a project
                              <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / cta end ==== -->
</main>
<!-- ==== / main end ==== -->