<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">Our Services</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="#">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           Our Services
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We are Surat-based IT Solution Providers committed to providing the best services for the growth of our valuable clients and their varied businesses.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== service table start ==== -->
   <section class="section service-t">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="service-t__slider">
                  <div class="service-t-single-wrapper h-auto">
                     <div class="service-t__slider-single h-100">
                        <div class="intro">
                           <span class="sub-title">
                              01
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Web Design & Development</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Design</li>
                           <li>Coding</li>
                           <li>Testing</li>
                           <li>Deployment</li>
                           <li>Maintenance</li>
                        </ul>
                        <div class="cta">
                           <a href="/services/webdevelopment">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper h-auto">
                     <div class="service-t__slider-single h-100">
                        <div class="intro">
                           <span class="sub-title">
                              02
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Mobile App Development</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Concept</li>
                           <li>Development</li>
                           <li>Testing</li>
                           <li>Deployment</li>
                           <li>Updates</li>
                        </ul>
                        <div class="cta">
                           <a href="/services/applicationdevelopment">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper h-auto">
                     <div class="service-t__slider-single h-100">
                        <div class="intro">
                           <span class="sub-title">
                              03
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">UX/UI Design</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Research</li>
                           <li>Wireframing</li>
                           <li>Prototyping</li>
                           <li>Visual Design</li>
                           <li>User Testing</li>
                        </ul>
                        <div class="cta">
                           <a href="/services/uiuxdesign">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper h-auto">
                     <div class="service-t__slider-single h-100">
                        <div class="intro">
                           <span class="sub-title">
                              04
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Digital Marketing</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Strategy</li>
                           <li>Targeting</li>
                           <li>Implementing</li>
                           <li>Analytics</li>
                           <li>Optimizing</li>
                        </ul>
                        <div class="cta">
                           <a href="/services/digitalmarketing">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper h-auto">
                     <div class="service-t__slider-single h-100">
                        <div class="intro">
                           <span class="sub-title">
                              05
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Content Creation</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Research</li>
                           <li>Strategy</li>
                           <li>Creating</li>
                           <li>Editing</li>
                           <li>Publishing</li>
                        </ul>
                        <div class="cta">
                           <a href="/services/contentcreation">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="slide-group">
         <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-service-t">
            <i class="fa-light fa-angle-left"></i>
         </a>
         <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-service-t">
            <i class="fa-light fa-angle-right"></i>
         </a>
      </div>
   </section>
   <!-- ==== / service table end ==== -->
   <!-- ==== video modal start ==== -->
   <div class="video-modal">
      <img src="assets/images/searvice_video_bg.jpg" alt="Image" class="modal-bg">
      <a class="video-frame video-btn" href="https://www.youtube.com/watch?v=RFk2JGghcAo" target="_blank">
         <img src="assets/images/video-frame-two.png" alt="Image">
         <i class="fa-sharp fa-solid fa-play"></i>
      </a>
   </div>
   <!-- ==== / video modal end ==== -->
   <!-- ==== ux process start ==== -->
   <section class="section ux-process fade-wrapper">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
               <div class="section__header text-center">
                  <span class="sub-title">
                     WorkingProcess
                     <i class="fa-solid fa-arrow-right"></i>
                  </span>
                  <h2 class="title title-anim">Working Process</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="service-f-wrapper">
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Excellence:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>Committed to unwavering excellence in all areas, including work quality and client happiness.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Innovation:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>We lead with cutting-edge technology because we embrace innovation as our driving force.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Integrity:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>Integrity is our greatest value, assuring honesty and transparency in all relationships.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Collaboration:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>We cultivate a culture of teamwork, valuing multiple perspectives in order to achieve collaborative achievement.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Client-Centric:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>We prioritize clients and tailor solutions to ensure value at every stage.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Adaptability:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>We remain nimble, learning, and growing to meet ever-changing IT demands.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Sustainability:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>Commitment to long-term practices that benefit both communities and the environment.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Accountability:</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>We take responsibility for our commitments, keeping promises, and owning outcomes.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / ux process end ==== -->
   <!-- ==== testimonial start ==== -->
   <section class="section testimonial pt-0 position-relative">
      <div class="testimonial__text-slider">
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
      </div>
      <div class="container position-relative">
         <div class="row">
            <div class="col-12 col-xxl-10">
               <div class="testimonial-s__slider">
                  <div class="testimonial-s__slider-single">
                     <div class="row gaper align-items-center">
                        <!-- <div class="col-12 col-lg-4 col-xxl-4">
                           <div class="thumb">
                              <img src="assets/images/testimonial/s-thumb.png" alt="Image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                 viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                 <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                              </svg>
                           </div>
                        </div> -->
                        <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                           <div class="testimonial-s__content">
                              <div class="quote">
                                 <i class="fa-solid fa-quote-right"></i>
                              </div>
                              <div class="content">
                                 <h4>I am delighted to share my experience with Scalelot Technologies' Website Development service. Working with them has been an absolute pleasure from start to finish. Their team is very talented and creative with a professional approach.</h4>
                              </div>
                              <div class="content-cta">
                                 <h5>Bhavesh M.</h5>
                                 <!-- <p>Senior engineer</p> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-s__slider-single">
                     <div class="row gaper align-items-center">
                        <!-- <div class="col-12 col-lg-4 col-xxl-4">
                           <div class="thumb">
                              <img src="assets/images/testimonial/s-thumb-two.png" alt="Image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                 viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                 <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                              </svg>
                           </div>
                        </div> -->
                        <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                           <div class="testimonial-s__content">
                              <div class="quote">
                                 <i class="fa-solid fa-quote-right"></i>
                              </div>
                              <div class="content">
                                 <h4>From the initial concept discussions to the final launch of the Mobile Application, Scalelot Technologies demonstrated a deep understanding of our vision and goals. The entire team was cooperative with our feedback, making necessary adjustments promptly.</h4>
                              </div>
                              <div class="content-cta">
                                 <h5>Ryan D.</h5>
                                 <!-- <p>Senior engineer</p> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-s__slider-single">
                     <div class="row gaper align-items-center">
                        <!-- <div class="col-12 col-lg-4 col-xxl-4">
                           <div class="thumb">
                              <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                 viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                 <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                              </svg>
                           </div>
                        </div> -->
                        <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                           <div class="testimonial-s__content">
                              <div class="quote">
                                 <i class="fa-solid fa-quote-right"></i>
                              </div>
                              <div class="content">
                                 <h4>Scalelot Technologies helped me create my Website which immediately boosted my online presence and attracted online users to my business. The Design, Development, and Content Writing services were up to the mark.</h4>
                              </div>
                              <div class="content-cta">
                                 <h5>Nisha G.</h5>
                                 <!-- <p>Senior engineer</p> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-s__slider-single">
                     <div class="row gaper align-items-center">
                        <!-- <div class="col-12 col-lg-4 col-xxl-4">
                           <div class="thumb">
                              <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322"
                                 viewBox="0 0 44 322" fill="none" class="d-none d-lg-block">
                                 <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                              </svg>
                           </div>
                        </div> -->
                        <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                           <div class="testimonial-s__content">
                              <div class="quote">
                                 <i class="fa-solid fa-quote-right"></i>
                              </div>
                              <div class="content">
                                 <h4>I have availed a range of services at Scalelot Technologies starting from Application Development to Digital Marketing. I am happy with all the results be it UI/UX Designing, Application Development, Graphics Designing, Brochure Designing, or Social Media Marketing.</h4>
                              </div>
                              <div class="content-cta">
                                 <h5>Gilbert N.</h5>
                                 <!-- <p>Senior engineer</p> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="slide-group justify-content-start">
            <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-testimonial-three">
               <i class="fa-light fa-angle-left"></i>
            </a>
            <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-testimonial-three">
               <i class="fa-light fa-angle-right"></i>
            </a>
         </div>
      </div>
   </section>
   <!-- ==== / testimonial end ==== -->
   <!-- ==== cta start ==== -->
   <section class="cta-two section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-xxl-11">
               <div class="cta-two-wrapper bg-img" data-background="assets/images/cta-two-bg.png">
                  <div class="row gaper align-items-center">
                     <div class="col-12 col-lg-8">
                        <div class="cta-two__content">
                           <span>Hello !</span>
                           <h2 class="title-anim">
                              ready to work with us?
                           </h2>
                           <h5>
                              <a href="tel:19-3265-003-420">call: +19 3265 003 420</a>
                           </h5>
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="text-start text-lg-end">
                           <a href="/contactus" class="btn btn--tertiary">
                              start a project
                              <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / cta end ==== -->
</main>
<!-- ==== / main end ==== -->