<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">Our Services</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="/">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           Our Services
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We're an UK-based top-notch design agency committed to partnering
                     with good companies and hiring the right people for the right roles.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== service table start ==== -->
   <section class="section service-t">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="service-t__slider">
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              01
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Branding</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Define Idea</li>
                           <li>Competitor Reserach</li>
                           <li>Target Audience</li>
                           <li>Idea Validation</li>
                           <li>Customer Value</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              02
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">UX Design</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Estimation</li>
                           <li>Research</li>
                           <li>Story board</li>
                           <li>User Flow</li>
                           <li>Information Architecture</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              03
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">UI Design</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Hi-Fidelity Wireframe</li>
                           <li>Design System</li>
                           <li>Final Presentation</li>
                           <li>Final Delivery</li>
                           <li>Post Delivery Support</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              04
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Development</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Front End</li>
                           <li>Backend</li>
                           <li>Mobile App</li>
                           <li>Post Delivery Support</li>
                           <li>server development</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              01
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Branding</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Define Idea</li>
                           <li>Competitor Reserach</li>
                           <li>Target Audience</li>
                           <li>Idea Validation</li>
                           <li>Customer Value</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              02
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">UX Design</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Estimation</li>
                           <li>Research</li>
                           <li>Story board</li>
                           <li>User Flow</li>
                           <li>Information Architecture</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              03
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">UI Design</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Hi-Fidelity Wireframe</li>
                           <li>Design System</li>
                           <li>Final Presentation</li>
                           <li>Final Delivery</li>
                           <li>Post Delivery Support</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="service-t-single-wrapper">
                     <div class="service-t__slider-single">
                        <div class="intro">
                           <span class="sub-title">
                              04
                              <i class="fa-solid fa-arrow-right"></i>
                           </span>
                           <h4>
                              <a href="/services">Development</a>
                           </h4>
                        </div>
                        <ul>
                           <li>Front End</li>
                           <li>Backend</li>
                           <li>Mobile App</li>
                           <li>Post Delivery Support</li>
                           <li>server development</li>
                        </ul>
                        <div class="cta">
                           <a href="/services">
                              <i class="icon-arrow-top-right"></i>
                              <span>service details</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="slide-group">
         <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-service-t">
            <i class="fa-light fa-angle-left"></i>
         </a>
         <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-service-t">
            <i class="fa-light fa-angle-right"></i>
         </a>
      </div>
   </section>
   <!-- ==== / service table end ==== -->
   <!-- ==== video modal start ==== -->
   <div class="video-modal">
      <img src="assets/images/searvice_video_bg.jpg" alt="Image" class="modal-bg">
      <a class="video-frame video-btn" href="https://www.youtube.com/watch?v=RvreULjnzFo" target="_blank">
         <img src="assets/images/video-frame-two.png" alt="Image">
         <i class="fa-sharp fa-solid fa-play"></i>
      </a>
   </div>
   <!-- ==== / video modal end ==== -->
   <!-- ==== ux process start ==== -->
   <section class="section ux-process fade-wrapper">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
               <div class="section__header text-center">
                  <span class="sub-title">
                     UX Process
                     <i class="fa-solid fa-arrow-right"></i>
                  </span>
                  <h2 class="title title-anim">working UX Process</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="service-f-wrapper">
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>User Research</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>To deliver the best experience, we thoroughly research and evaluate your product
                           and its users to create a strategic foundation for the brand.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>story board</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>To deliver the best experience, we thoroughly research and evaluate your product
                           and its users to create a strategic foundation for the brand.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>wireframing</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>To deliver the best experience, we thoroughly research and evaluate your product
                           and its users to create a strategic foundation for the brand.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>Prototyping</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>To deliver the best experience, we thoroughly research and evaluate your product
                           and its users to create a strategic foundation for the brand.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>usability testing</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>To deliver the best experience, we thoroughly research and evaluate your product
                           and its users to create a strategic foundation for the brand.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
                  <div class="service-f-single fade-top">
                     <div class="single-item">
                        <div class="intro-btn">
                           <h4>UI Design</h4>
                        </div>
                     </div>
                     <div class="single-item p-single p-sm body-cn">
                        <p>To deliver the best experience, we thoroughly research and evaluate your product
                           and its users to create a strategic foundation for the brand.</p>
                     </div>
                     <button class="toggle-service-f"></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / ux process end ==== -->
   <!-- ==== testimonial start ==== -->
   <section class="section testimonial pt-0 position-relative">
      <div class="testimonial__text-slider">
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
         <div class="testimonial__text-slider-single">
            <h2 class="h1">
               <a href="/feedback">
                  client's testimonial
                  <i class="fa-sharp fa-solid fa-arrow-down-right"></i>
               </a>
            </h2>
         </div>
      </div>
      <div class="container position-relative">
         <div class="row">
            <div class="col-12 col-xxl-10">
               <div class="testimonial-s__slider">
                  <div class="testimonial-s__slider-single">
                     <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-4 col-xxl-4">
                           <div class="thumb">
                              <img src="assets/images/testimonial/s-thumb.png" alt="Image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322" viewBox="0 0 44 322"
                                 fill="none" class="d-none d-lg-block">
                                 <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                              </svg>
                           </div>
                        </div>
                        <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                           <div class="testimonial-s__content">
                              <div class="quote">
                                 <i class="fa-solid fa-quote-right"></i>
                              </div>
                              <div class="content">
                                 <h4>Posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean
                                    non odio porttitor, convallis erat sit amet, facilisis velit. Nulla
                                    ornare convallis malesuada. Phasellus molestie, ipsum ac fringilla.</h4>
                              </div>
                              <div class="content-cta">
                                 <h5>Daniel Smith</h5>
                                 <p>Senior engineer</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-s__slider-single">
                     <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-4 col-xxl-4">
                           <div class="thumb">
                              <img src="assets/images/testimonial/s-thumb-two.png" alt="Image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322" viewBox="0 0 44 322"
                                 fill="none" class="d-none d-lg-block">
                                 <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                              </svg>
                           </div>
                        </div>
                        <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                           <div class="testimonial-s__content">
                              <div class="quote">
                                 <i class="fa-solid fa-quote-right"></i>
                              </div>
                              <div class="content">
                                 <h4>Posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean
                                    non odio porttitor, convallis erat sit amet, facilisis velit. Nulla
                                    ornare convallis malesuada. Phasellus molestie, ipsum ac fringilla.</h4>
                              </div>
                              <div class="content-cta">
                                 <h5>Daniel Smith</h5>
                                 <p>Senior engineer</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-s__slider-single">
                     <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-4 col-xxl-4">
                           <div class="thumb">
                              <img src="assets/images/testimonial/s-thumb-three.png" alt="Image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="322" viewBox="0 0 44 322"
                                 fill="none" class="d-none d-lg-block">
                                 <path d="M43 -0.000976562V151.999L2 192.999H43V321.999" stroke="#414141" />
                              </svg>
                           </div>
                        </div>
                        <div class="col-12 col-lg-7 offset-lg-1 col-xxl-7 offset-xxl-1">
                           <div class="testimonial-s__content">
                              <div class="quote">
                                 <i class="fa-solid fa-quote-right"></i>
                              </div>
                              <div class="content">
                                 <h4>Posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean
                                    non odio porttitor, convallis erat sit amet, facilisis velit. Nulla
                                    ornare convallis malesuada. Phasellus molestie, ipsum ac fringilla.</h4>
                              </div>
                              <div class="content-cta">
                                 <h5>Daniel Smith</h5>
                                 <p>Senior engineer</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="slide-group justify-content-start">
            <a href="javascript:void(0)" aria-label="previous item" class="slide-btn prev-testimonial-three">
               <i class="fa-light fa-angle-left"></i>
            </a>
            <a href="javascript:void(0)" aria-label="next item" class="slide-btn next-testimonial-three">
               <i class="fa-light fa-angle-right"></i>
            </a>
         </div>
      </div>
      <div class="other-section">
         <img class="other-section-image" src="assets/images/testimonial/s-thumb.png" alt="Next Slide Image">
      </div>
      <div class="lines d-none d-lg-flex">
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
      </div>
   </section>
   <!-- ==== / testimonial end ==== -->
   <!-- ==== cta start ==== -->
   <section class="cta-two section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-xxl-11">
               <div class="cta-two-wrapper bg-img" data-background="assets/images/cta-two-bg.png">
                  <div class="row gaper align-items-center">
                     <div class="col-12 col-lg-8">
                        <div class="cta-two__content">
                           <span>Hello !</span>
                           <h2 class="title-anim">
                              ready to work with us?
                           </h2>
                           <h5>
                              <a href="tel:19-3265-003-420">call: +19 3265 003 420</a>
                           </h5>
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="text-start text-lg-end">
                           <a href="/contactus" class="btn btn--tertiary">
                              start a project
                              <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / cta end ==== -->
</main>
<!-- ==== / main end ==== -->