<!-- ==== main start ==== -->
<main>
   <!-- ==== banner start ==== -->
   <section class="cmn-banner bg-img" data-background="assets/images/banner/cmn-banner-bg.png">
      <div class="container">
         <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xl-7">
               <div class="text-center text-lg-start">
                  <h2 class="title title-anim">Awesome Teams</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="#">
                              <i class="fa-solid fa-house"></i>
                              Home
                           </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           our teams
                        </li>
                     </ol>
                  </nav>
               </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-5">
               <div class="text-center text-lg-start">
                  <p class="primary-text">We are Surat-based IT Solution Providers committed to providing the best services for the growth of our valuable clients and their varied businesses.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- ==== / banner end ==== -->
   <!-- ==== team start ==== -->
   <section class="section team-m fade-wrapper">
      <div class="container">
        <div class="row gaper">
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/01.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Uday Kyada</a>
                  </h4>
                  <p>Chief Executive Officer</p>
                  <!-- <div class="social-alt">
                    <a href="https://www.facebook.com/" target="_blank" aria-label="share us on facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" aria-label="share us on twitter">
                    <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://www.pinterest.com/" target="_blank" aria-label="share us on pinterest">
                    <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/02.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Milan Mangukiya</a>
                  </h4>
                  <p>Chief Operating Officer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
               <div class="thumb">
                 <a href="/team">
                 <img src="assets/images/teams/03.jpg" alt="Image">
                 </a>
                 <div class="thumb__content" data-background="assets/images/teams/bg.png">
                   <!-- <div class="info">
                     <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                     </div> -->
                   <h4>
                     <a href="/team">Sagar Miyani</a>
                   </h4>
                   <p>Chief Marketing Officer</p>
                   <div class="social-alt">
                     <a href="https://www.facebook.com/" target="_blank" aria-label="share us on facebook">
                     <i class="fa-brands fa-facebook-f"></i>
                     </a>
                     <a href="https://www.twitter.com/" target="_blank" aria-label="share us on twitter">
                     <i class="fa-brands fa-twitter"></i>
                     </a>
                     <a href="https://www.pinterest.com/" target="_blank" aria-label="share us on pinterest">
                     <i class="fa-brands fa-linkedin-in"></i>
                     </a>
                   </div>
                 </div>
               </div>
             </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/05.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Jatin Dhameliya</a>
                  </h4>
                  <p>Chief Technology Officer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/00.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Parth Gajera</a>
                  </h4>
                  <p>Marketing Manager</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/04.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Divya Hirpara</a>
                  </h4>
                  <p>Project Manager</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/14.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Priyanshi Kacha</a>
                  </h4>
                  <p>HR Executive</p>
                </div>
              </div>
            </div>
          </div>     
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/06.png" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Lalji Gondaliya</a>
                  </h4>
                  <p>Sr. Full-Stack Developer</p>
                </div>
              </div>
            </div>
          </div>           
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/07.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Raj Kalsariya</a>
                  </h4>
                  <p>Sr. Full-Stack Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/08.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Mokshesh Shah</a>
                  </h4>
                  <p>Sr. Angular Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/09.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Abhay Desai</a>
                  </h4>
                  <p>Sr. ReactJS Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/11_1.png" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Jemish Mangukiya</a>
                  </h4>
                  <p>ReactJS Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/10.png" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Nirav Gabani</a>
                  </h4>
                  <p>Sr. Angular Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/11.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Meet Saradhara</a>
                  </h4>
                  <p>Back-End Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/12.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Harshil Gopani</a>
                  </h4>
                  <p>Sr. Android & Flutter Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/12_1.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Kirti Pansuriya</a>
                  </h4>
                  <p>Flutter Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/13.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Tirth Kevadiya</a>
                  </h4>
                  <p>Flutter Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/19.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Manan Parekh</a>
                  </h4>
                  <p>Sr. Graphic Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/16.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Amiraj Hirpara</a>
                  </h4>
                  <p>Sr. Graphic Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/15.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Hetal Tidke</a>
                  </h4>
                  <p>Graphic Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/21.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Prayag Savaliya</a>
                  </h4>
                  <p>Graphic Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/17.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Sumit Hingu</a>
                  </h4>
                  <p>UI-UX Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/18.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Rohan Hingu</a>
                  </h4>
                  <p>UI-UX Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/20.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Vimal Ahir</a>
                  </h4>
                  <p>Sr. Web & 3D Designer</p>
                </div>
              </div>
            </div>
          </div>                     
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/22.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Harsh Parekh</a>
                  </h4>
                  <p>Sr. Digital Marketing Manager</p>
                </div>
              </div>
            </div>
          </div>                    
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/23.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Chirag Hirpara</a>
                  </h4>
                  <p>Sr. SEO Executive</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/27.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <!-- <div class="info">
                    <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p> -->
                  <!-- </div> -->
                  <h4>
                    <a href="/team">Dhara Kyada</a>
                  </h4>
                  <p>Sr. PHP Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/24.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Prahlad Pawar</a>
                  </h4>
                  <p>Sr. Frontend Developer</p>
                </div>
              </div>
            </div>
          </div>                     
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/25.jpg" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Vishal Kachhadiya</a>
                  </h4>
                  <p>Frontend Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/05_1.png" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Sagar Tada</a>
                  </h4>
                  <p>Sr. Shopify Developer</p>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="team-m__single fade-top">
              <div class="thumb">
                <a href="/team">
                <img src="assets/images/teams/26.png" alt="Image">
                </a>
                <div class="thumb__content" data-background="assets/images/teams/bg.png">
                  <h4>
                    <a href="/team">Udit Bhimani</a>
                  </h4>
                  <p>Sr. Marketing Executive</p>
                </div>
              </div>
            </div>
          </div>                     
        </div>
         <!-- <div class="row">
            <div class="col-12">
               <div class="section__content-cta d-flex justify-content-center">
                  <button class="btn btn--secondary">Load More..</button>
               </div>
            </div>
         </div> -->
      </div>
   </section>
   <!-- ==== / team end ==== -->
</main>
<!-- ==== / main end ==== -->