<main>
  <!-- ==== banner start ==== -->
  <section class="cmn-banner service-single-banner bg-img"
     data-background="assets/images/banner/cmn-banner-bg.png">
     <div class="container">
        <div class="row gaper align-items-center">
           <div class="col-12">
              <div class="text-center text-lg-start">
                 <h2 class="title title-anim">UX/UI Design</h2>
                 <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item">
                          <a href="index.html">
                             <i class="fa-solid fa-house"></i>
                             Home
                          </a>
                       </li>
                       <li class="breadcrumb-item">
                          <a href="our-services.html">
                             Our Services
                          </a>
                       </li>
                       <li class="breadcrumb-item active" aria-current="page">
                        UX/UI Design
                       </li>
                    </ol>
                 </nav>
              </div>
           </div>
           <!-- <div class="col-12 col-lg-7 col-xl-5">
              <div class="slide-group justify-content-center justify-content-lg-end">
                 <a href="service-single.html" aria-label="previous item" class="slide-btn ">
                    <i class="fa-light fa-angle-left"></i>
                 </a>
                 <a href="service-single.html" aria-label="next item" class="slide-btn">
                    <i class="fa-light fa-angle-right"></i>
                 </a>
              </div>
           </div> -->
        </div>
     </div>
  </section>
  <!-- ==== / banner end ==== -->
  <!-- ==== service details start ==== -->
  <section class="section service-details fade-wrapper">
     <div class="container">
        <div class="row justify-content-center">
           <div class="col-12 col-xl-10">
              <div class="service-details__slider">
                 <div class="service-details__slider-single">
                    <div class="poster fade-top">
                       <img src="assets/images/service/uiux.jpg" alt="Image">
                    </div>
                    <div class="details-group section__cta text-start">
                       <h3 class="title-anim">Our Process</h3>
                       <p>By creating user-friendly and visually attractive User Interfaces (UI), we are dedicated to increasing customer happiness. Our methodology is based on the use of cutting-edge technologies and methods, which enables us to produce UI designs that connect with your audience and make an impact.</p>
                       <p>We use the strength of market-leading software programs like Figma, Photoshop, and Adobe Illustrator to accomplish this. These state-of-the-art tools serve as our creative blank slate, enabling us to realize your vision with accuracy and grace. While Photoshop and Illustrator provide us with the ability to create detailed design elements and pixel-perfect images, Figma facilitates seamless collaboration and real-time design.</p>
                       <p>We use the latest technologies and approaches to make sure that your users not only have a smooth and easy experience but are also fascinated by the visual attractiveness of your digital interfaces. We at Scalelot Technologies are here to make sure your online presence is memorable and creates a good first impression since we believe that excellent UI design is the cornerstone of user satisfaction.</p>
                    </div>
                    <!-- <div class="section__content-cta">
                       <div class="row gaper">
                          <div class="col-12 col-lg-7">
                             <div class="details-group">
                                <h3 class="title-anim">Our approach</h3>
                                <p>
                                   We employ proven website design strategies in each and every work,
                                   whether it's a simple informational website or a full-blown e-commerce
                                   website.
                                </p>
                                <p>First we create sitemaps, user flows, and wireframes to hone your
                                   message and desired interaction. Then comes our aesthetically remarkable
                                   designs. Every design is optimized for mobile and desktop to create a
                                   consistent.</p>
                             </div>
                          </div>
                          <div class="col-12 col-lg-5">
                             <div class="poster-small">
                                <img src="assets/images/service/thumb-two.jpg" alt="Image">
                             </div>
                          </div>
                       </div>
                    </div> -->
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!-- ==== / service details end ==== -->
  <!-- ==== cta start ==== -->
  <section class="cta-two section">
     <div class="container">
        <div class="row justify-content-center">
           <div class="col-12 col-xxl-11">
              <div class="cta-two-wrapper bg-img" data-background="assets/images/cta-two-bg.png">
                 <div class="row gaper align-items-center">
                    <div class="col-12 col-lg-8">
                       <div class="cta-two__content">
                          <span>Hello !</span>
                          <h2 class="title-anim">
                             ready to work with us?
                          </h2>
                          <h5>
                             <a href="tel:19-3265-003-420">call: +91 87803 33608</a>
                          </h5>
                       </div>
                    </div>
                    <div class="col-12 col-lg-4">
                       <div class="text-start text-lg-end">
                          <a href="contact-us.html" class="btn btn--tertiary">
                             start a project
                             <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                          </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!-- ==== / cta end ==== -->
</main>